Repository coinbase/onchainkit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, documentation, pkg: core, pkg: fund, pkg: identity, pkg: network, pkg: styles, pkg: swap, pkg: token, pkg: utils, pkg: wallet

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

documentation:
- changed-files:
  - any-glob-to-any-file: site/**

'pkg: core':
- changed-files:
  - any-glob-to-any-file: src/core/**

'pkg: fund':
- changed-files:
  - any-glob-to-any-file: src/fund/**

'pkg: identity':
- changed-files:
  - any-glob-to-any-file: src/identity/**

'pkg: network':
- changed-files:
  - any-glob-to-any-file: src/network/**

'pkg: styles':
- changed-files:
  - any-glob-to-any-file: src/styles/**

'pkg: swap':
- changed-files:
  - any-glob-to-any-file: src/swap/**

'pkg: token':
- changed-files:
  - any-glob-to-any-file: src/token/**

'pkg: utils':
- changed-files:
  - any-glob-to-any-file: src/utils/**

'pkg: wallet':
- changed-files:
  - any-glob-to-any-file: src/wallet/**

ver
  create-onchain/package.json
Labels: none

fix lint and format
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletDropdown.test.tsx
Labels: pkg: wallet

Update param
  src/identity/components/Badge.test.tsx
  src/identity/components/Badge.tsx
  src/identity/components/IdentityCard.test.tsx
  src/identity/components/IdentityCard.tsx
  src/identity/types.ts
Labels: pkg: identity

Clean
  src/identity/components/Badge.test.tsx
  src/identity/components/IdentityCard.test.tsx
Labels: pkg: identity

Improve property comment
  src/identity/components/IdentityCard.tsx
  src/identity/types.ts
Labels: pkg: identity

comment
  src/identity/components/IdentityCard.tsx
  src/identity/types.ts
Labels: pkg: identity

No network call
  src/identity/components/Badge.test.tsx
  src/identity/components/Badge.tsx
Labels: pkg: identity

Fix
  src/styles/tailwind-base.css
Labels: pkg: styles

Remove unnecessary var
  src/identity/components/Badge.tsx
Labels: pkg: identity

fixes
  account-manifest/package.json
  account-manifest/src/components/Page.tsx
  account-manifest/src/hooks/useSignManifest.ts
  account-manifest/src/main.tsx
  create-onchain/package.json
  create-onchain/src/cli.ts
  create-onchain/yarn.lock
Labels: none

Create providers.tsx
  providers.tsx
Labels: root

Create App.tsx
  App.tsx
Labels: root

Fix clean:all script
  package.json
Labels: root

Update README.md
  README.md
Labels: root

Create google.yml
  .github/workflows/google.yml
Labels: none

Create azure-webapps-node.yml
  .github/workflows/azure-webapps-node.yml
Labels: none

Create npm-grunt.yml
  .github/workflows/npm-grunt.yml
Labels: none

Create webpack.yml
  .github/workflows/webpack.yml
Labels: none

Create npm-publish-github-packages.yml
  .github/workflows/npm-publish-github-packages.yml
Labels: none

Create npm-gulp.yml
  .github/workflows/npm-gulp.yml
Labels: none

Create LICENSE
  LICENSE
Labels: root

Update nft-options.tsx
  playground/nextjs-app-router/components/form/nft-options.tsx
Labels: none

rename selectedRecipient and its contents
  src/wallet/components/WalletAdvancedContent.tsx
  src/wallet/components/wallet-advanced-send/components/Send.test.tsx
  src/wallet/components/wallet-advanced-send/components/Send.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressInput.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressInput.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelection.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelection.tsx
  src/wallet/components/wallet-advanced-send/components/SendButton.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendButton.tsx
  src/wallet/components/wallet-advanced-send/components/SendHeader.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendHeader.tsx
  src/wallet/components/wallet-advanced-send/components/SendProvider.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendProvider.tsx
  src/wallet/components/wallet-advanced-send/types.ts
  src/wallet/components/wallet-advanced-send/utils/resolveAddressInput.test.ts
  src/wallet/components/wallet-advanced-send/utils/resolveAddressInput.ts
Labels: pkg: wallet

feedback updates
  src/wallet/components/wallet-advanced-send/components/SendAddressInput.tsx
Labels: pkg: wallet

chore: Ignore .cursorrules (#2144)
  .gitignore
Labels: root

feat: Add Base light and dark theme (#2143)
  .changeset/fluffy-icons-rhyme.md
  src/core/types.ts
  src/internal/hooks/useTheme.test.ts
  src/internal/hooks/useTheme.ts
  src/styles/tailwind-base.css
Labels: pkg: core, pkg: styles

feat: Add Badge tooltip display (#2140)
  .changeset/eight-crabs-tan.md
  src/identity/components/Badge.test.tsx
  src/identity/components/Badge.tsx
  src/identity/components/IdentityCard.test.tsx
  src/identity/components/IdentityCard.tsx
  src/identity/types.ts
Labels: pkg: identity

release latest
  .changeset/eight-crabs-tan.md
  .changeset/fluffy-icons-rhyme.md
  .changeset/soft-melons-lie.md
  .changeset/tall-shirts-live.md
  .changeset/tame-rice-dress.md
  src/version.ts
Labels: none

fix
  .changeset/fluffy-icons-rhyme.md
Labels: none

Build fail
  yarn.lock
Labels: root

Add eslint rules of hooks
  eslint.config.mjs
  package.json
  packages/create-onchain/templates/next/package.json
  packages/playground/package.json
  pnpm-lock.yaml
Labels: root

chore: release (#2151)
  .changeset/eight-crabs-tan.md
  .changeset/fluffy-icons-rhyme.md
  .changeset/soft-melons-lie.md
  .changeset/tall-shirts-live.md
  .changeset/tame-rice-dress.md
  src/version.ts
  yarn.lock
Labels: root

Update documentation
  site/docs/pages/fund/fetch-onramp-config.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

fix: Token ID input htmlFor in playground
  playground/nextjs-app-router/components/form/nft-options.tsx
Labels: none
