Repository coinbase/onchainkit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, documentation, pkg: core, pkg: fund, pkg: identity, pkg: network, pkg: styles, pkg: swap, pkg: token, pkg: utils, pkg: wallet

use address instead
  src/buy/components/BuyOnrampItem.test.tsx
  src/buy/components/BuyOnrampItem.tsx
Labels: none

fix onramp bug
  playground/nextjs-app-router/components/demo/Buy.tsx
  src/buy/components/BuyDropdown.tsx
  src/buy/components/BuyOnrampItem.tsx
Labels: none

lowercase
  src/buy/components/BuyOnrampItem.tsx
Labels: none

update test
  src/buy/components/BuyOnrampItem.test.tsx
Labels: none

chore: fix onramp bug (#2171)
  src/buy/components/BuyDropdown.tsx
  src/buy/components/BuyOnrampItem.test.tsx
  src/buy/components/BuyOnrampItem.tsx
Labels: none

Metamask and Phantom changed to generic browser wallet connection
  src/internal/svg/rabby.tsx
  src/wallet/components/WalletModal.tsx
Labels: none

minor cleanup
  src/wallet/components/WalletModal.tsx
Labels: none

wallet icon updated
  src/internal/svg/browserWalletIconSvg.tsx
  src/wallet/components/WalletModal.tsx
Labels: none

fix: pass in notification details when available
  src/minikit/hooks/useNotification.test.tsx
  src/minikit/hooks/useNotification.ts
Labels: none

poc: minikit
  create-onchain/src/cli.ts
  create-onchain/src/manifest/assets/browser-0t0YC0rb.js
  create-onchain/src/manifest/assets/ccip-K_PoQNED.js
  create-onchain/src/manifest/assets/hooks.module-DVREuRDX.js
  create-onchain/src/manifest/assets/index-BB3bVYbY.js
  create-onchain/src/manifest/assets/index-BSvUHPor.js
  create-onchain/src/manifest/assets/index-TwqOwjr2.js
  create-onchain/src/manifest/assets/index-zcObCFmf.css
  create-onchain/src/manifest/assets/metamask-sdk-DfnqKdXK.js
  create-onchain/src/manifest/index.html
  create-onchain/templates/minikit/.eslintrc.json
  create-onchain/templates/minikit/.yarnrc.yml
  create-onchain/templates/minikit/README.md
  create-onchain/templates/minikit/_gitignore
  create-onchain/templates/minikit/app/.well-known/farcaster.json/route.ts
  create-onchain/templates/minikit/app/api/notify/route.ts
  create-onchain/templates/minikit/app/api/scores/route.ts
  create-onchain/templates/minikit/app/api/webhook/route.ts
  create-onchain/templates/minikit/app/components/Sammy.tsx
  create-onchain/templates/minikit/app/globals.css
  create-onchain/templates/minikit/app/layout.tsx
  create-onchain/templates/minikit/app/page.tsx
  create-onchain/templates/minikit/app/providers.tsx
  create-onchain/templates/minikit/app/svg/ArrowSvg.tsx
  create-onchain/templates/minikit/app/svg/MiniKitLogo.tsx
  create-onchain/templates/minikit/lib/notification-client.ts
  create-onchain/templates/minikit/lib/notification.ts
  create-onchain/templates/minikit/lib/redis.ts
  create-onchain/templates/minikit/lib/scores-client.ts
  create-onchain/templates/minikit/lib/scores.ts
  create-onchain/templates/minikit/next.config.mjs
  create-onchain/templates/minikit/package.json
  create-onchain/templates/minikit/postcss.config.mjs
  create-onchain/templates/minikit/public/minikit.png
  create-onchain/templates/minikit/scripts/generateAccountAssociation.mjs
  create-onchain/templates/minikit/scripts/validateAccountAssociation.mjs
  create-onchain/templates/minikit/tailwind.config.ts
  create-onchain/templates/minikit/tsconfig.json
Labels: none

fix: add webpage to sign manifest
  .github/workflows/cli-test.yml
  account-manifest/.gitignore
  account-manifest/README.md
  account-manifest/eslint.config.js
  account-manifest/index.html
  account-manifest/package.json
  account-manifest/src/App.tsx
  account-manifest/src/components/Page.tsx
  account-manifest/src/components/Step.tsx
  account-manifest/src/components/Success.tsx
  account-manifest/src/components/Timer.tsx
  account-manifest/src/hooks/useGetFid.ts
  account-manifest/src/hooks/useSignManifest.ts
  account-manifest/src/index.css
  account-manifest/src/main.tsx
  account-manifest/src/utils.ts
  account-manifest/src/vite-env.d.ts
  account-manifest/tailwind.config.js
  account-manifest/tsconfig.app.json
  account-manifest/tsconfig.json
  account-manifest/tsconfig.node.json
  account-manifest/vite.config.ts
  create-onchain/.gitignore
  create-onchain/package.json
  create-onchain/src/cli.test.ts
  create-onchain/src/cli.ts
  create-onchain/src/manifest/.gitkeep
  create-onchain/templates/minikit/app/components/Sammy.tsx
  create-onchain/templates/minikit/app/page.tsx
  create-onchain/vitest.config.ts
  create-onchain/yarn.lock
  site/.yarn/install-state.gz
Labels: documentation

fix: redesign
  account-manifest/package.json
  account-manifest/src/components/Page.tsx
  account-manifest/src/components/Step.tsx
  account-manifest/src/components/Success.tsx
  account-manifest/src/index.css
  create-onchain/.gitignore
  create-onchain/package.json
  create-onchain/src/cli.test.ts
  create-onchain/src/cli.ts
  create-onchain/src/manifest/.gitkeep
  create-onchain/src/manifest/assets/browser-0t0YC0rb.js
  create-onchain/src/manifest/assets/ccip-K_PoQNED.js
  create-onchain/src/manifest/assets/hooks.module-DVREuRDX.js
  create-onchain/src/manifest/assets/index-BB3bVYbY.js
  create-onchain/src/manifest/assets/index-BSvUHPor.js
  create-onchain/src/manifest/assets/index-TwqOwjr2.js
  create-onchain/src/manifest/assets/index-zcObCFmf.css
  create-onchain/src/manifest/assets/metamask-sdk-DfnqKdXK.js
  create-onchain/src/manifest/index.html
  create-onchain/templates/minikit/README.md
  create-onchain/templates/minikit/app/api/notify/route.ts
  create-onchain/templates/minikit/app/components/snake.tsx
  create-onchain/templates/minikit/app/globals.css
  create-onchain/templates/minikit/app/layout.tsx
  create-onchain/templates/minikit/app/page.tsx
  create-onchain/templates/minikit/app/providers.tsx
  create-onchain/templates/minikit/app/svg/ArrowSvg.tsx
  create-onchain/templates/minikit/app/svg/Check.tsx
  create-onchain/templates/minikit/app/svg/MiniKitLogo.tsx
  create-onchain/templates/minikit/app/svg/SnakeLogo.tsx
  create-onchain/templates/minikit/app/theme.css
  create-onchain/templates/minikit/package.json
  create-onchain/templates/minikit/public/minikit.png
  create-onchain/templates/minikit/public/snake.png
  create-onchain/templates/minikit/scripts/generateAccountAssociation.mjs
  create-onchain/templates/minikit/scripts/validateAccountAssociation.mjs
  create-onchain/templates/minikit/tailwind.config.ts
  create-onchain/vitest.config.ts
Labels: none

fix: improve error messaging for bootstrapped applications
  create-onchain/templates/minikit/app/api/scores/route.ts
Labels: none

fixes
  account-manifest/src/components/Page.tsx
Labels: none

poc: minikit
  create-onchain/src/manifest/assets/browser-0t0YC0rb.js
  create-onchain/src/manifest/assets/ccip-K_PoQNED.js
  create-onchain/src/manifest/assets/hooks.module-DVREuRDX.js
  create-onchain/src/manifest/assets/index-BB3bVYbY.js
  create-onchain/src/manifest/assets/index-BSvUHPor.js
  create-onchain/src/manifest/assets/index-TwqOwjr2.js
  create-onchain/src/manifest/assets/index-zcObCFmf.css
  create-onchain/src/manifest/assets/metamask-sdk-DfnqKdXK.js
  create-onchain/src/manifest/index.html
  create-onchain/templates/minikit/app/components/Sammy.tsx
  create-onchain/templates/minikit/app/svg/MiniKitLogo.tsx
  create-onchain/templates/minikit/public/minikit.png
  create-onchain/templates/minikit/scripts/generateAccountAssociation.mjs
  create-onchain/templates/minikit/scripts/validateAccountAssociation.mjs
Labels: none

fix: redesign
  create-onchain/package.json
  create-onchain/src/manifest/.gitkeep
  create-onchain/src/manifest/assets/browser-0t0YC0rb.js
  create-onchain/src/manifest/assets/ccip-K_PoQNED.js
  create-onchain/src/manifest/assets/hooks.module-DVREuRDX.js
  create-onchain/src/manifest/assets/index-BB3bVYbY.js
  create-onchain/src/manifest/assets/index-BSvUHPor.js
  create-onchain/src/manifest/assets/index-TwqOwjr2.js
  create-onchain/src/manifest/assets/index-zcObCFmf.css
  create-onchain/src/manifest/assets/metamask-sdk-DfnqKdXK.js
  create-onchain/src/manifest/index.html
  create-onchain/templates/minikit/app/components/Sammy.tsx
  create-onchain/templates/minikit/app/svg/MiniKitLogo.tsx
  create-onchain/templates/minikit/public/minikit.png
  create-onchain/templates/minikit/scripts/generateAccountAssociation.mjs
  create-onchain/templates/minikit/scripts/validateAccountAssociation.mjs
Labels: none

fix: add webpage to sign manifest
  create-onchain/package.json
  create-onchain/src/manifest/.gitkeep
  create-onchain/templates/minikit/app/components/Sammy.tsx
Labels: none

fixes
  account-manifest/package.json
  account-manifest/src/components/Page.tsx
  account-manifest/src/hooks/useSignManifest.ts
  account-manifest/src/main.tsx
  create-onchain/src/cli.ts
  create-onchain/yarn.lock
Labels: none

ver
  create-onchain/package.json
Labels: none

save
  create-onchain/templates/minikit/app/api/scores/route.ts
  package.json
  src/minikit/hooks/useAuthenticate.test.tsx
  src/minikit/hooks/useAuthenticate.ts
  yarn.lock
Labels: root

merge fixes
  account-manifest/src/hooks/useGetFid.ts
  src/minikit/hooks/useAuthenticate.test.tsx
Labels: none

fix: lint/tests
  create-onchain/src/cli.ts
  create-onchain/src/utils.test.ts
  create-onchain/templates/minikit/.prettierrc
  create-onchain/templates/minikit/.yarnrc.yml
  create-onchain/templates/minikit/README.md
  create-onchain/templates/minikit/app/.well-known/farcaster.json/route.ts
  create-onchain/templates/minikit/app/api/notify/route.ts
  create-onchain/templates/minikit/app/api/scores/route.ts
  create-onchain/templates/minikit/app/api/webhook/route.ts
  create-onchain/templates/minikit/app/components/snake.tsx
  create-onchain/templates/minikit/app/globals.css
  create-onchain/templates/minikit/app/layout.tsx
  create-onchain/templates/minikit/app/page.tsx
  create-onchain/templates/minikit/app/providers.tsx
  create-onchain/templates/minikit/app/svg/Check.tsx
  create-onchain/templates/minikit/app/svg/SnakeLogo.tsx
  create-onchain/templates/minikit/app/theme.css
  create-onchain/templates/minikit/lib/notification-client.ts
  create-onchain/templates/minikit/lib/notification.ts
  create-onchain/templates/minikit/lib/redis.ts
  create-onchain/templates/minikit/lib/scores-client.ts
  create-onchain/templates/minikit/lib/scores.ts
  create-onchain/templates/minikit/next.config.mjs
  create-onchain/templates/minikit/package.json
  create-onchain/templates/minikit/tailwind.config.ts
  package.json
  site/.yarn/install-state.gz
  src/minikit/hooks/useAuthenticate.ts
  yarn.lock
Labels: root, documentation

fix: add small updates for no db
  create-onchain/src/cli.ts
  create-onchain/templates/minikit/app/api/scores/route.ts
  create-onchain/templates/minikit/app/components/snake.tsx
Labels: none

fix
  create-onchain/yarn.lock
Labels: none

fix: non-db case
  .github/workflows/cli-test.yml
  account-manifest/src/hooks/useSignManifest.ts
  create-onchain/package.json
  create-onchain/src/cli.ts
  create-onchain/templates/minikit/app/components/snake.tsx
  create-onchain/templates/minikit/app/globals.css
  create-onchain/templates/minikit/app/page.tsx
  create-onchain/templates/minikit/lib/notification.ts
  create-onchain/templates/minikit/lib/redis.ts
  create-onchain/templates/minikit/lib/scores.ts
  create-onchain/templates/minikit/package.json
  yarn.lock
Labels: root

fix greedy keyboard events and ts issue
  account-manifest/src/main.tsx
  create-onchain/templates/minikit/app/components/snake.tsx
Labels: none

fix lint
  account-manifest/src/main.tsx
Labels: none

fix: notification-client accept optional details
  create-onchain/templates/minikit/app/api/notify/route.ts
  create-onchain/templates/minikit/lib/notification-client.ts
Labels: none

fix: remove redis scores
  create-onchain/src/cli.ts
  create-onchain/templates/minikit/app/api/scores/route.ts
  create-onchain/templates/minikit/app/components/snake.tsx
  create-onchain/templates/minikit/lib/redis.ts
  create-onchain/templates/minikit/lib/scores-client.ts
  create-onchain/templates/minikit/lib/scores.ts
Labels: none

fix: pass in notification details when available (#2174)
  src/minikit/hooks/useNotification.test.tsx
  src/minikit/hooks/useNotification.ts
Labels: none

Bump version
  package.json
Labels: root

Update changeset
  .changeset/sixty-bobcats-jam.md
Labels: none

Update version.ts
  package.json
  src/version.ts
Labels: root

chore: release (#2175)
  .changeset/sixty-bobcats-jam.md
  src/version.ts
Labels: none

Fix changelog
  CHANGELOG.md
Labels: root

address pr feedback
  src/wallet/components/WalletAdvancedQrReceive.test.tsx
  src/wallet/components/WalletAdvancedQrReceive.tsx
  src/wallet/components/WalletAdvancedTokenHoldings.tsx
  src/wallet/components/WalletAdvancedTransactionActions.tsx
  src/wallet/components/WalletAdvancedWalletActions.tsx
Labels: none

memo value
  src/wallet/components/WalletProvider.tsx
Labels: none

remove deps
  src/wallet/components/WalletProvider.tsx
Labels: none

add height to send
  src/wallet/components/wallet-advanced-send/components/Send.tsx
Labels: none

bump
  src/wallet/components/WalletProvider.tsx
Labels: none

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

documentation:
- changed-files:
  - any-glob-to-any-file: site/**

'pkg: core':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/core/**

'pkg: fund':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/fund/**

'pkg: identity':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/identity/**

'pkg: network':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/core/network/**

'pkg: styles':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/styles/**

'pkg: swap':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/swap/**

'pkg: token':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/token/**

'pkg: utils':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/core/utils/**

'pkg: wallet':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/wallet/**
