Repository coinbase/onchainkit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, documentation, pkg: core, pkg: fund, pkg: identity, pkg: network, pkg: styles, pkg: swap, pkg: token, pkg: utils, pkg: wallet

Clean
  .github/workflows/site.yml
  playground/nextjs-app-router/public/read-me-banner.png
Labels: none

Fix grep
  .github/workflows/release.yml
Labels: none

remove
  .github/workflows/release.yml
Labels: none

remove unneccesary default children
  src/identity/components/IdentityLayout.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletDropdown.test.tsx
Labels: pkg: identity, pkg: wallet

chore(ONRAMP-5024):Make OnchainKit onramp utils usable without the OCK Provider (in non-React environments) (#2135)
  src/fund/utils/fetchOnrampConfig.test.ts
  src/fund/utils/fetchOnrampConfig.ts
  src/fund/utils/fetchOnrampOptions.test.ts
  src/fund/utils/fetchOnrampOptions.ts
  src/fund/utils/fetchOnrampQuote.test.ts
  src/fund/utils/fetchOnrampQuote.ts
  src/fund/utils/fetchOnrampTransactionStatus.test.ts
  src/fund/utils/fetchOnrampTransactionStatus.ts
Labels: pkg: fund

chore(ONRAMP-5024): Update onramp utils docs (options apiKey param in utils)
  site/docs/pages/fund/fetch-onramp-config.mdx
  site/docs/pages/fund/fetch-onramp-options.mdx
  site/docs/pages/fund/fetch-onramp-quote.mdx
  site/docs/pages/fund/fetch-onramp-transaction-status.mdx
Labels: documentation

address pr feedback
  playground/nextjs-app-router/components/demo/TransactionDefault.tsx
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/types.ts
Labels: none

fix lint
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/Wallet.tsx
Labels: pkg: wallet

add identity componets
  src/wallet/components/WalletDropdown.tsx
Labels: pkg: wallet

send provider uses usePriceQuote directly
  src/internal/hooks/useExchangeRate.test.tsx
  src/internal/hooks/useExchangeRate.tsx
  src/wallet/components/wallet-advanced-send/components/SendProvider.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendProvider.tsx
Labels: pkg: wallet

rename getSendCalldata
  src/wallet/components/wallet-advanced-send/components/SendButton.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendButton.tsx
  src/wallet/components/wallet-advanced-send/utils/getSendCalldata.test.ts
  src/wallet/components/wallet-advanced-send/utils/getSendCalldata.ts
Labels: pkg: wallet

fix lints
  src/wallet/components/wallet-advanced-send/components/SendProvider.test.tsx
Labels: pkg: wallet

feat: NFTCard default children prop
  src/nft/components/NFTCard.test.tsx
  src/nft/components/NFTCard.tsx
  src/nft/components/NFTCardDefault.tsx
  src/nft/types.ts
Labels: none

adjust types
  src/identity/components/IdentityLayout.tsx
  src/identity/types.ts
Labels: pkg: identity

feat: NFTMintCard default children prop
  playground/nextjs-app-router/components/demo/NFTMintCardDefault.tsx
  src/nft/components/NFTMintCard.test.tsx
  src/nft/components/NFTMintCard.tsx
  src/nft/components/NFTMintCardDefault.tsx
  src/nft/types.ts
Labels: none

Organize imports
  src/nft/components/NFTMintCard.tsx
Labels: none

fixes
  account-manifest/src/components/Page.tsx
Labels: none

fix: improve error messaging for bootstrapped applications
  create-onchain/templates/minikit/app/api/scores/route.ts
Labels: none

ver
  create-onchain/package.json
Labels: none

feat: Add Badge tooltip functionality
  src/identity/components/Badge.tsx
  src/identity/components/IdentityCard.tsx
  src/identity/types.ts
Labels: pkg: identity

feat: NFTCard default children prop (#2138)
  src/nft/components/NFTCard.test.tsx
  src/nft/components/NFTCard.tsx
  src/nft/components/NFTCardDefault.tsx
  src/nft/types.ts
Labels: none

feat: NFTMintCard default children prop (#2139)
  playground/nextjs-app-router/components/demo/NFTMintCardDefault.tsx
  src/nft/components/NFTMintCard.test.tsx
  src/nft/components/NFTMintCard.tsx
  src/nft/components/NFTMintCardDefault.tsx
  src/nft/types.ts
Labels: none

refactor wallet component
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletAdvanced.tsx
  src/wallet/components/WalletDropdown.tsx
  src/wallet/types.ts
Labels: pkg: wallet

remove findComponent from walletDropdown
  src/identity/components/Identity.tsx
  src/wallet/components/WalletDropdown.tsx
Labels: pkg: identity, pkg: wallet

add default wallet advanced
  src/wallet/components/WalletAdvanced.tsx
  src/wallet/components/WalletAdvancedDefault.tsx
  src/wallet/types.ts
Labels: pkg: wallet

feat: implement default children for Transaction (#2108)
  playground/nextjs-app-router/components/demo/TransactionDefault.tsx
  src/transaction/components/Transaction.test.tsx
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionDefault.test.tsx
  src/transaction/components/TransactionDefault.tsx
  src/transaction/components/TransactionStatus.test.tsx
  src/transaction/components/TransactionStatus.tsx
  src/transaction/components/TransactionToast.test.tsx
  src/transaction/components/TransactionToast.tsx
  src/transaction/types.ts
Labels: none

fix lint
  src/wallet/components/WalletAdvanced.tsx
Labels: pkg: wallet

working without popover
  src/identity/components/Badge.test.tsx
  src/identity/components/Badge.tsx
Labels: pkg: identity

Clean
  src/identity/components/Badge.test.tsx
Labels: pkg: identity

update
  src/identity/components/Badge.test.tsx
  src/identity/components/Badge.tsx
Labels: pkg: identity

changeset
  .changeset/eight-crabs-tan.md
Labels: none

format
  .changeset/eight-crabs-tan.md
Labels: none

Fix comment
  src/identity/types.ts
Labels: pkg: identity

chore: Update release PR workflow (#2137)
  .github/workflows/release.yml
Labels: none

feat: Add base-light and base-dark theme
  src/core/types.ts
  src/internal/hooks/useTheme.test.ts
  src/internal/hooks/useTheme.ts
  src/styles/tailwind-base.css
Labels: pkg: core, pkg: styles

Adding changeset
  .changeset/fluffy-icons-rhyme.md
Labels: none

chore: Ignore .cursorrules
  .gitignore
Labels: root

formatting
  src/internal/hooks/useTheme.ts
Labels: none

update tests
  src/identity/components/Identity.test.tsx
  src/identity/components/Identity.tsx
  src/identity/components/IdentityCard.test.tsx
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletAdvanced.test.tsx
  src/wallet/components/WalletDropdown.test.tsx
Labels: pkg: identity, pkg: wallet

save
  create-onchain/templates/minikit/app/api/scores/route.ts
  package.json
  src/minikit/hooks/useAuthenticate.test.tsx
  src/minikit/hooks/useAuthenticate.ts
  yarn.lock
Labels: root

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

documentation:
- changed-files:
  - any-glob-to-any-file: site/**

'pkg: core':
- changed-files:
  - any-glob-to-any-file: src/core/**

'pkg: fund':
- changed-files:
  - any-glob-to-any-file: src/fund/**

'pkg: identity':
- changed-files:
  - any-glob-to-any-file: src/identity/**

'pkg: network':
- changed-files:
  - any-glob-to-any-file: src/network/**

'pkg: styles':
- changed-files:
  - any-glob-to-any-file: src/styles/**

'pkg: swap':
- changed-files:
  - any-glob-to-any-file: src/swap/**

'pkg: token':
- changed-files:
  - any-glob-to-any-file: src/token/**

'pkg: utils':
- changed-files:
  - any-glob-to-any-file: src/utils/**

'pkg: wallet':
- changed-files:
  - any-glob-to-any-file: src/wallet/**
