Repository coinbase/onchainkit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, documentation, pkg: core, pkg: fund, pkg: identity, pkg: network, pkg: styles, pkg: swap, pkg: token, pkg: utils, pkg: wallet

Update dependencies + pnpm-lock.yaml
  packages/onchainkit/package.json
  packages/site/package.json
  pnpm-lock.yaml
Labels: root

Delete /site package.json
  packages/site/package.json
Labels: none

Create top level vercel folder and move the site redirects into it
  packages/site/README.md
  vercel/onchainkit-routes/vercel.json
Labels: none

Add redirect for testing
  vercel/vercel.json
Labels: none

Add test redirects for both /vercel and /site
  site/vercel.json
  vercel/vercel.json
Labels: documentation

feat: WalletAdvanced Send (#2134)
  playground/nextjs-app-router/onchainkit/package.json
  src/internal/hooks/useExchangeRate.test.tsx
  src/internal/hooks/useExchangeRate.tsx
  src/wallet/components/WalletAdvancedContent.test.tsx
  src/wallet/components/WalletAdvancedContent.tsx
  src/wallet/components/WalletAdvancedTransactionActions.test.tsx
  src/wallet/components/WalletAdvancedTransactionActions.tsx
  src/wallet/components/wallet-advanced-send/components/Send.test.tsx
  src/wallet/components/wallet-advanced-send/components/Send.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressInput.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressInput.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelection.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelection.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelector.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelector.tsx
  src/wallet/components/wallet-advanced-send/components/SendButton.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendButton.tsx
  src/wallet/components/wallet-advanced-send/components/SendHeader.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendHeader.tsx
  src/wallet/components/wallet-advanced-send/components/SendProvider.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendProvider.tsx
  src/wallet/components/wallet-advanced-send/constants.ts
  src/wallet/components/wallet-advanced-send/types.ts
  src/wallet/components/wallet-advanced-send/utils/getSendCalldata.test.ts
  src/wallet/components/wallet-advanced-send/utils/getSendCalldata.ts
  src/wallet/components/wallet-advanced-send/utils/resolveAddressInput.test.ts
  src/wallet/components/wallet-advanced-send/utils/resolveAddressInput.ts
  src/wallet/types.ts
Labels: none

Zero out root package version
  package.json
Labels: root

chore: release
  package.json
  src/version.ts
Labels: root

changeset
  .changeset/tall-shirts-live.md
Labels: none

fix
  package.json
Labels: root

chore: release (#2160)
  .changeset/tall-shirts-live.md
  src/version.ts
Labels: none

format
  CHANGELOG.md
Labels: root

format
  CHANGELOG.md
Labels: root

test: Add redirects to verify which vercel.json file is being used
  site/vercel.json
  vercel/vercel.json
Labels: documentation

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

documentation:
- changed-files:
  - any-glob-to-any-file: site/**

'pkg: core':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/core/**

'pkg: fund':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/src/fund/**

'pkg: identity':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/identity/**

'pkg: network':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/network/**

'pkg: styles':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/styles/**

'pkg: swap':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/swap/**

'pkg: token':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/token/**

'pkg: utils':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/utils/**

'pkg: wallet':
- changed-files:
  - any-glob-to-any-file: packages/onchainkit/wallet/**
