Repository coinbase/onchainkit, pull requests merged in 2024-07, with the labels that each got.

#751 chore: release
  .changeset/real-guests-repeat.md
  .changeset/six-crabs-teach.md
  .changeset/wise-goats-brake.md
  CHANGELOG.md
  README.md
  site/docs/pages/swap/swap.mdx
  site/docs/public/logo/v0-22.png
  src/version.ts
Labels: documentation, root

#752 docs: polish
  site/.env.local.example
  site/docs/components/AccountConnect.tsx
  site/docs/pages/index.mdx
  site/docs/pages/swap/swap.mdx
  site/docs/pages/wallet/types.mdx
  site/docs/pages/wallet/wallet.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#754 feat: polishing Swap. & Wallet types
  .changeset/slow-beers-glow.md
  CHANGELOG.md
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  site/docs/pages/wallet/types.mdx
  site/docs/pages/wallet/wallet.mdx
  src/swap/index.ts
  src/swap/types.ts
  src/wallet/components/ConnectAccount.tsx
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/WalletDropdownDisconnect.tsx
  src/wallet/components/WalletDropdownLink.tsx
  src/wallet/components/WalletProvider.tsx
  src/wallet/index.ts
  src/wallet/types.ts
Labels: documentation, pkg: swap, root, pkg: wallet

#756 chore: release
  README.md
  site/docs/pages/getting-started.mdx
  site/docs/public/logo/v0-23.png
  src/version.ts
Labels: documentation, root

#757 docs: latest
  CHANGELOG.md
  site/docs/components/WalletComponents.tsx
  site/docs/components/WalletDemo.tsx
  site/docs/pages/index.mdx
  site/docs/pages/wallet/wallet.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#763 feat: init Transaction module
  .changeset/nine-yaks-yawn.md
  package.json
  src/swap/types.ts
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/index.ts
  src/transaction/types.ts
Labels: pkg: swap, root

#767 chore: release
  .changeset/sixty-flies-own.md
  CHANGELOG.md
  src/version.ts
Labels: root

#733 docs: Add isSliced option to Address and remove slice logic from Name
  .changeset/famous-readers-matter.md
  site/docs/pages/identity/address.mdx
  site/docs/pages/identity/name.mdx
  site/docs/pages/identity/types.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, pkg: identity

#772 docs: Add getting started create env file image
  .changeset/hot-emus-yawn.md
  site/docs/public/assets/getting-started-create-env-file.png
Labels: documentation

#762 chore: update landing page
  site/docs/pages/index.mdx
  site/docs/public/assets/frame.png
  site/docs/public/assets/onchain-figma.png
  site/docs/public/assets/onchain-tweet-1.png
  site/docs/public/assets/onchain-tweet-2.png
  site/docs/public/assets/onchain-tweet-3.png
  site/docs/public/assets/warpcast-logo.png
  site/docs/styles.css
Labels: documentation

#770 docs: Update Name and Address code snippets and component examples
  .changeset/ninety-rats-applaud.md
  site/docs/pages/identity/address.mdx
  site/docs/pages/identity/name.mdx
Labels: documentation

#771 docs: Add .env instructions to the Getting Started page
  .changeset/honest-queens-guess.md
  site/docs/pages/getting-started.mdx
Labels: documentation

#776 fix: build
  CHANGELOG.md
  package.json
  tsconfig.json
  yarn.lock
Labels: root

#774 chore: landing page polishing
  site/docs/components/landing/NavigationList.tsx
  site/docs/pages/index.mdx
  site/docs/styles.css
  site/sidebar.ts
Labels: documentation

#777 docs: Add Wrap Your App with OnchainProviders section
  .changeset/strong-icons-pump.md
  site/docs/pages/getting-started.mdx
Labels: documentation

#780 chore: simplified type for `getAttestations`
  .changeset/famous-readers-matter.md
  .changeset/honest-queens-guess.md
  .changeset/hot-emus-yawn.md
  .changeset/ninety-rats-applaud.md
  .changeset/strong-icons-pump.md
  README.md
  site/docs/pages/identity/get-attestations.mdx
  site/docs/public/logo/v0-24.png
  src/identity/getAttestations.ts
  src/index.ts
  src/version.ts
Labels: documentation, root, pkg: identity

#783 fix: test
  src/OnchainKitProvider.test.tsx
  src/frame/getFrameMessage.integ.ts
  src/identity/components/Address.test.tsx
  src/identity/components/Avatar.test.tsx
  src/identity/components/EthBalance.test.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/Name.test.tsx
  src/internal/testing/index.ts
  src/internal/testing/mock.ts
  src/internal/testing/silenceError.ts
Labels: pkg: identity, pkg: frame

#782 docs: Add Next Steps to the Getting Started page
  .changeset/sweet-drinks-impress.md
  site/docs/pages/getting-started.mdx
Labels: documentation

#781 Feat: Add chain to useName
  .changeset/late-keys-deny.md
  src/identity/components/Name.stories.tsx
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
  src/identity/core/getName.test.tsx
  src/identity/core/getName.ts
  src/identity/hooks/getNewReactQueryTestProvider.tsx
  src/identity/hooks/useName.test.tsx
  src/identity/hooks/useName.ts
  src/identity/types.ts
Labels: pkg: identity

#786 chore: release
  .changeset/late-keys-deny.md
  .changeset/sweet-drinks-impress.md
  src/identity/types.ts
  src/version.ts
Labels: pkg: identity

#761 feat: [Swap] ERC-20 Approval Flow
  .changeset/sharp-oranges-kick.md
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/constants.ts
  src/swap/core/getSwapError.test.ts
  src/swap/core/getSwapError.ts
  src/swap/core/getSwapErrorCode.test.ts
  src/swap/core/getSwapErrorCode.ts
  src/swap/core/getSwapMessage.test.ts
  src/swap/core/getSwapMessage.ts
  src/swap/types.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
Labels: documentation, pkg: swap, root

#785 Feat: add chain to IdentityProvider and Identity
  .changeset/old-beds-yawn.md
  src/identity/components/Address.test.tsx
  src/identity/components/Address.tsx
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/DisplayBadge.test.tsx
  src/identity/components/DisplayBadge.tsx
  src/identity/components/EthBalance.test.tsx
  src/identity/components/EthBalance.tsx
  src/identity/components/Identity.tsx
  src/identity/components/IdentityProvider.test.tsx
  src/identity/components/IdentityProvider.tsx
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
  src/identity/types.ts
Labels: pkg: identity

#791 chore: release
  .changeset/old-beds-yawn.md
  .changeset/sharp-oranges-kick.md
  CHANGELOG.md
  README.md
  site/docs/public/logo/v0-25.png
  src/version.ts
  vitest.config.ts
Labels: documentation, root

#790 feat: disable `SwapButton` on landing
  site/docs/pages/index.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#792 Feat: getName: Default to ENS name when custom chain name is not available
  .changeset/tame-suns-rule.md
  src/identity/core/getName.test.tsx
  src/identity/core/getName.ts
  src/identity/hooks/useName.test.tsx
Labels: pkg: identity

#795 chore: tests
  vitest.config.ts
Labels: root

#796 chore: release
  .changeset/tame-suns-rule.md
  CHANGELOG.md
  README.md
  src/version.ts
Labels: root

#798 feat: boost lint
  biome.json
  src/OnchainKitProvider.test.tsx
  src/farcaster/getFarcasterUserAddress.ts
  src/frame/components/FrameMetadata.test.tsx
  src/frame/components/FrameMetadata.tsx
  src/frame/getFrameHtmlResponse.test.ts
  src/frame/getFrameHtmlResponse.ts
  src/frame/getFrameMessage.ts
  src/frame/getFrameMetadata.ts
  src/identity/components/Address.test.tsx
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/Badge.test.tsx
  src/identity/components/DisplayBadge.test.tsx
  src/identity/components/EthBalance.test.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/IdentityLayout.test.tsx
  src/identity/components/IdentityProvider.test.tsx
  src/identity/components/IdentityProvider.tsx
  src/identity/components/Name.test.tsx
  src/internal/loading/Spinner.test.tsx
  src/internal/utils/findComponent.test.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/core/buildSwapTransaction.ts
  src/swap/core/getSwapError.test.ts
  src/swap/core/getSwapQuote.ts
  src/swap/hooks/useSwapBalances.tsx
  src/swap/types.ts
  src/swap/utils/useFromTo.ts
  src/token/components/TokenChip.test.tsx
  src/token/components/TokenImage.test.tsx
  src/token/components/TokenRow.test.tsx
  src/token/components/TokenSearch.stories.tsx
  src/token/components/TokenSearch.test.tsx
  src/token/components/TokenSearch.tsx
  src/token/components/TokenSelectButton.test.tsx
  src/token/components/TokenSelectDropdown.test.tsx
  src/token/components/TokenSelectModal.test.tsx
  src/token/core/getToken.test.ts
  src/useOnchainKit.test.tsx
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/WalletDropdown.test.tsx
  src/wallet/components/WalletProvider.test.tsx
  src/xmtp/getXmtpFrameMessage.ts
  vitest.config.ts
Labels: pkg: swap, root, pkg: token, pkg: identity, pkg: frame, pkg: wallet, pkg: xmtp, pkg: farcaster

#799 chore: lint
  biome.json
  site/docs/components/App.tsx
  site/docs/components/SwapWrapper.tsx
  src/frame/components/FrameMetadata.test.tsx
  src/frame/getFrameHtmlResponse.ts
  src/identity/components/EthBalance.test.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/Identity.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/easSupportedChains.test.ts
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/core/getSwapMessage.test.ts
  src/swap/core/getTokenBalances.test.ts
  src/swap/hooks/useSwapBalances.tsx
  src/token/components/TokenSearch.stories.tsx
  src/token/components/TokenSelectButton.test.tsx
  src/token/components/TokenSelectDropdown.stories.tsx
  src/token/components/getTokenImageColor.ts
  src/utils/neynar/getDataFromNeynar.test.ts
  src/utils/neynar/postDataToNeynar.test.ts
  src/wallet/components/ConnectWallet.tsx
  src/wallet/core/useGetETHBalance.test.ts
  src/xmtp/getXmtpFrameMessage.test.ts
  vitest.config.ts
Labels: documentation, pkg: swap, root, pkg: token, pkg: utils, pkg: identity, pkg: frame, pkg: wallet, pkg: xmtp

#801 docs: init wallet aggregator
  CHANGELOG.md
  site/docs/components/App.tsx
  site/docs/components/AppWithRK.tsx
  site/docs/components/WalletComponentsWithRK.tsx
  site/docs/pages/wallet/wallet.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#804 Fix: Update type documentation for custom chain name resolution
  .changeset/flat-readers-reflect.md
  site/docs/pages/identity/types.mdx
  site/docs/pages/identity/use-name.mdx
Labels: documentation

#793 docs: Deprecate introduction pages
  .changeset/nasty-singers-train.md
  site/docs/pages/farcaster/introduction.mdx
  site/docs/pages/getting-started.mdx
  site/docs/pages/identity/introduction.mdx
  site/docs/pages/index.mdx
  site/docs/pages/token/introduction.mdx
  site/sidebar.ts
Labels: documentation

#806 docs: Add Terms of Service
  .changeset/forty-carpets-double.md
  site/docs/pages/index.mdx
Labels: documentation

#809 docs: Update TOS
  .changeset/cool-nails-wash.md
  site/docs/pages/index.mdx
Labels: documentation

#807 chore: Add Identity.tsx unit tests
  .changeset/big-worms-sparkle.md
  src/identity/components/Identity.test.tsx
Labels: pkg: identity

#808 chore: Ignore SVG files during testing
  .changeset/moody-deers-occur.md
  vitest.config.ts
Labels: root

#810 chore: Add WalletDropdown Disconnect and Link tests
  .changeset/wet-cougars-pay.md
  src/wallet/components/WalletDropdownDisconnect.test.tsx
  src/wallet/components/WalletDropdownLink.test.tsx
Labels: pkg: wallet

#815 chore: updated Viem and Wagmi
  .changeset/big-worms-sparkle.md
  .changeset/cool-nails-wash.md
  .changeset/eight-buses-enjoy.md
  .changeset/flat-readers-reflect.md
  .changeset/forty-carpets-double.md
  .changeset/moody-deers-occur.md
  .changeset/nasty-singers-train.md
  .changeset/wet-cougars-pay.md
  package.json
  yarn.lock
Labels: root

#787 feat: add transaction components
  site/docs/components/TransactionWrapper.tsx
  site/docs/pages/transaction/transaction.mdx
  site/sidebar.ts
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionButton.stories.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionGasFee.tsx
  src/transaction/components/TransactionGasFeeEstimate.tsx
  src/transaction/components/TransactionGasFeeLabel.tsx
  src/transaction/components/TransactionGasFeeSponsoredBy.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionStatus.tsx
  src/transaction/components/TransactionStatusAction.tsx
  src/transaction/components/TransactionStatusLabel.tsx
  src/transaction/core/getChainExplorer.ts
  src/transaction/core/useGetTransactionStatus.tsx
  src/transaction/core/useWriteContracts.ts
  src/transaction/types.ts
Labels: documentation

#816 fix: lint
  .changeset/eight-buses-enjoy.md
  site/docs/pages/transaction/transaction.mdx
  src/network/getChainExplorer.ts
  src/styles/theme.ts
  src/transaction/components/TransactionButton.tsx
  src/transaction/core/useGetTransactionStatus.tsx
  vitest.config.ts
Labels: documentation, root, pkg: styles, pkg: network

#819 chore: release
  src/version.ts
Labels: documentation, pkg: swap, root, pkg: styles, pkg: token, pkg: utils, pkg: identity, pkg: frame, pkg: network, pkg: wallet, pkg: farcaster

#820 chore: export Transaction components
  .changeset/silver-geckos-think.md
  biome.json
  site/package.json
  site/yarn.lock
  src/transaction/components/TransactionGasFeeSponsor.tsx
  src/transaction/index.ts
  src/transaction/types.ts
  src/version.ts
Labels: documentation, root

#823 docs: update docs to set wagmiConfig to `smartWalletOnly`
  site/docs/pages/getting-started.mdx
Labels: documentation

#818 feat: Add transaction toast components
  site/docs/pages/transaction/transaction.mdx
  src/internal/loading/Spinner.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionToast.tsx
  src/transaction/components/TransactionToastAction.tsx
  src/transaction/components/TransactionToastIcon.tsx
  src/transaction/components/TransactionToastLabel.tsx
  src/transaction/core/useGetTransactionToast.tsx
  src/transaction/types.ts
Labels: documentation

#824 fix: Transaction demo
  .gitignore
  package.json
  site/docs/pages/transaction/transaction.mdx
Labels: documentation, root

#825 chore: fix
  vitest.config.ts
Labels: root

#826 feat: adjust writeContracts functionality
  site/docs/components/App.tsx
  src/transaction/components/TransactionGasFee.tsx
Labels: documentation

#827 chore: release
  .changeset/wise-hounds-grow.md
  CHANGELOG.md
  site/docs/pages/transaction/transaction.mdx
  site/package.json
  site/yarn.lock
  src/version.ts
  vitest.config.ts
Labels: documentation, root

#829 docs: latest
  CHANGELOG.md
  site/docs/pages/transaction/transaction.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#833 chore: Landing page fixes
  .changeset/six-poets-pull.md
  site/docs/pages/index.mdx
Labels: documentation

#834 docs: bye bye light theme
  site/vocs.config.tsx
Labels: documentation

#831 chore: adjust transaction action component
  .changeset/lazy-shoes-work.md
  site/docs/pages/transaction/types.mdx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionStatusAction.tsx
  src/transaction/components/TransactionStatusLabel.tsx
  src/transaction/components/TransactionToastAction.tsx
  src/transaction/components/TransactionToastIcon.tsx
  src/transaction/components/TransactionToastLabel.tsx
  src/transaction/hooks/useCallsStatus.ts
  src/transaction/hooks/useGetTransactionStatus.tsx
  src/transaction/hooks/useGetTransactionToast.tsx
  src/transaction/hooks/useWriteContracts.ts
  src/transaction/types.ts
Labels: documentation

#836 docs: Update code block styling
  .changeset/six-poets-pull.md
  site/docs/pages/index.mdx
  site/docs/styles.css
Labels: documentation

#838 chore: release
  .changeset/lazy-shoes-work.md
  .changeset/six-poets-pull.md
  README.md
  biome.json
  package.json
  site/docs/pages/getting-started.mdx
  site/docs/pages/index.mdx
  src/internal/components/Spinner.test.tsx
  src/internal/components/Spinner.tsx
  src/internal/components/TextInput.tsx
  src/internal/hooks/useDebounce.ts
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapButton.tsx
  src/token/components/TokenSearch.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionStatusAction.test.tsx
  src/transaction/components/TransactionStatusLabel.test.tsx
  src/transaction/hooks/useGetTransactionToast.tsx
  src/version.ts
  src/wallet/components/ConnectWallet.tsx
  vitest.config.ts
Labels: documentation, pkg: swap, root, pkg: token, pkg: wallet

#839 chore: cleanup
  src/OnchainKitProvider.tsx
  src/farcaster/getFarcasterUserAddress.test.ts
  src/farcaster/getFarcasterUserAddress.ts
  src/frame/getFrameMessage.test.ts
  src/frame/getFrameMessage.ts
  src/frame/types.ts
  src/identity/components/EthBalance.test.tsx
  src/identity/components/EthBalance.tsx
  src/internal/utils/checkHashLength.test.ts
  src/internal/utils/checkHashLength.ts
  src/internal/utils/findComponent.ts
  src/internal/utils/formatTokenAmount.test.ts
  src/internal/utils/formatTokenAmount.ts
  src/internal/utils/getRoundedAmount.test.ts
  src/internal/utils/getRoundedAmount.ts
  src/internal/utils/isValidAmount.test.ts
  src/internal/utils/isValidAmount.ts
  src/network/neynar/exceptions/FetchError.ts
  src/network/neynar/frame/convertToNeynarResponseModel.ts
  src/network/neynar/frame/neynarFrameValidation.test.ts
  src/network/neynar/frame/neynarFrameValidation.ts
  src/network/neynar/frame/types.ts
  src/network/neynar/getDataFromNeynar.test.ts
  src/network/neynar/getDataFromNeynar.ts
  src/network/neynar/postDataToNeynar.test.ts
  src/network/neynar/postDataToNeynar.ts
  src/network/neynar/user/convertToNeynarResponseModel.test.ts
  src/network/neynar/user/convertToNeynarResponseModel.ts
  src/network/neynar/user/convertToNeynarUserModel.test.ts
  src/network/neynar/user/convertToNeynarUserModel.ts
  src/network/neynar/user/getCustodyAddressForFidNeynar.test.ts
  src/network/neynar/user/getCustodyAddressForFidNeynar.ts
  src/network/neynar/user/getVerifiedAddressesForFidNeynar.test.ts
  src/network/neynar/user/getVerifiedAddressesForFidNeynar.ts
  src/network/neynar/user/neynarBulkUserLookup.test.ts
  src/network/neynar/user/neynarBulkUserLookup.ts
  src/network/neynar/user/types.ts
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/core/getTokenBalances.ts
  src/wallet/core/useGetETHBalance.ts
  src/wallet/core/useGetTokenBalance.ts
Labels: pkg: swap, pkg: identity, pkg: frame, pkg: network, pkg: wallet, pkg: farcaster

#840 docs: update transaction
  site/docs/pages/index.mdx
  site/docs/pages/transaction/transaction.mdx
  site/vocs.config.tsx
Labels: documentation

#841 docs: fix
  site/docs/components/App.tsx
Labels: documentation

#842 chore: Return the sliced address when no ENS name is found
  .changeset/lazy-shoes-work.md
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
Labels: documentation, root, pkg: identity

#843 chore: cleaup identity
  .changeset/lazy-shoes-work.md
  package.json
  src/identity/components/Address.test.tsx
  src/identity/components/Address.tsx
  src/identity/components/Avatar.stories.tsx
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/Badge.tsx
  src/identity/components/DisplayBadge.test.tsx
  src/identity/components/DisplayBadge.tsx
  src/identity/components/EthBalance.stories.tsx
  src/identity/components/EthBalance.test.tsx
  src/identity/components/EthBalance.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/Identity.tsx
  src/identity/components/IdentityLayout.test.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/components/IdentityProvider.test.tsx
  src/identity/components/IdentityProvider.tsx
  src/identity/components/Name.stories.tsx
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
  src/identity/hooks/useAttestations.test.ts
  src/identity/hooks/useAttestations.ts
  src/identity/hooks/useAvatar.test.tsx
  src/identity/hooks/useAvatar.ts
  src/identity/hooks/useName.test.tsx
  src/identity/hooks/useName.ts
  src/identity/index.ts
  src/identity/utils/convertReverseNodeToBytes.test.ts
  src/identity/utils/convertReverseNodeToBytes.ts
  src/identity/utils/easSupportedChains.test.ts
  src/identity/utils/easSupportedChains.ts
  src/identity/utils/getAttestations.test.ts
  src/identity/utils/getAttestations.ts
  src/identity/utils/getAvatar.test.tsx
  src/identity/utils/getAvatar.ts
  src/identity/utils/getName.test.tsx
  src/identity/utils/getName.ts
  src/identity/utils/getSlicedAddress.test.ts
  src/identity/utils/getSlicedAddress.ts
  src/network/createEasGraphQLClient.ts
Labels: root, pkg: identity, pkg: network

#844 docs: latest
  CHANGELOG.md
  site/docs/pages/config/onchainkit-provider.mdx
  site/docs/pages/identity/identity.mdx
  site/docs/pages/swap/swap.mdx
  site/docs/pages/wallet/wallet.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#845 chore: typo fix
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#846 docs: fix
  site/docs/components/App.tsx
Labels: documentation

#847 chore: Update sliced address display
  .changeset/modern-cameras-reflect.md
  src/identity/utils/getSlicedAddress.test.ts
  src/identity/utils/getSlicedAddress.ts
Labels: documentation, pkg: identity

#851 chore: cleanup
  .changeset/modern-cameras-reflect.md
  package.json
  src/core/index.ts
  src/farcaster/getFarcasterUserAddress.test.ts
  src/farcaster/getFarcasterUserAddress.ts
  src/frame/components/FrameMetadata.test.tsx
  src/frame/index.ts
  src/frame/types.ts
  src/frame/utils/getFrameHtmlResponse.test.ts
  src/frame/utils/getFrameHtmlResponse.ts
  src/frame/utils/getFrameMessage.test.ts
  src/frame/utils/getFrameMessage.ts
  src/frame/utils/getFrameMetadata.test.ts
  src/frame/utils/getFrameMetadata.ts
  src/frame/utils/getMockFrameRequest.ts
  src/network/attestations.test.ts
  src/network/attestations.ts
  src/network/client.ts
  src/network/getChainPublicClient.ts
  src/network/neynar/FetchError.ts
  src/network/neynar/convertToNeynarResponseModel.ts
  src/network/neynar/convertToNeynarUserModel.test.ts
  src/network/neynar/convertToNeynarUserModel.ts
  src/network/neynar/convertToNeynarUserResponseModel.test.ts
  src/network/neynar/convertToNeynarUserResponseModel.ts
  src/network/neynar/getCustodyAddressForFidNeynar.test.ts
  src/network/neynar/getCustodyAddressForFidNeynar.ts
  src/network/neynar/getDataFromNeynar.test.ts
  src/network/neynar/getDataFromNeynar.ts
  src/network/neynar/getVerifiedAddressesForFidNeynar.test.ts
  src/network/neynar/getVerifiedAddressesForFidNeynar.ts
  src/network/neynar/neynarBulkUserLookup.test.ts
  src/network/neynar/neynarBulkUserLookup.ts
  src/network/neynar/neynarFrameValidation.test.ts
  src/network/neynar/neynarFrameValidation.ts
  src/network/neynar/postDataToNeynar.test.ts
  src/network/neynar/postDataToNeynar.ts
  src/network/neynar/types.ts
  src/network/neynar/user/types.ts
  src/styles/theme.ts
Labels: root, pkg: styles, pkg: frame, pkg: network, pkg: farcaster, pkg: core

#853 Add transaction sponsor component
  site/docs/pages/transaction/transaction.mdx
  src/transaction/components/TransactionGasFee.test.tsx
  src/transaction/components/TransactionGasFee.tsx
  src/transaction/components/TransactionGasFeeEstimate.test.tsx
  src/transaction/components/TransactionGasFeeEstimate.tsx
  src/transaction/components/TransactionGasFeeLabel.test.tsx
  src/transaction/components/TransactionGasFeeLabel.tsx
  src/transaction/components/TransactionGasFeeSponsor.tsx
  src/transaction/components/TransactionGasFeeSponsoredBy.test.tsx
  src/transaction/components/TransactionSponsor.test.tsx
  src/transaction/components/TransactionSponsor.tsx
  src/transaction/components/TransactionToastAction.test.tsx
  src/transaction/index.ts
  src/transaction/types.ts
Labels: documentation

#857 docs: latest
  site/docs/components/TransactionWrapper.tsx
  site/docs/pages/swap/swap.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#859 chore: Add tests for getChainExplorer
  .changeset/selfish-coats-battle.md
  src/network/getChainExplorer.test.ts
Labels: documentation, pkg: network

#862 chore: Add tests for convertToNeynarResponseModel
  .changeset/soft-ears-clean.md
  src/internal/utils/findComponent.test.tsx
  src/network/neynar/convertToNeynarResponseModel.test.ts
Labels: documentation, pkg: network

#863 chore: Add tests for Swap useFromTo hook
  .changeset/selfish-coats-battle.md
  .changeset/soft-ears-clean.md
  src/swap/hooks/useFromTo.test.ts
Labels: documentation, pkg: swap

#867 feat: added ock prefix to Tailwind style
  .changeset/selfish-coats-battle.md
  CHANGELOG.md
  README.md
  site/docs/pages/guides/tailwind.mdx
  site/docs/public/logo/v0-26.png
  src/identity/components/Badge.test.tsx
  src/styles/tailwind-base.css
  src/styles/theme.ts
  src/version.ts
Labels: documentation, root, pkg: styles, pkg: identity

#868 docs: latest
  site/package.json
  site/yarn.lock
Labels: documentation

#865 feat: added toast animation
  site/tailwind.config.js
  src/internal/svg/closeSvg.tsx
  src/internal/svg/errorSvg.tsx
  src/internal/svg/successSvg.tsx
  src/transaction/components/TransactionToast.tsx
  src/transaction/components/TransactionToastAction.tsx
  src/transaction/components/TransactionToastLabel.tsx
  src/transaction/hooks/useGetTransactionStatus.tsx
  src/transaction/hooks/useGetTransactionToast.tsx
  src/transaction/index.ts
  src/transaction/types.ts
  tailwind.config.js
Labels: documentation, root

#870 fix: copy popover style within the IdenityLayout
  src/identity/components/Avatar.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/IdentityLayout.test.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/hooks/usePopover.ts
  src/internal/svg/defaultAvatarSVG.tsx
  src/internal/svg/defaultLoadingSVG.tsx
  vitest.config.ts
Labels: root, pkg: identity

#871 chore: release
  .changeset/serious-shoes-mate.md
  CHANGELOG.md
  src/version.ts
Labels: root

#873 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#874 Update transaction docs and cleanup code
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
  site/sidebar.ts
  src/transaction/components/TransactionProvider.tsx
  src/transaction/types.ts
Labels: documentation

#877 chore: cleanup
  .changeset/young-pets-buy.md
  site/docs/pages/swap/swap.mdx
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
  site/package.json
  site/yarn.lock
  src/transaction/index.ts
  src/transaction/types.ts
  src/version.ts
  vitest.config.ts
Labels: documentation, root

#869 Fix: Fix the usename hook to use chain.id in the query key to avoid overlap between chains
  .changeset/brown-moose-doubt.md
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/hooks/useName.ts
  src/identity/types.ts
Labels: pkg: identity

#879 fix: swap colors
  .changeset/young-pets-buy.md
  site/docs/pages/swap/types.mdx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/index.ts
  src/swap/types.ts
  vitest.config.ts
Labels: documentation, pkg: swap, root

#880 chore: release
  .changeset/brown-moose-doubt.md
  .changeset/young-pets-buy.md
  site/docs/pages/identity/types.mdx
  vitest.config.ts
Labels: documentation, root

#881 docs: latest
  site/package.json
  site/yarn.lock
Labels: documentation

#882 chore: Add tests to Transaction Provider
  .changeset/curly-carrots-draw.md
  src/transaction/components/TransactionProvider.test.tsx
Labels: documentation

#886 chore: test
  vitest.config.ts
Labels: root

#888 fix: fetch ens
  .changeset/brave-lobsters-begin.md
  .changeset/curly-carrots-draw.md
  CHANGELOG.md
  src/identity/utils/getName.test.tsx
  src/identity/utils/getName.ts
  src/version.ts
Labels: root, pkg: identity

#889 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#878 feat: `v2` Swap API
  src/swap/components/Swap.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/swap/utils/buildSwapTransaction.test.ts
  src/swap/utils/buildSwapTransaction.ts
  src/swap/utils/getSwapQuote.test.ts
  src/swap/utils/getSwapQuote.ts
Labels: pkg: swap

#892 chore: update transaction docs
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#891 Feat: Add ENSIP-19 support to getName
  .changeset/four-cups-shave.md
  src/identity/components/Name.stories.tsx
  src/identity/constants.ts
  src/identity/types.ts
  src/identity/utils/convertChainIdToCoinType.test.ts
  src/identity/utils/convertChainIdToCoinType.ts
  src/identity/utils/convertReverseNodeToBytes.test.ts
  src/identity/utils/convertReverseNodeToBytes.ts
  src/identity/utils/getName.ts
Labels: pkg: identity

#899 chore: release
  .changeset/four-cups-shave.md
  CHANGELOG.md
  site/docs/pages/identity/types.mdx
  src/identity/index.ts
  src/identity/types.ts
  src/version.ts
  vitest.config.ts
Labels: documentation, root, pkg: identity

#895 [fix]: Correctly disconnect the wallet(s)
  .changeset/tasty-apples-double.md
  src/wallet/components/WalletDropdownDisconnect.test.tsx
  src/wallet/components/WalletDropdownDisconnect.tsx
Labels: pkg: wallet

#901 chore: release
  .changeset/tasty-apples-double.md
  CHANGELOG.md
  src/version.ts
Labels: root

#893 chore: Transaction Component Add Paymaster Support + QA cleanup
  .changeset/tricky-clouds-decide.md
  site/docs/components/App.tsx
  site/docs/components/AppWithBaseSepolia.tsx
  site/docs/components/TransactionWrapper.tsx
  site/docs/pages/transaction/transaction.mdx
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/constants.ts
  src/transaction/hooks/useGetTransactionStatus.tsx
  src/transaction/hooks/useWriteContract.ts
  src/transaction/hooks/useWriteContracts.test.ts
  src/transaction/hooks/useWriteContracts.ts
  src/transaction/types.ts
Labels: documentation

#903 Fix: Update resolver for Base Mainnet
  .changeset/long-dragons-camp.md
  src/identity/constants.ts
Labels: pkg: identity

#904 fix: build
  .changeset/long-dragons-camp.md
  .changeset/tricky-clouds-decide.md
  CHANGELOG.md
  src/transaction/components/TransactionProvider.tsx
  src/transaction/hooks/useGetTransactionStatus.tsx
  src/transaction/types.ts
  src/version.ts
Labels: root

#906 docs: latest
  site/docs/pages/wallet/wallet.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#908 fix: WalletCapabilities type
  .changeset/eight-nails-repeat.md
  site/docs/pages/transaction/types.mdx
  src/transaction/index.ts
  src/transaction/types.ts
  src/version.ts
Labels: documentation

#907 feat: add wait for transaction receipt hook
  src/internal/svg/checkmarkSvg.tsx
  src/network/getChainExplorer.ts
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionSponsor.test.tsx
  src/transaction/components/TransactionSponsor.tsx
  src/transaction/components/TransactionToast.tsx
  src/transaction/hooks/useGetTransactionStatus.test.tsx
  src/transaction/hooks/useGetTransactionStatus.tsx
  src/transaction/hooks/useGetTransactionToast.test.tsx
  src/transaction/hooks/useGetTransactionToast.tsx
  src/transaction/types.ts
  src/transaction/utils.test.ts
  src/transaction/utils.ts
Labels: pkg: network

#911 docs: Add transaction anatomy
  .changeset/light-wolves-walk.md
  site/docs/pages/transaction/transaction.mdx
  site/docs/public/assets/onchainkit-transaction-anatomy.png
Labels: documentation

#919 docs: Fix Identity badge styling
  .changeset/seven-seahorses-pay.md
  site/docs/styles.css
Labels: documentation, pkg: identity

#918 docs: Fix Identity Badge page
  .changeset/stale-spies-refuse.md
  site/docs/pages/identity/badge.mdx
Labels: documentation

#921 chore: release
  .changeset/light-wolves-walk.md
  .changeset/seven-seahorses-pay.md
  .changeset/stale-spies-refuse.md
  src/version.ts
  vitest.config.ts
Labels: root

#910 fix: address reload correctly when user switch wallet account
  .changeset/friendly-nails-float.md
  src/identity/components/IdentityProvider.tsx
  src/identity/types.ts
Labels: pkg: identity

#924 docs: Display badge component on landing page
  .changeset/unlucky-falcons-thank.md
  site/docs/pages/identity/badge.mdx
  site/docs/pages/index.mdx
Labels: documentation

#927 docs: Improve Transaction Component Anatomy SEO
  .changeset/thin-stingrays-grab.md
  site/docs/pages/transaction/transaction.mdx
  site/docs/public/assets/onchainkit-components-transaction-anatomy.png
Labels: documentation

#930 chore: release
  .changeset/friendly-nails-float.md
  .changeset/thin-stingrays-grab.md
  .changeset/unlucky-falcons-thank.md
  CHANGELOG.md
  src/version.ts
Labels: root

#923 chore: Additional Transaction component QA
  site/docs/components/TransactionWrapper.tsx
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
  src/internal/svg/checkmarkSvg.tsx
  src/transaction/components/Transaction.test.tsx
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionButton.test.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionSponsor.test.tsx
  src/transaction/components/TransactionSponsor.tsx
  src/transaction/components/TransactionToast.test.tsx
  src/transaction/components/TransactionToast.tsx
  src/transaction/hooks/useCallsStatus.test.ts
  src/transaction/types.ts
Labels: documentation

#912 fix: `formatDecimals` precision
  .changeset/brave-pianos-punch.md
  src/swap/utils/buildSwapTransaction.test.ts
  src/swap/utils/buildSwapTransaction.ts
  src/swap/utils/formatDecimals.test.ts
  src/swap/utils/formatDecimals.ts
  src/swap/utils/fromReadableAmount.test.ts
  src/swap/utils/fromReadableAmount.ts
  src/swap/utils/getAPIParamsForToken.test.ts
  src/swap/utils/getAPIParamsForToken.ts
  src/swap/utils/getSwapQuote.test.ts
  src/swap/utils/getSwapQuote.ts
  src/swap/utils/toReadableAmount.test.ts
  src/swap/utils/toReadableAmount.ts
Labels: pkg: swap, root

#933 chore: release
  .changeset/brave-pianos-punch.md
  CHANGELOG.md
  site/package.json
  site/yarn.lock
  src/version.ts
  vitest.config.ts
Labels: documentation, root

#936 chore: release
  .changeset/lemon-pumpkins-dress.md
  CHANGELOG.md
  site/package.json
  site/yarn.lock
  src/version.ts
  vitest.config.ts
Labels: documentation, root

#928 docs: Add Paymaster section to the Transaction Component docs
  .changeset/twelve-rings-return.md
  site/.env.local.example
  site/docs/pages/transaction/transaction.mdx
  site/docs/public/assets/onchainkit-components-paymaster-endpoint.png
Labels: documentation

#940 docs: Fix Transaction Component Paymaster
  .changeset/twelve-rings-return.md
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#941 chore: playground
  .gitignore
  biome.json
  playground/README.md
  playground/nextjs-app-router/.gitignore
  playground/nextjs-app-router/README.md
  playground/nextjs-app-router/app/favicon.ico
  playground/nextjs-app-router/app/globals.css
  playground/nextjs-app-router/app/layout.tsx
  playground/nextjs-app-router/app/page.tsx
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/components.json
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/OnchainProviders.tsx
  playground/nextjs-app-router/components/demo/Swap.tsx
  playground/nextjs-app-router/components/demo/Transaction.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  playground/nextjs-app-router/components/form/chain.tsx
  playground/nextjs-app-router/components/form/paymaster.tsx
  playground/nextjs-app-router/components/form/wallet-type.tsx
  playground/nextjs-app-router/components/transaction/Click.tsx
  playground/nextjs-app-router/components/ui/button.tsx
  playground/nextjs-app-router/components/ui/dropdown-menu.tsx
  playground/nextjs-app-router/components/ui/input.tsx
  playground/nextjs-app-router/components/ui/label.tsx
  playground/nextjs-app-router/components/ui/radio-group.tsx
  playground/nextjs-app-router/components/ui/select.tsx
  playground/nextjs-app-router/components/ui/switch.tsx
  playground/nextjs-app-router/components/ui/tabs.tsx
  playground/nextjs-app-router/lib/abi/Click.ts
  playground/nextjs-app-router/lib/constants.ts
  playground/nextjs-app-router/lib/hooks.ts
  playground/nextjs-app-router/lib/transactions.ts
  playground/nextjs-app-router/lib/utils.ts
  playground/nextjs-app-router/next.config.mjs
  playground/nextjs-app-router/package.json
  playground/nextjs-app-router/postcss.config.mjs
  playground/nextjs-app-router/public/onchainkit-logo.svg
  playground/nextjs-app-router/tailwind.config.ts
  playground/nextjs-app-router/tsconfig.json
  vitest.config.ts
Labels: root

#943 Update Transaction.mdx to include a note: "If you're using an EoA wallet, If you're using an EoA wallet, make sure to set your Network to Base Sepolia."
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#942 docs: Enforce Base Sepolia on Transaction.mdx
  .changeset/twelve-rings-return.md
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#944 continued Transaction component QA
  site/docs/pages/transaction/types.mdx
  src/transaction/components/TransactionButton.test.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionSponsor.test.tsx
  src/transaction/components/TransactionSponsor.tsx
  src/transaction/components/TransactionToast.tsx
  src/transaction/hooks/useGetTransactionStatus.test.tsx
  src/transaction/hooks/useGetTransactionStatus.tsx
  src/transaction/hooks/useWriteContract.test.ts
  src/transaction/hooks/useWriteContract.ts
  src/transaction/types.ts
Labels: documentation

#948 Remove sponsor name text from docs
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#949 chore: release
  .changeset/calm-ants-compete.md
  .changeset/twelve-rings-return.md
  CHANGELOG.md
  site/package.json
  site/yarn.lock
  src/version.ts
  vitest.config.ts
Labels: documentation, root

#947 docs: Update Transaction Anatomy image
  site/docs/public/assets/onchainkit-components-transaction-anatomy.png
Labels: documentation

#950 chore: playground
  playground/README.md
  playground/nextjs-app-router/.gitignore
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/components/transaction/Click.tsx
  playground/nextjs-app-router/onchainkit/package.json
  playground/nextjs-app-router/package.json
  site/package.json
  site/yarn.lock
Labels: documentation

#913 feat: Implement WalletDropdownBaseName Sub-Component
  .changeset/afraid-dogs-vanish.md
  src/internal/svg/baseNameSvg.tsx
  src/wallet/components/WalletDropdownBaseName.test.tsx
  src/wallet/components/WalletDropdownBaseName.tsx
  src/wallet/index.ts
  src/wallet/types.ts
Labels: documentation, pkg: wallet

#953 chore: release
  .changeset/afraid-dogs-vanish.md
  CHANGELOG.md
  src/version.ts
  src/wallet/components/WalletDropdownBaseName.tsx
  src/wallet/index.ts
  vitest.config.ts
Labels: root, pkg: wallet

#954 fix: playground
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/package.json
  src/identity/components/Name.stories.tsx
Labels: pkg: identity

#955 docs: css
  site/docs/pages/index.mdx
  site/docs/styles.css
  site/package.json
  site/yarn.lock
Labels: documentation

#956 docs: remove tooltip
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#946 feat: add configurable `slippage` for V2 Swap API
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/swap/utils/buildSwapTransaction.test.ts
  src/swap/utils/buildSwapTransaction.ts
  src/swap/utils/getSwapQuote.test.ts
  src/swap/utils/getSwapQuote.ts
Labels: pkg: swap, root

#959 chore: release
  .changeset/dull-goats-flow.md
  CHANGELOG.md
  src/swap/components/SwapProvider.test.tsx
  src/version.ts
  vitest.config.ts
Labels: pkg: swap, root

#914 feat: add `onStart` hook to `SwapButton`
  .changeset/seven-peas-brush.md
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
Labels: pkg: swap

#964 chore: release
  .changeset/seven-peas-brush.md
  src/version.ts
  vitest.config.ts
Labels: root
