Repository coinbase/onchainkit, pull requests merged in 2024-09, with the labels that each got.

#1018 Onchain-app-template-1.png
  site/docs/public/assets/onchain-app-template-1.png
Labels: documentation

#1202 docs: build onchain apps
  site/docs/pages/guides/build-onchain-apps.mdx
  site/docs/public/assets/use-onchain-app-template.png
  site/sidebar.ts
Labels: documentation

#1195 feat: Swap Settings Slippage Input
  .changeset/sixty-clocks-shop.md
  src/styles/index.css
  src/styles/theme.ts
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
  src/swap/index.ts
  src/swap/types.ts
Labels: pkg: swap, pkg: styles

#1206 chore: Swap Settings Slippage fast follow
  .changeset/sixty-clocks-shop.md
  src/swap/components/SwapSettingsSlippageInput.tsx
Labels: pkg: swap

#1196 feat: Swap Settings Slippage Layout
  .changeset/sixty-clocks-shop.md
  src/swap/components/SwapSettingsSlippageLayout.test.tsx
  src/swap/components/SwapSettingsSlippageLayout.tsx
  src/swap/components/SwapSettingsSlippageLayoutBottomSheet.test.tsx
  src/swap/components/SwapSettingsSlippageLayoutBottomSheet.tsx
  src/swap/types.ts
Labels: pkg: swap

#1208 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1181 feat: EIP-5792 in `OnchainKitProvider`
  .changeset/gorgeous-cameras-search.md
  src/OnchainKitConfig.ts
  src/OnchainKitProvider.test.tsx
  src/OnchainKitProvider.tsx
  src/identity/components/IdentityProvider.test.tsx
  src/index.ts
  src/types.ts
  src/useCapabilitiesSafe.test.ts
  src/useCapabilitiesSafe.ts
Labels: pkg: identity

#1211 fix: Fund and Disconnect hover styling in mobile
  .changeset/great-dolls-kiss.md
  playground/nextjs-app-router/components/demo/Swap.tsx
  src/wallet/components/WalletDropdownDisconnect.tsx
  src/wallet/components/WalletDropdownFundLink.tsx
Labels: pkg: wallet

#1217 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1218 Fix: Framegear with Multiple Text Inputs
  framegear/app/page.tsx
  framegear/components/Frame/Frame.tsx
  framegear/components/FrameInput/FrameInput.tsx
  framegear/contexts/TextInputs.tsx
Labels: framegear

#1210 feat: Add Swap Settings
  .changeset/clever-lies-care.md
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettings.test.tsx
  src/swap/components/SwapSettings.tsx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
  src/swap/index.ts
  src/swap/types.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
Labels: pkg: swap

#1221 feat: added isMainnetOnly to isBase and isEthereum utilities #1167
  .changeset/cool-walls-dream.md
  CHANGELOG.md
  site/docs/pages/config/is-ethereum.mdx
  site/docs/public/sitemap.xml
  site/sidebar.ts
  src/isBase.test.ts
  src/isBase.ts
  src/isEthereum.test.ts
  src/isEthereum.ts
  src/types.ts
Labels: documentation, root

#1222 feat: added ConnectWalletText
  .changeset/clever-lies-care.md
  .changeset/cool-walls-dream.md
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/components/demo/Wallet.tsx
  playground/nextjs-app-router/package.json
  site/docs/pages/config/types.mdx
  src/wallet/components/ConnectButton.test.tsx
  src/wallet/components/ConnectButton.tsx
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/ConnectWalletText.test.tsx
  src/wallet/components/ConnectWalletText.tsx
  src/wallet/index.ts
  src/wallet/types.ts
Labels: documentation, pkg: wallet

#1225 docs: transaction
  site/docs/components/TransactionWrapper.tsx
  site/docs/pages/guides/lifecycle-status.mdx
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#1232 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1229 fix: add space between swap input and select
  .changeset/modern-walls-relax.md
  src/swap/components/SwapAmountInput.tsx
Labels: pkg: swap

#1226 docs: implement twoslash on transactions
  site/docs/pages/transaction/transaction.mdx
  site/vocs.config.tsx
Labels: documentation

#1234 feat: added type LifecycleStatusDataShared
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
  src/swap/types.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
Labels: pkg: swap

#1240 docs: missing types
  CHANGELOG.md
  site/docs/pages/api/types.mdx
  site/docs/pages/swap/types.mdx
  src/api/buildSwapTransaction.ts
  src/api/index.ts
  src/api/types.ts
  src/swap/index.ts
  src/swap/types.ts
Labels: documentation, pkg: swap, root

#1176 feat: Add Swap Settings SwapProvider
  playground/nextjs-app-router/components/demo/Swap.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/constants.ts
Labels: pkg: swap, pkg: styles, pkg: wallet

#1242 feat: introduced `config` for the `Swap` component
  .changeset/modern-walls-relax.md
  .changeset/shy-foxes-jog.md
  package.json
  src/swap/components/Swap.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  yarn.lock
Labels: pkg: swap, root

#1243 chore: export getAddress
  src/identity/index.ts
Labels: pkg: identity

#1244 chore: update wallet link to keys.coinbase.com
  playground/nextjs-app-router/components/demo/Wallet.tsx
  site/docs/pages/index.mdx
  site/docs/pages/wallet/wallet-dropdown-link.mdx
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#1245 chore: release
  .changeset/shy-foxes-jog.md
  src/version.ts
Labels: documentation, pkg: swap

#1251 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, pkg: swap, root

#1246 docs: Update Discord link
  site/docs/pages/guides/build-onchain-apps.mdx
  site/docs/pages/index.mdx
Labels: documentation

#1253 fix: seo
  site/docs/pages/getting-started.mdx
  site/docs/pages/guides/build-onchain-apps.mdx
  site/docs/pages/guides/lifecycle-status.mdx
  site/docs/pages/index.mdx
  site/docs/pages/token/types.mdx
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
  site/docs/public/sitemap.xml
  src/token/index.ts
  src/token/types.ts
  src/transaction/types.ts
  src/transaction/utils/sendBatchedTransactions.ts
  src/transaction/utils/sendSingleTransactions.ts
Labels: documentation, pkg: token

#1255 fix: remove circular dependency
  src/swap/constants.ts
  src/swap/utils/getErrorMessage.test.ts
  src/swap/utils/getErrorMessage.ts
  src/swap/utils/getSwapMessage.test.ts
  src/swap/utils/getSwapMessage.ts
Labels: pkg: swap

#1249 fix: update swap lifecyclestatus
  playground/nextjs-app-router/components/demo/Swap.tsx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
  src/swap/types.ts
  src/swap/utils/getSwapMessage.test.ts
  src/swap/utils/getSwapMessage.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
Labels: pkg: swap

#1257 feat: LifeCycle to Lifecycle
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
  src/swap/index.ts
  src/swap/types.ts
  src/swap/utils/getSwapMessage.test.ts
  src/swap/utils/getSwapMessage.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
  src/transaction/components/TransactionButton.test.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionSponsor.test.tsx
  src/transaction/components/TransactionSponsor.tsx
  src/transaction/hooks/useCallsStatus.test.ts
  src/transaction/hooks/useCallsStatus.ts
  src/transaction/hooks/useGetTransactionStatusLabel.test.tsx
  src/transaction/hooks/useGetTransactionStatusLabel.tsx
  src/transaction/hooks/useSendCall.test.ts
  src/transaction/hooks/useSendCall.ts
  src/transaction/hooks/useSendCalls.test.ts
  src/transaction/hooks/useSendCalls.ts
  src/transaction/hooks/useWriteContract.test.ts
  src/transaction/hooks/useWriteContract.ts
  src/transaction/hooks/useWriteContracts.test.ts
  src/transaction/hooks/useWriteContracts.ts
  src/transaction/index.ts
  src/transaction/types.ts
  src/transaction/utils/isSpinnerDisplayed.test.ts
  src/transaction/utils/isSpinnerDisplayed.ts
Labels: pkg: swap

#1250 fix: SwapSlippageInput was visually resetting to default value on error
  site/docs/pages/swap/types.mdx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
  src/swap/types.ts
Labels: documentation, pkg: swap

#1260 chore: release minor
  .changeset/fluffy-apes-float.md
  .changeset/tough-books-study.md
  README.md
  site/docs/public/logo/v0-32.png
  src/version.ts
Labels: documentation, root

#1262 feat: implement two slash in docs
  site/docs/pages/api/build-swap-transaction.mdx
  site/docs/pages/api/get-swap-quote.mdx
  site/docs/pages/api/get-tokens.mdx
  site/docs/pages/config/is-base.mdx
  site/docs/pages/config/is-ethereum.mdx
  site/docs/pages/config/onchainkit-provider.mdx
  site/docs/pages/farcaster/get-farcaster-user-address.mdx
  site/docs/pages/frame/frame-metadata.mdx
  site/docs/pages/frame/framegear.mdx
  site/docs/pages/frame/get-frame-html-response.mdx
  site/docs/pages/frame/get-frame-message.mdx
  site/docs/pages/frame/get-frame-metadata.mdx
  site/docs/pages/getting-started.mdx
  site/docs/pages/guides/lifecycle-status.mdx
  site/docs/pages/guides/use-basename-in-onchain-app.mdx
  site/docs/pages/identity/address.mdx
  site/docs/pages/identity/avatar.mdx
  site/docs/pages/identity/badge.mdx
  site/docs/pages/identity/get-address.mdx
  site/docs/pages/identity/get-attestations.mdx
  site/docs/pages/identity/get-avatar.mdx
  site/docs/pages/identity/get-name.mdx
  site/docs/pages/identity/identity.mdx
  site/docs/pages/identity/name.mdx
  site/docs/pages/identity/use-address.mdx
  site/docs/pages/identity/use-avatar.mdx
  site/docs/pages/identity/use-name.mdx
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  site/docs/pages/token/format-amount.mdx
  site/docs/pages/token/token-chip.mdx
  site/docs/pages/token/token-image.mdx
  site/docs/pages/token/token-row.mdx
  site/docs/pages/token/token-search.mdx
  site/docs/pages/token/token-select-dropdown.mdx
  site/docs/pages/transaction/types.mdx
  site/docs/pages/wallet/is-valid-aa-entrypoint.mdx
  site/docs/pages/wallet/is-wallet-a-coinbase-smart-wallet.mdx
  site/docs/pages/wallet/wallet-dropdown-basename.mdx
  site/docs/pages/wallet/wallet-dropdown-disconnect.mdx
  site/docs/pages/wallet/wallet-dropdown-fund-link.mdx
  site/docs/pages/wallet/wallet-dropdown-link.mdx
  site/docs/pages/wallet/wallet.mdx
  site/docs/pages/xmtp/get-xmtp-frame-message.mdx
  site/docs/pages/xmtp/is-xmtp-frame-request.mdx
  site/docs/styles.css
Labels: documentation

#1266 feat: add twoslash to homepage
  site/docs/pages/index.mdx
Labels: documentation

#1254 feat: set `v2` as default API for `Swap`
  .changeset/nervous-lamps-jog.md
  src/swap/components/Swap.tsx
Labels: pkg: swap

#1268 docs: latest
  playground/nextjs-app-router/components/demo/Swap.tsx
  site/docs/components/TransactionWrapper.tsx
  site/docs/pages/guides/lifecycle-status.mdx
  site/docs/pages/swap/types.mdx
  site/docs/pages/transaction/transaction.mdx
  site/package.json
  site/yarn.lock
  src/swap/components/SwapProvider.tsx
Labels: documentation, pkg: swap

#1270 feat: add utils for batch Swap transactions
  src/swap/types.ts
  src/swap/utils/sendSingleTransactions.test.ts
  src/swap/utils/sendSingleTransactions.ts
  src/swap/utils/sendSwapTransactions.test.ts
  src/swap/utils/sendSwapTransactions.ts
Labels: pkg: swap

#1263 chore: Update SwapSettingsSlippageInput to use Config
  .changeset/late-bottles-greet.md
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
  src/swap/types.ts
Labels: pkg: swap

#1276 docs: wallet story time
  site/docs/components/WalletComponents.tsx
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#1273 chore: Update Swap Settings icon styling
  src/internal/svg/swapSettings.tsx
  src/swap/components/SwapSettings.tsx
Labels: documentation, pkg: swap

#1280 chore: add swap config to playground
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/OnchainProviders.tsx
  playground/nextjs-app-router/components/demo/Swap.tsx
  playground/nextjs-app-router/components/form/swap-config.tsx
  playground/nextjs-app-router/package.json
  src/swap/components/SwapSettingsSlippageInput.tsx
Labels: pkg: swap

#1272 feat: add `atomicBatch` Swap transactions with ERC-20 `from` token
  .changeset/itchy-socks-drop.md
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/hooks/useAwaitCalls.test.ts
  src/swap/hooks/useAwaitCalls.ts
  src/swap/index.ts
  src/swap/types.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
  src/swap/utils/sendSingleTransactions.test.ts
  src/swap/utils/sendSingleTransactions.ts
  src/swap/utils/sendSwapTransactions.test.ts
  src/swap/utils/sendSwapTransactions.ts
Labels: pkg: swap

#1265 docs: SwapSettings
  site/docs/pages/swap/swap-settings.mdx
  site/sidebar.ts
Labels: documentation, pkg: swap

#1283 docs: latest
  site/docs/pages/guides/lifecycle-status.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#1286 feat: Add Swap USD values
  .changeset/beige-hairs-explain.md
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/hooks/useFromTo.test.ts
  src/swap/hooks/useFromTo.ts
  src/swap/types.ts
Labels: pkg: swap

#1281 feat: Add SwapToast component
  playground/nextjs-app-router/components/demo/Swap.tsx
  src/internal/utils/getToastPosition.test.ts
  src/internal/utils/getToastPosition.ts
  src/swap/components/Swap.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapToast.test.tsx
  src/swap/components/SwapToast.tsx
  src/swap/index.ts
  src/swap/types.ts
Labels: pkg: swap

#1292 chore: Clear USD values post successful Swap
  src/swap/hooks/useResetInputs.test.ts
  src/swap/hooks/useResetInputs.ts
Labels: pkg: swap

#1293 feat: add `isSponsored` prop for `Swap`
  .changeset/tame-badgers-fry.md
  playground/nextjs-app-router/components/demo/Swap.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/swap/utils/processSwapTransaction.ts
  src/swap/utils/sendSwapTransactions.test.ts
  src/swap/utils/sendSwapTransactions.ts
Labels: pkg: swap

#1296 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1298 docs: isSponsored for `Swap`
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
Labels: documentation

#1299 chore: add `SwapToast` to docs
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
Labels: documentation

#1277 fix: extract lifecycleStatus to hook
  src/swap/components/SwapProvider.tsx
  src/swap/hooks/useLifecycleStatus.test.ts
  src/swap/hooks/useLifecycleStatus.ts
Labels: pkg: swap

#1297 docs: Update getSwapQuote API and type SwapQuote
  site/docs/pages/api/get-swap-quote.mdx
  site/docs/pages/swap/types.mdx
Labels: documentation

#1304 docs: Update the Landing Page Figma example to be interactive
  site/docs/pages/index.mdx
Labels: documentation

#1308 docs: updating our getting started page
  site/docs/pages/getting-started.mdx
Labels: documentation

#1310 chore: update max slippage const naming
  playground/nextjs-app-router/components/demo/Swap.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/constants.ts
Labels: pkg: swap

#1316 chore: Update Swap USD 0 value render
  src/swap/components/SwapAmountInput.tsx
Labels: pkg: swap

#1313 feat: docs quickstart
  site/docs/pages/getting-started.mdx
Labels: documentation

#1320 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1326 chore: Update ReadMe
  README.md
  site/docs/public/logo/v0-33.png
Labels: documentation, root

#1332 fix `wagmi.ts` in `Getting Started`
  site/docs/pages/getting-started.mdx
Labels: documentation
