Repository coinbase/onchainkit, pull requests merged in 2024-12, with the labels that each got.

#1680 fix: fix changelog generation
  .changeset/config.json
  package.json
  yarn.lock
Labels: root

#1685 fix: next installation steps
  site/docs/pages/installation/nextjs.mdx
Labels: documentation

#1687 chore: Improve WalletModal UI
  src/styles/theme.ts
  src/swap/components/SwapSettingsSlippageDescription.test.tsx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/transaction/hooks/useGetTransactionStatusAction.test.tsx
  src/transaction/hooks/useGetTransactionToastAction.test.tsx
  src/wallet/components/WalletModal.tsx
Labels: pkg: swap, pkg: styles, pkg: wallet

#1688 chore: Improve <Socials /> Farcaster URL processing
  src/identity/components/Socials.test.tsx
  src/identity/utils/getSocialPlatformDetails.test.tsx
  src/identity/utils/getSocialPlatformDetails.tsx
Labels: pkg: identity

#1690 docs: `Checkout` polish
  site/docs/pages/checkout/checkout.mdx
Labels: documentation

#1612 feat: Add useOutsideClick hook
  .changeset/early-kangaroos-heal.md
  src/swap/components/SwapSettings.test.tsx
  src/swap/components/SwapSettings.tsx
  src/useOutsideClick.test.ts
  src/useOutsideClick.ts
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/Wallet.tsx
Labels: pkg: swap, pkg: wallet

#1700 refactor: move api functions to core/api
  package.json
  src/checkout/types.ts
  src/checkout/utils/handlePayRequest.test.ts
  src/checkout/utils/handlePayRequest.ts
  src/core/api/buildMintTransaction.test.ts
  src/core/api/buildMintTransaction.ts
  src/core/api/buildPayTransaction.test.ts
  src/core/api/buildPayTransaction.ts
  src/core/api/buildSwapTransaction.test.ts
  src/core/api/buildSwapTransaction.ts
  src/core/api/getMintDetails.test.ts
  src/core/api/getMintDetails.ts
  src/core/api/getSwapQuote.test.ts
  src/core/api/getSwapQuote.ts
  src/core/api/getTokenDetails.test.ts
  src/core/api/getTokenDetails.ts
  src/core/api/getTokens.test.ts
  src/core/api/getTokens.ts
  src/core/api/index.ts
  src/core/api/mocks.ts
  src/core/api/types.ts
  src/core/api/utils/getAPIParamsForToken.test.ts
  src/core/api/utils/getAPIParamsForToken.ts
  src/core/api/utils/getPayErrorMessage.test.ts
  src/core/api/utils/getPayErrorMessage.ts
  src/core/api/utils/getSwapTransaction.test.ts
  src/core/api/utils/getSwapTransaction.ts
  src/nft/hooks/useMintDetails.test.ts
  src/nft/hooks/useMintDetails.ts
  src/nft/hooks/useTokenDetails.test.ts
  src/nft/hooks/useTokenDetails.ts
  src/nft/utils/buildMintTransactionData.test.ts
  src/nft/utils/buildMintTransactionData.ts
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/index.ts
  src/swap/types.ts
  src/token/components/TokenSearch.stories.tsx
Labels: pkg: swap, root, pkg: token, pkg: core

#1703 refactor: move network functions to core/network
  src/OnchainKitConfig.test.ts
  src/core/api/buildMintTransaction.test.ts
  src/core/api/buildMintTransaction.ts
  src/core/api/buildPayTransaction.test.ts
  src/core/api/buildPayTransaction.ts
  src/core/api/buildSwapTransaction.test.ts
  src/core/api/buildSwapTransaction.ts
  src/core/api/getMintDetails.test.ts
  src/core/api/getMintDetails.ts
  src/core/api/getSwapQuote.test.ts
  src/core/api/getSwapQuote.ts
  src/core/api/getTokenDetails.test.ts
  src/core/api/getTokenDetails.ts
  src/core/api/getTokens.test.ts
  src/core/api/getTokens.ts
  src/core/network/attestations.test.ts
  src/core/network/attestations.ts
  src/core/network/client.ts
  src/core/network/constants.ts
  src/core/network/createEasGraphQLClient.test.ts
  src/core/network/createEasGraphQLClient.ts
  src/core/network/definitions/base.ts
  src/core/network/definitions/baseSepolia.ts
  src/core/network/definitions/nft.ts
  src/core/network/definitions/optimism.ts
  src/core/network/definitions/pay.ts
  src/core/network/definitions/swap.ts
  src/core/network/getChainExplorer.test.ts
  src/core/network/getChainExplorer.ts
  src/core/network/getChainPublicClient.test.ts
  src/core/network/getChainPublicClient.ts
  src/core/network/getRPCUrl.test.ts
  src/core/network/getRPCUrl.ts
  src/core/network/request.test.ts
  src/core/network/request.ts
  src/identity/hooks/useAddress.test.tsx
  src/identity/hooks/useAvatar.test.tsx
  src/identity/hooks/useName.test.tsx
  src/identity/utils/easSupportedChains.ts
  src/identity/utils/getAddress.test.tsx
  src/identity/utils/getAddress.ts
  src/identity/utils/getAttestations.test.ts
  src/identity/utils/getAttestations.ts
  src/identity/utils/getAvatar.test.tsx
  src/identity/utils/getAvatar.ts
  src/identity/utils/getName.test.tsx
  src/identity/utils/getName.ts
  src/identity/utils/getSocials.test.ts
  src/identity/utils/getSocials.ts
  src/swap/components/SwapToast.tsx
  src/transaction/components/TransactionButton.test.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/hooks/useGetTransactionStatusAction.test.tsx
  src/transaction/hooks/useGetTransactionStatusAction.tsx
  src/transaction/hooks/useGetTransactionStatusLabel.test.tsx
  src/transaction/hooks/useGetTransactionToastAction.test.tsx
  src/transaction/hooks/useGetTransactionToastAction.tsx
  src/transaction/hooks/useGetTransactionToastLabel.test.tsx
Labels: pkg: swap, pkg: identity, pkg: core

#1705 refactor: move internal hooks to `core-react/internal/hooks`
  biome.json
  src/checkout/components/CheckoutButton.test.tsx
  src/checkout/components/CheckoutButton.tsx
  src/checkout/components/CheckoutProvider.tsx
  src/core-react/internal/hooks/useCapabilitiesSafe.test.ts
  src/core-react/internal/hooks/useCapabilitiesSafe.ts
  src/core-react/internal/hooks/useDebounce.ts
  src/core-react/internal/hooks/useIcon.test.tsx
  src/core-react/internal/hooks/useIcon.tsx
  src/core-react/internal/hooks/usePreferredColorScheme.test.ts
  src/core-react/internal/hooks/usePreferredColorScheme.ts
  src/core-react/internal/hooks/useValue.ts
  src/identity/components/IdentityProvider.tsx
  src/internal/components/TextInput.tsx
  src/nft/components/NFTLifecycleProvider.tsx
  src/nft/components/NFTProvider.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettings.test.tsx
  src/swap/components/SwapSettings.tsx
  src/swap/hooks/useFromTo.test.ts
  src/swap/hooks/useFromTo.ts
  src/swap/hooks/useSwapBalances.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/useTheme.test.ts
  src/useTheme.ts
  src/wallet/components/WalletDropdownFundLink.tsx
  src/wallet/components/WalletDropdownLink.tsx
  src/wallet/components/WalletProvider.tsx
  src/wallet/hooks/useIsWalletACoinbaseSmartWallet.test.ts
  src/wallet/hooks/useIsWalletACoinbaseSmartWallet.ts
Labels: pkg: swap, root, pkg: identity, pkg: wallet

#1707 refactor: migrate `internal/utils` to `core/internal/utils` and `core-react/internal/utils`
  src/OnchainKitProvider.tsx
  src/core-react/internal/utils/findComponent.test.tsx
  src/core-react/internal/utils/findComponent.ts
  src/core/utils/checkHashLength.test.ts
  src/core/utils/checkHashLength.ts
  src/core/utils/formatTokenAmount.test.ts
  src/core/utils/formatTokenAmount.ts
  src/core/utils/getRoundedAmount.test.ts
  src/core/utils/getRoundedAmount.ts
  src/core/utils/isValidAmount.test.ts
  src/core/utils/isValidAmount.ts
  src/core/utils/multiplyFloats.test.ts
  src/core/utils/multiplyFloats.ts
  src/identity/components/Avatar.tsx
  src/identity/components/EthBalance.test.tsx
  src/identity/components/EthBalance.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/components/Name.tsx
  src/nft/components/mint/NFTAssetCost.tsx
  src/nft/components/mint/NFTTotalCost.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettingsSlippageLayout.tsx
  src/swap/components/SwapSettingsSlippageLayoutBottomSheet.tsx
  src/swap/utils/getTokenBalances.ts
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/hooks/useGetETHBalance.ts
  src/wallet/hooks/useGetTokenBalance.ts
Labels: pkg: swap, pkg: identity, pkg: wallet, pkg: core

#1697 chore(Onramp-4734): Implement utility functions to call onramp API from OCK
  src/fund/constants.ts
  src/fund/index.ts
  src/fund/types.ts
  src/fund/utils/fetchOnrampConfig.test.ts
  src/fund/utils/fetchOnrampConfig.ts
  src/fund/utils/fetchOnrampOptions.test.ts
  src/fund/utils/fetchOnrampOptions.ts
  src/fund/utils/fetchOnrampQuote.test.ts
  src/fund/utils/fetchOnrampQuote.ts
  src/fund/utils/fetchOnrampTransactionStatus.test.ts
  src/fund/utils/fetchOnrampTransactionStatus.ts
  src/fund/utils/setupOnrampEventListeners.ts
  src/internal/utils/convertSnakeToCamelCase.test.ts
  src/internal/utils/convertSnakeToCamelCase.ts
  src/internal/utils/getApiKey.test.ts
  src/internal/utils/getApiKey.ts
Labels: pkg: fund

#1709 🚧 Do not merge - refactor: migrate `src` root to `core/utils`
  src/OnchainKitProvider.test.tsx
  src/OnchainKitProvider.tsx
  src/core-react/internal/hooks/useCapabilitiesSafe.ts
  src/core-react/types.ts
  src/core/OnchainKitConfig.test.ts
  src/core/OnchainKitConfig.ts
  src/core/constants.ts
  src/core/createWagmiConfig.test.ts
  src/core/createWagmiConfig.ts
  src/core/network/getRPCUrl.test.ts
  src/core/network/getRPCUrl.ts
  src/core/network/request.test.ts
  src/core/types.ts
  src/core/utils/isBase.test.ts
  src/core/utils/isBase.ts
  src/core/utils/isEthereum.test.ts
  src/core/utils/isEthereum.ts
  src/fund/utils/fetchOnrampConfig.test.ts
  src/fund/utils/fetchOnrampOptions.test.ts
  src/fund/utils/fetchOnrampQuote.test.ts
  src/fund/utils/fetchOnrampTransactionStatus.test.ts
  src/identity/utils/getAvatar.ts
  src/identity/utils/getName.ts
  src/identity/utils/getSocials.test.ts
  src/identity/utils/getSocials.ts
  src/index.ts
  src/internal/utils/getApiKey.test.ts
  src/internal/utils/getApiKey.ts
  src/swap/components/SwapAmountInput.tsx
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/sendSwapTransactions.test.ts
  src/swap/utils/sendSwapTransactions.ts
  src/transaction/components/TransactionProvider.tsx
  src/transaction/hooks/useSendWalletTransactions.tsx
  src/useOnchainKit.test.tsx
  src/useTheme.ts
Labels: pkg: swap, root, pkg: identity, pkg: wallet, pkg: core, pkg: fund

#1722 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1717 docs: Update Identity component preview
  .changeset/spotty-wasps-warn.md
  site/docs/components/landing/ComponentPreview.tsx
  site/docs/components/landing/IdentityCardDemo.tsx
  site/docs/components/landing/IdentityDemo.tsx
Labels: documentation

#1723 docs: Update WalletModal image size
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#1727 chore: Update WalletModal UI
  src/wallet/components/WalletModal.tsx
Labels: pkg: identity, pkg: wallet

#1734 feat: tailwindcss-animate
  package.json
  playground/nextjs-app-router/onchainkit/package.json
  src/styles/tailwind-base.css
  tailwind.config.js
  yarn.lock
Labels: root, pkg: styles

#1728 fix: onramp listener function bug
  src/fund/utils/subscribeToWindowMessage.test.ts
  src/fund/utils/subscribeToWindowMessage.ts
Labels: pkg: fund

#1648 feat: Add `SwapLite` util functions
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/hooks/useResetSwapLiteInputs.test.ts
  src/swap/hooks/useResetSwapLiteInputs.ts
  src/swap/hooks/useSwapLiteToken.test.ts
  src/swap/hooks/useSwapLiteToken.ts
  src/swap/hooks/useSwapLiteTokens.test.ts
  src/swap/hooks/useSwapLiteTokens.ts
  src/swap/types.ts
  src/swap/utils/getSwapLiteQuote.test.ts
  src/swap/utils/getSwapLiteQuote.ts
  src/token/constants.ts
Labels: pkg: swap, pkg: token, pkg: core

#1742 chore: rename `SwapLite` utils to `Buy` utils
  src/buy/hooks/useBuyToken.test.ts
  src/buy/hooks/useBuyToken.ts
  src/buy/hooks/useBuyTokens.test.ts
  src/buy/hooks/useBuyTokens.ts
  src/buy/hooks/useResetBuyInputs.test.ts
  src/buy/hooks/useResetBuyInputs.ts
  src/buy/types.ts
  src/buy/utils/getBuyQuote.test.ts
  src/buy/utils/getBuyQuote.ts
  src/swap/types.ts
Labels: pkg: swap

#1716 refactor: move web utils to `ui/react/internal/utils`
  src/checkout/components/CheckoutProvider.test.tsx
  src/checkout/components/CheckoutProvider.tsx
  src/core/utils/convertSnakeToCamelCase.test.ts
  src/core/utils/convertSnakeToCamelCase.ts
  src/core/utils/getApiKey.test.ts
  src/core/utils/getApiKey.ts
  src/fund/components/FundButton.test.tsx
  src/fund/components/FundButton.tsx
  src/fund/utils/fetchOnrampConfig.ts
  src/fund/utils/fetchOnrampOptions.ts
  src/fund/utils/fetchOnrampQuote.ts
  src/fund/utils/fetchOnrampTransactionStatus.ts
  src/fund/utils/getFundingPopupSize.test.ts
  src/fund/utils/getFundingPopupSize.ts
  src/internal/components/Toast.tsx
  src/ui/react/internal/utils/getToastPosition.test.ts
  src/ui/react/internal/utils/getToastPosition.ts
  src/ui/react/internal/utils/getWindowDimensions.test.ts
  src/ui/react/internal/utils/getWindowDimensions.ts
  src/ui/react/internal/utils/openPopup.test.ts
  src/ui/react/internal/utils/openPopup.ts
  src/wallet/components/WalletDropdownFundLink.test.tsx
  src/wallet/components/WalletDropdownFundLink.tsx
Labels: root, pkg: wallet, pkg: core, pkg: fund

#1730 Feat: Draggable
  src/internal/components/Draggable.test.tsx
  src/internal/components/Draggable.tsx
  src/styles/constants.ts
Labels: root, pkg: styles

#1749 fix: alias
  vitest.config.ts
Labels: root

#1678 chore: baby fix
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#1759 docs: latest
  site/package.json
  site/yarn.lock
Labels: documentation

#1754 docs: Enable auto logged in components on landing page
  .changeset/slow-bats-obey.md
  site/docs/components/AppDemo.tsx
  site/docs/components/landing/SwapDemo.tsx
  site/docs/components/landing/WalletDemo.tsx
Labels: documentation

#1752 headerLeftContent in Swap
  src/swap/components/Swap.tsx
  src/swap/components/SwapSettings.tsx
  src/swap/types.ts
Labels: pkg: swap

#1750 fix: fix Tailwind config
  tailwind.config.js
Labels: root

#1765 docs: Remove WalletConnect reference
  site/docs/pages/guides/build-onchain-apps.mdx
Labels: documentation

#1766 chore: add `Buy` to playground
  package.json
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/DemoOptions.tsx
  playground/nextjs-app-router/components/demo/Buy.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  playground/nextjs-app-router/lib/constants.ts
  playground/nextjs-app-router/types/onchainkit.ts
  src/buy/components/BuyTokenItem.tsx
Labels: root

#1763 fix: add support for React 19
  package.json
  yarn.lock
Labels: root

#1776 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1732 Chore: Wallet Refactor
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletDropdown.test.tsx
  src/wallet/components/WalletDropdown.tsx
  src/wallet/components/WalletDropdownDisconnect.test.tsx
  src/wallet/components/WalletProvider.test.tsx
  src/wallet/components/WalletProvider.tsx
  src/wallet/types.ts
  tailwind.config.js
Labels: root, pkg: styles, pkg: wallet

#1781 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1782 chore: disable buy on docs
  site/docs/components/landing/BuyDemo.tsx
  site/docs/pages/buy/buy.mdx
Labels: documentation
