Repository coinbase/onchainkit, pull requests merged in 2024-11, with the labels that each got.

#1529 feat: add `onConnect` handler to `<ConnectWallet />`
  .changeset/good-beans-invent.md
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/types.ts
Labels: root, pkg: wallet

#1547 chore: Update hasCopyAddressOnClick
  playground/nextjs-app-router/components/demo/Wallet.tsx
  site/docs/components/landing/WalletDemo.tsx
  site/docs/pages/identity/types.mdx
  site/docs/pages/swap/types.mdx
  src/identity/components/Address.test.tsx
  src/identity/components/Address.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/Identity.tsx
  src/identity/components/IdentityLayout.test.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/hooks/usePopover.ts
  src/identity/types.ts
  src/wallet/components/WalletDefault.tsx
  src/wallet/components/WalletDropdown.tsx
Labels: documentation, pkg: identity, pkg: wallet

#1558 docs: Add schemaID parameter to IdentityCard examples
  site/docs/pages/identity/identity-card.mdx
Labels: documentation

#1562 docs: latest
  CHANGELOG.md
  create-onchain/package.json
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1555 docs: add documentation for `<ConnectWallet />`'s `onConnect` handler
  site/docs/pages/wallet/types.mdx
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#1546 feat: add installation steps for popular frameworks
  site/docs/components/InstallationOptions.tsx
  site/docs/components/StartBuilding.tsx
  site/docs/components/svg/astroSvg.tsx
  site/docs/components/svg/nextjsSvg.tsx
  site/docs/components/svg/remixSvg.tsx
  site/docs/components/svg/viteSvg.tsx
  site/docs/pages/getting-started.mdx
  site/docs/pages/installation.mdx
  site/docs/pages/installation/astro.mdx
  site/docs/pages/installation/nextjs.mdx
  site/docs/pages/installation/remix.mdx
  site/docs/pages/installation/vite.mdx
  site/sidebar.ts
Labels: documentation

#1567 docs: small edits
  site/docs/pages/getting-started.mdx
Labels: documentation

#1575 chore: Update OnchainKitProvider to fallback to CB verified schemaId
  .changeset/quick-fans-tease.md
  src/OnchainKitProvider.test.tsx
  src/OnchainKitProvider.tsx
  src/identity/constants.ts
Labels: documentation, pkg: identity

#1584 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1572 docs: nft docs
  site/docs/components/NFTComponents.tsx
  site/docs/components/StartBuilding.tsx
  site/docs/pages/api/build-mint-transaction.mdx
  site/docs/pages/api/get-mint-details.mdx
  site/docs/pages/api/get-token-details.mdx
  site/docs/pages/api/types.mdx
  site/docs/pages/getting-started.mdx
  site/docs/pages/mint/nft-card.mdx
  site/docs/pages/mint/nft-mint-card.mdx
  site/docs/pages/mint/types.mdx
  site/docs/public/assets/NFTCard.gif
  site/docs/public/assets/NFTMintCard.gif
  site/sidebar.ts
Labels: documentation

#1590 fix: nft responsiveness
  .changeset/clever-days-compete.md
  src/nft/components/view/NFTImage.test.tsx
  src/nft/components/view/NFTImage.tsx
  src/nft/components/view/NFTVideo.tsx
  src/styles/theme.ts
Labels: pkg: styles

#1592 docs: add NFTCardDefault and NFTMintCardDefault
  site/docs/components/NFTComponents.tsx
  site/docs/pages/mint/nft-card.mdx
  site/docs/pages/mint/nft-mint-card.mdx
Labels: documentation

#1596 docs: add 'use client' directive to Providers to prevent error
  site/docs/pages/installation/nextjs.mdx
Labels: documentation

#1598 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1602 fix: fix base URL in docs sidebar links
  site/vocs.config.tsx
Labels: documentation

#1599 Feat: docs for ock provider props
  site/README.md
  site/docs/pages/config/onchainkit-provider.mdx
  site/sidebar.ts
Labels: documentation

#1611 docs: update client API key url
  site/docs/pages/api/build-mint-transaction.mdx
  site/docs/pages/api/build-swap-transaction.mdx
  site/docs/pages/api/get-mint-details.mdx
  site/docs/pages/api/get-swap-quote.mdx
  site/docs/pages/api/get-token-details.mdx
  site/docs/pages/api/get-tokens.mdx
  site/docs/pages/guides/build-onchain-apps.mdx
  site/docs/pages/installation/astro.mdx
  site/docs/pages/installation/nextjs.mdx
  site/docs/pages/installation/remix.mdx
  site/docs/pages/installation/vite.mdx
Labels: documentation

#1614 fix: update chain type
  site/docs/pages/config/onchainkit-provider.mdx
Labels: documentation

#1629 docs: add compatibility to nft mint card
  site/docs/pages/mint/nft-mint-card.mdx
Labels: documentation

#1620 Feat: toast animations
  playground/nextjs-app-router/onchainkit/package.json
  src/internal/components/Toast.test.tsx
  src/internal/components/Toast.tsx
  tailwind.config.js
Labels: root

#1638 docs: fix typo in provider docs
  site/docs/pages/config/onchainkit-provider.mdx
Labels: documentation

#1634 feat: homepage updates
  site/README.md
  site/docs/components/landing/CheckoutDemo.tsx
  site/docs/components/landing/ComponentPreview.tsx
  site/docs/components/landing/FundDemo.tsx
  site/docs/components/landing/IdentityDemo.tsx
  site/docs/components/landing/NftMintCardDemo.tsx
  site/docs/components/landing/SwapDemo.tsx
  site/docs/components/landing/TransactionDemo.tsx
  site/docs/components/landing/WalletDemo.tsx
Labels: documentation

#1527 feat: upgrade viem to support heterogeneous calls
  package.json
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/components/demo/Transaction.tsx
  playground/nextjs-app-router/components/demo/TransactionDefault.tsx
  playground/nextjs-app-router/components/form/transaction-options.tsx
  playground/nextjs-app-router/lib/transactions.ts
  playground/nextjs-app-router/package.json
  playground/nextjs-app-router/types/onchainkit.ts
  src/transaction/components/TransactionDefault.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/hooks/useSendWalletTransactions.test.tsx
  src/transaction/hooks/useSendWalletTransactions.tsx
  src/transaction/types.ts
  src/transaction/utils/isContract.ts
  src/transaction/utils/sendBatchedTransactions.test.ts
  src/transaction/utils/sendBatchedTransactions.ts
  src/transaction/utils/sendSingleTransactions.test.ts
  src/transaction/utils/sendSingleTransactions.ts
  src/wallet/types.ts
  src/wallet/utils/isValidAAEntrypoint.test.ts
  src/wallet/utils/isValidAAEntrypoint.ts
  src/wallet/utils/isWalletACoinbaseSmartWallet.test.ts
  src/wallet/utils/isWalletACoinbaseSmartWallet.ts
  yarn.lock
Labels: root, pkg: wallet

#1644 fix code snippet spacing
  site/docs/components/landing/CheckoutDemo.tsx
  site/docs/components/landing/ComponentPreview.tsx
  site/docs/components/landing/FundDemo.tsx
  site/docs/components/landing/IdentityDemo.tsx
  site/docs/components/landing/NftMintCardDemo.tsx
  site/docs/components/landing/SwapDemo.tsx
  site/docs/components/landing/TransactionDemo.tsx
  site/docs/components/landing/WalletDemo.tsx
Labels: documentation

#1651 docs: fix imports for default components
  site/docs/pages/swap/swap.mdx
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#1654 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1657 docs: Fix IdentityCard code sample
  site/docs/pages/identity/identity-card.mdx
Labels: documentation

#1665 chore: update installation provider docs
  site/docs/pages/config/supplemental-providers.mdx
  site/docs/pages/installation/astro.mdx
  site/docs/pages/installation/nextjs.mdx
  site/docs/pages/installation/remix.mdx
  site/docs/pages/installation/vite.mdx
Labels: documentation

#1669 docs: WalletModal for wallet aggregation
  CHANGELOG.md
  playground/nextjs-app-router/onchainkit/package.json
  site/docs/components/AppWithRK.tsx
  site/docs/components/AppWithWalletModal.tsx
  site/docs/pages/wallet/wallet.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1671 chore: update + cleanup wallet docs
  site/docs/pages/config/onchainkit-provider.mdx
  site/docs/pages/wallet/wallet.mdx
  site/docs/public/assets/wallet-modal.gif
Labels: documentation

#1672 fix: fix docs site build
  site/.gitignore
  site/docs/components/AppWithWalletModal.tsx
Labels: documentation

#1675 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1666 dev: fix playground dev server
  playground/nextjs-app-router/onchainkit/package.json
  playground/nextjs-app-router/package.json
  tsup.config.ts
Labels: root

#1676 feat: added custom border classes
  site/docs/pages/guides/themes.mdx
  src/identity/components/IdentityCard.tsx
  src/styles/index.css
  src/styles/theme.ts
  src/swap/components/SwapSettingsSlippageLayout.tsx
  src/token/components/TokenSelectButton.tsx
  src/wallet/components/WalletModal.tsx
Labels: documentation, pkg: swap, pkg: styles, pkg: token, pkg: identity, pkg: wallet
