Repository coinbase/onchainkit, pull requests merged in 2024-10, with the labels that each got.

#1339 fix: swap error message
  src/swap/constants.ts
  src/swap/utils/getSwapMessage.ts
Labels: pkg: swap

#1344 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1338 feat: [`Pay`] hooks and utils
  src/api/buildPayTransaction.test.ts
  src/api/buildPayTransaction.ts
  src/api/mocks.ts
  src/api/types.ts
  src/network/definitions/pay.ts
  src/pay/constants.ts
  src/pay/hooks/useCommerceContracts.test.tsx
  src/pay/hooks/useCommerceContracts.tsx
  src/pay/hooks/useLifecycleStatus.test.tsx
  src/pay/hooks/useLifecycleStatus.tsx
  src/pay/types.ts
  src/pay/utils/getCommerceContracts.test.ts
  src/pay/utils/getCommerceContracts.ts
  src/pay/utils/getUSDCBalance.test.ts
  src/pay/utils/getUSDCBalance.ts
  src/pay/utils/handlePayRequest.test.ts
  src/pay/utils/handlePayRequest.ts
Labels: pkg: network

#1345 docs: Improve embedded tweet performance
  site/docs/components/landing/Tweets.tsx
  site/docs/pages/index.mdx
Labels: documentation

#1346 docs: Fix tweet bottom border
  site/docs/styles.css
Labels: documentation

#1347 feat: [`Pay`] add `coinbasePay` icon and move `useIcons` hook
  src/internal/hooks/useIcon.test.tsx
  src/internal/hooks/useIcon.tsx
  src/internal/svg/coinbasePaySvg.tsx
  src/styles/theme.ts
  src/swap/components/SwapSettings.test.tsx
  src/swap/components/SwapSettings.tsx
  src/wallet/components/WalletDropdownFundLink.tsx
  src/wallet/components/WalletDropdownLink.tsx
Labels: pkg: swap, pkg: styles, pkg: wallet

#1302 feat: add WalletDefault component
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/demo/WalletDefault.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  src/wallet/components/WalletDefault.test.tsx
  src/wallet/components/WalletDefault.tsx
  src/wallet/index.ts
Labels: pkg: wallet

#1361 fix: error messages
  src/pay/components/PayProvider.tsx
  src/swap/components/SwapProvider.test.tsx
  src/transaction/utils/isUserRejectedRequestError.test.ts
  src/transaction/utils/isUserRejectedRequestError.ts
Labels: pkg: swap

#1363 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1355 feat: Add docs for default components
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#1362 docs: Update Tweet on Landing Page
  site/docs/components/landing/Tweets.tsx
  site/docs/styles.css
Labels: documentation

#1378 chore: fix circular dependency with WalletDefault
  src/wallet/components/WalletDefault.tsx
Labels: pkg: wallet

#1388 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1386 docs: site & pay component update
  site/docs/pages/index.mdx
  site/docs/pages/pay/pay.mdx
  site/sidebar.ts
  site/vocs.config.tsx
Labels: documentation

#1390 docs: update getting-started
  site/docs/pages/getting-started.mdx
  site/docs/public/assets/onchainkit-template.png
Labels: documentation

#1342 Tina docs updates 0928
  .github/workflows/site.yml
  site/docs/pages/transaction/transaction.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1398 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1406 chore: Update ReadMe active team
  README.md
Labels: root

#1405 chore: Connect Wallet and Identity theming clean up
  playground/nextjs-app-router/components/demo/Wallet.tsx
  src/identity/components/Name.tsx
  src/wallet/components/ConnectButton.tsx
Labels: pkg: identity, pkg: wallet

#1410 chore: Update theme name Minimal to Hacker
  playground/nextjs-app-router/app/globals.css
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/form/component-theme.tsx
  src/styles/tailwind-base.css
  src/types.ts
  src/useTheme.test.ts
  src/useTheme.ts
Labels: pkg: styles

#1412 docs: `Pay` advanced usage
  site/docs/pages/pay/pay.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#1414 chore: TokenSelectButton and Base theme cleanup
  src/styles/tailwind-base.css
  src/swap/components/SwapAmountInput.tsx
  src/token/components/TokenSelectButton.tsx
Labels: documentation, pkg: swap, pkg: styles, pkg: token

#1415 chore: Add Noto Sans Mono font-family to Hacker theme
  src/styles/index-with-tailwind.css
  src/styles/tailwind-base.css
Labels: root, pkg: styles

#1413 docs: Theming guide
  site/docs/pages/getting-started.mdx
  site/docs/pages/guides/framegear.mdx
  site/docs/pages/guides/tailwind.mdx
  site/docs/pages/guides/themes.mdx
  site/sidebar.ts
Labels: documentation

#1418 docs: Add theming gif
  site/docs/pages/guides/themes.mdx
  site/docs/public/assets/onchainkit-themes.gif
Labels: documentation

#1422 docs: latest
  CHANGELOG.md
  site/docs/components/App.tsx
  site/docs/components/svg/frameSvg.tsx
  site/docs/components/svg/fundSvg.tsx
  site/docs/components/svg/identitySvg.tsx
  site/docs/components/svg/swapSvg.tsx
  site/docs/components/svg/transactionSvg.tsx
  site/docs/components/svg/walletSvg.tsx
  site/docs/styles.css
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1401 feat: `create-onchain`
  biome.json
  create-onchain/package.json
  create-onchain/src/cli.ts
  create-onchain/src/utils.ts
  create-onchain/templates/next/.eslintrc.json
  create-onchain/templates/next/.gitignore
  create-onchain/templates/next/README.md
  create-onchain/templates/next/app/globals.css
  create-onchain/templates/next/app/layout.tsx
  create-onchain/templates/next/app/page.tsx
  create-onchain/templates/next/app/providers.tsx
  create-onchain/templates/next/app/svg/ArrowSvg.tsx
  create-onchain/templates/next/app/svg/Image.tsx
  create-onchain/templates/next/app/svg/OnchainKit.tsx
  create-onchain/templates/next/next.config.mjs
  create-onchain/templates/next/package.json
  create-onchain/templates/next/postcss.config.mjs
  create-onchain/templates/next/tailwind.config.ts
  create-onchain/templates/next/tsconfig.json
  create-onchain/tsconfig.build.json
  create-onchain/tsconfig.json
  vitest.config.ts
Labels: root

#1431 chore: Add Pay component theming support
  .changeset/tidy-vans-cheat.md
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/package.json
  src/internal/svg/coinbasePaySvg.tsx
  src/pay/components/Pay.test.tsx
  src/pay/components/Pay.tsx
  src/pay/components/PayButton.tsx
Labels: documentation

#1430 chore: Update missing address error handling
  .changeset/flat-forks-whisper.md
  src/identity/components/Address.test.tsx
  src/identity/components/Address.tsx
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/EthBalance.test.tsx
  src/identity/components/EthBalance.tsx
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
Labels: pkg: identity

#1443 docs: latest
  CHANGELOG.md
  site/docs/pages/config/types.mdx
  site/docs/pages/pay/types.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1446 docs: update "getting started" to latest CLI
  site/docs/pages/getting-started.mdx
  site/docs/public/assets/quickstart.png
Labels: documentation

#1448 chore: suffix `latest` to cli command
  site/docs/pages/getting-started.mdx
Labels: documentation

#1445 fix: Update ConnectWalletText styling
  .changeset/friendly-baboons-peel.md
  src/wallet/components/ConnectWalletText.tsx
Labels: pkg: wallet

#1454 docs: fix Tailwind CSS spelling
  site/docs/pages/guides/tailwind.mdx
  site/sidebar.ts
Labels: documentation

#1455 chore: rename `Pay` module to `Checkout`
  .changeset/sour-rats-perform.md
  package.json
  src/api/buildPayTransaction.test.ts
  src/api/utils/getPayErrorMessage.test.ts
  src/api/utils/getPayErrorMessage.ts
  src/checkout/components/Checkout.test.tsx
  src/checkout/components/Checkout.tsx
  src/checkout/components/CheckoutButton.test.tsx
  src/checkout/components/CheckoutButton.tsx
  src/checkout/components/CheckoutProvider.test.tsx
  src/checkout/components/CheckoutProvider.tsx
  src/checkout/components/CheckoutStatus.test.tsx
  src/checkout/components/CheckoutStatus.tsx
  src/checkout/constants.ts
  src/checkout/hooks/useCommerceContracts.test.tsx
  src/checkout/hooks/useCommerceContracts.tsx
  src/checkout/hooks/useGetCheckoutStatus.test.tsx
  src/checkout/hooks/useGetCheckoutStatus.tsx
  src/checkout/hooks/useLifecycleStatus.test.tsx
  src/checkout/hooks/useLifecycleStatus.tsx
  src/checkout/index.ts
  src/checkout/types.ts
  src/checkout/utils/getCommerceContracts.test.ts
  src/checkout/utils/getCommerceContracts.ts
  src/checkout/utils/getUSDCBalance.test.ts
  src/checkout/utils/getUSDCBalance.ts
  src/checkout/utils/handlePayRequest.test.ts
  src/checkout/utils/handlePayRequest.ts
Labels: root

#1456 docs: fixes
  site/docs/pages/getting-started.mdx
  site/docs/pages/guides/lifecycle-status.mdx
  site/sidebar.ts
Labels: documentation

#1459 docs: add handling successful checkout to `Pay` docs
  site/docs/pages/pay/pay.mdx
Labels: documentation

#1468 chore: docs
  CHANGELOG.md
  site/docs/pages/checkout/checkout.mdx
  site/docs/pages/checkout/types.mdx
  site/package.json
  site/sidebar.ts
  site/yarn.lock
Labels: documentation, root

#1465 feat: Add custom themes
  playground/nextjs-app-router/app/globals.css
  playground/nextjs-app-router/components/form/component-theme.tsx
  site/docs/pages/guides/themes.mdx
  src/types.ts
Labels: documentation, pkg: styles

#1470 docs: `Checkout` polish
  site/docs/pages/checkout/checkout.mdx
  site/docs/public/assets/commerce-3.png
Labels: documentation

#1477 docs: update "getting-started"
  site/docs/pages/getting-started.mdx
Labels: documentation

#1478 docs: fix typos in docs
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#1485 fix: fix typos in `ConnectWallet` component and types
  site/docs/pages/wallet/wallet.mdx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/types.ts
Labels: documentation, pkg: wallet

#1486 docs: CDP Client API Key
  site/docs/pages/api/build-swap-transaction.mdx
  site/docs/pages/api/get-swap-quote.mdx
  site/docs/pages/api/get-tokens.mdx
  site/docs/pages/getting-started.mdx
  site/docs/pages/guides/build-onchain-apps.mdx
  site/docs/public/assets/copy-api-key-guide.png
Labels: documentation

#1487 docs: add different package manager installations to `Getting Started`
  site/docs/pages/getting-started.mdx
Labels: documentation

#1483 feat: add view components
  src/internal/svg/baseSvg.tsx
  src/internal/svg/defaultNFTSvg.tsx
  src/nft/components/view/NFTAudio.test.tsx
  src/nft/components/view/NFTAudio.tsx
  src/nft/components/view/NFTImage.test.tsx
  src/nft/components/view/NFTImage.tsx
  src/nft/components/view/NFTLastSoldPrice.test.tsx
  src/nft/components/view/NFTLastSoldPrice.tsx
  src/nft/components/view/NFTMedia.test.tsx
  src/nft/components/view/NFTMedia.tsx
  src/nft/components/view/NFTMintDate.test.tsx
  src/nft/components/view/NFTMintDate.tsx
  src/nft/components/view/NFTNetwork.test.tsx
  src/nft/components/view/NFTNetwork.tsx
  src/nft/components/view/NFTOwner.test.tsx
  src/nft/components/view/NFTOwner.tsx
  src/nft/components/view/NFTTitle.test.tsx
  src/nft/components/view/NFTTitle.tsx
  src/nft/components/view/NFTVideo.test.tsx
  src/nft/components/view/NFTVideo.tsx
  src/nft/components/view/index.ts
  src/nft/types.ts
  src/styles/index.css
  src/styles/theme.ts
  vitest.config.ts
Labels: root, pkg: styles

#1494 docs: `Checkout`polish
  site/docs/pages/checkout/checkout.mdx
Labels: documentation

#1493 chore: Update Identity Demo in the playground
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/components/demo/Identity.tsx
  playground/nextjs-app-router/package.json
Labels: pkg: identity

#1498 chore: Update Tweet on Landing Page
  site/docs/components/landing/Tweets.tsx
  site/docs/styles.css
Labels: documentation

#1502 chore: update gif
  site/docs/pages/checkout/checkout.mdx
  site/docs/public/assets/checkout.gif
  site/docs/public/assets/pay.gif
Labels: documentation

#1513 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1511 chore: update checkout docs
  site/docs/components/landing/CheckoutDemo.tsx
  site/docs/components/landing/IdentityDemo.tsx
  site/docs/components/svg/closeSvg.tsx
  site/docs/components/svg/coinbasePaySvg.tsx
Labels: documentation

#1469 docs: update transaction docs
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
Labels: documentation

#1504 docs: add missing `ConnectWalletReact` prop to types page
  site/docs/pages/wallet/types.mdx
Labels: documentation, pkg: wallet

#1514 docs: customized logo and url
  create-onchain/package.json
  site/docs/pages/checkout/checkout.mdx
  site/docs/pages/config/onchainkit-provider.mdx
  site/docs/pages/config/types.mdx
  site/docs/public/assets/commerce-4.png
Labels: documentation

#1517 Fix: Enforce base as chain for name resolution
  src/wallet/components/WalletDropdownBasename.test.tsx
  src/wallet/components/WalletDropdownBasename.tsx
Labels: pkg: wallet

#1518 docs: `Checkout` polish
  site/docs/pages/checkout/checkout.mdx
  site/docs/public/assets/commerce-4.png
Labels: documentation

#1515 feat: landing page code highlighting
  site/docs/components/App.tsx
  site/docs/components/landing/CheckoutDemo.tsx
  site/docs/components/landing/ComponentPreview.tsx
  site/docs/components/landing/FundDemo.tsx
  site/docs/components/landing/IdentityDemo.tsx
  site/docs/components/landing/SwapDemo.tsx
  site/docs/components/landing/TransactionDemo.tsx
  site/docs/components/landing/WalletDemo.tsx
  site/docs/components/landing/getHighlightedCode.tsx
  site/docs/contexts/Theme.tsx
  site/docs/layout.tsx
Labels: documentation

#1495 feat: add nft playground
  playground/nextjs-app-router/app/mint/MintComponent.tsx
  playground/nextjs-app-router/app/mint/MintProviders.tsx
  playground/nextjs-app-router/app/mint/hooks/useEarningsData.ts
  playground/nextjs-app-router/app/mint/layout.tsx
  playground/nextjs-app-router/app/mint/page.tsx
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/DemoOptions.tsx
  playground/nextjs-app-router/components/demo/NFTCard.tsx
  playground/nextjs-app-router/components/demo/NFTMintCard.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  playground/nextjs-app-router/components/form/nft-options.tsx
  playground/nextjs-app-router/lib/constants.ts
  playground/nextjs-app-router/lib/nft/buildMintTransaction.ts
  playground/nextjs-app-router/lib/nft/testAddresses.ts
  playground/nextjs-app-router/lib/nft/useCollection.ts
  playground/nextjs-app-router/lib/nft/useOwners.ts
  playground/nextjs-app-router/lib/nft/useReservoirMintData.ts
  playground/nextjs-app-router/lib/nft/useReservoirNFTData.ts
  playground/nextjs-app-router/lib/nft/useToken.ts
  playground/nextjs-app-router/onchainkit/package.json
  playground/nextjs-app-router/package.json
  playground/nextjs-app-router/robots.txt
Labels: pkg: swap, root, pkg: styles

#1521 fix: display issues
  playground/nextjs-app-router/components/Demo.tsx
  site/docs/components/landing/ComponentPreview.tsx
  site/docs/components/landing/getHighlightedCode.tsx
  site/docs/pages/swap/swap.mdx
  site/docs/styles.css
Labels: documentation

#1499 feat: add isSponsored prop to Transaction and playground
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/DemoOptions.tsx
  playground/nextjs-app-router/components/demo/Checkout.tsx
  playground/nextjs-app-router/components/demo/Swap.tsx
  playground/nextjs-app-router/components/demo/Transaction.tsx
  playground/nextjs-app-router/components/form/is-sponsored.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/swap/utils/processSwapTransaction.ts
  src/swap/utils/sendSwapTransactions.test.ts
  src/swap/utils/sendSwapTransactions.ts
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/types.ts
Labels: pkg: swap

#1489 feat: IdentityCard and Socials components
  .changeset/twenty-lies-allow.md
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/demo/Identity.tsx
  playground/nextjs-app-router/components/demo/IdentityCard.tsx
  playground/nextjs-app-router/components/demo/Wallet.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  src/identity/components/Address.test.tsx
  src/identity/components/Address.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/IdentityCard.test.tsx
  src/identity/components/IdentityCard.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/components/Socials.test.tsx
  src/identity/components/Socials.tsx
  src/identity/hooks/useSocials.test.tsx
  src/identity/hooks/useSocials.tsx
  src/identity/index.ts
  src/identity/types.ts
  src/identity/utils/getSocialPlatformDetails.test.tsx
  src/identity/utils/getSocialPlatformDetails.tsx
  src/identity/utils/getSocials.test.ts
  src/identity/utils/getSocials.ts
  src/internal/svg/githubSvg.tsx
  src/internal/svg/twitterSvg.tsx
  src/internal/svg/warpcastSvg.tsx
  src/internal/svg/websiteSvg.tsx
  src/styles/tailwind-base.css
  src/wallet/components/WalletDropdown.tsx
Labels: root, pkg: styles, pkg: identity, pkg: wallet

#1532 chore: Update sizing and clean up Identity and IdentityCard playground
  playground/nextjs-app-router/components/demo/Identity.tsx
  playground/nextjs-app-router/components/demo/IdentityCard.tsx
  src/identity/components/IdentityLayout.tsx
Labels: pkg: identity

#1534 docs: IdentityCard and Socials components
  site/docs/pages/identity/identity-card.mdx
  site/docs/pages/identity/socials.mdx
  site/package.json
  site/sidebar.ts
  site/yarn.lock
Labels: documentation

#1542 fix: Warpcast Socials link and update SVG
  src/identity/components/Socials.test.tsx
  src/identity/utils/getSocialPlatformDetails.test.tsx
  src/identity/utils/getSocialPlatformDetails.tsx
  src/internal/svg/warpcastSvg.tsx
Labels: pkg: identity

#1537 Fix: Badge checkmark styling
  src/identity/components/Badge.test.tsx
  src/internal/svg/badgeSvg.tsx
Labels: pkg: identity
