Repository coinbase/onchainkit, pull requests merged in 2024-06, with the labels that each got.

#546 chore: build release
  .changeset/short-schools-train.md
  CHANGELOG.md
  src/version.ts
Labels: root

#549 chore: polish
  CHANGELOG.md
  package.json
Labels: root

#506 feat: Inter fonts
  .changeset/fuzzy-eggs-cross.md
  src/internal/text/TextBody.tsx
  src/internal/text/TextCaption.tsx
  src/internal/text/TextHeadline.tsx
  src/internal/text/TextLabel1.tsx
  src/internal/text/TextLabel2.tsx
  src/internal/text/TextLegal.tsx
  src/internal/text/index.ts
  src/styles/index-with-tailwind.css
  src/token/components/TokenChip.tsx
  src/token/components/TokenRow.tsx
  src/token/components/TokenSelectButton.tsx
  tailwind.config.js
Labels: root, pkg: styles, pkg: token

#552 chore: polish
  .changeset/fuzzy-eggs-cross.md
  src/internal/text/TextBody.tsx
  src/internal/text/TextCaption.tsx
  src/internal/text/TextHeadline.tsx
  src/internal/text/TextLabel1.tsx
  src/internal/text/TextLabel2.tsx
  src/internal/text/TextLegal.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/core/isSwapError.test.ts
  src/swap/core/isSwapError.ts
  src/swap/utils.test.ts
  src/swap/utils.ts
  src/utils/formatTokenAmount.test.ts
  src/utils/formatTokenAmount.ts
  src/utils/getRoundedAmount.test.ts
  src/utils/getRoundedAmount.ts
  src/utils/isValidAmount.test.ts
  src/utils/isValidAmount.ts
  src/version.ts
Labels: pkg: swap, pkg: utils

#553 feat: update swap style
  src/internal/text/TextHeadline.tsx
  src/internal/text/TextLabel1.tsx
  src/internal/text/TextLabel2.tsx
  src/internal/text/index.ts
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/token/components/TokenChip.tsx
Labels: pkg: swap, pkg: token

#554 fix: token components lint errors
  .changeset/tame-planets-search.md
  src/token/components/SearchIcon.tsx
  src/token/components/TextInput.tsx
  src/token/components/TokenChip.test.tsx
  src/token/components/TokenChip.tsx
  src/token/components/TokenImage.tsx
  src/token/components/TokenRow.tsx
  src/token/components/TokenSearch.tsx
  src/token/components/TokenSelectButton.tsx
  src/token/components/TokenSelectDropdown.tsx
Labels: pkg: token

#555 fix: identity components lint errors
  .changeset/proud-buttons-flash.md
  src/identity/components/Avatar.tsx
  src/identity/components/Badge.tsx
Labels: pkg: identity

#556 chore: release
  .changeset/fuzzy-eggs-cross.md
  .changeset/proud-buttons-flash.md
  .changeset/tame-planets-search.md
  README.md
  package.json
  site/docs/pages/identity/introduction.mdx
  site/docs/pages/token/introduction.mdx
  site/docs/pages/wallet/introduction.mdx
  yarn.lock
Labels: documentation, root

#557 docs: latest pkg
  package.json
  site/package.json
  site/yarn.lock
Labels: documentation, root

#559 feat: enabled linting in CI
  .github/labeler.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  biome.json
  framegear/components/RedirectModal/RedirectModal.tsx
  package.json
  site/docs/pages/index.mdx
  src/frame/getFrameMetadata.ts
  src/frame/getMockFrameRequest.ts
  src/frame/types.ts
  src/identity/easSupportedChains.ts
  src/network/attestations.ts
  src/network/definitions/base.ts
  src/network/definitions/baseSepolia.ts
  src/network/definitions/optimism.ts
  src/network/definitions/swap.ts
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/core/buildSwapTransaction.test.ts
  src/swap/core/buildSwapTransaction.ts
  src/swap/core/getSwapQuote.test.ts
  src/swap/core/getSwapQuote.ts
  src/token/components/useDebounce.ts
  src/token/core/getToken.test.ts
  src/token/core/getTokens.ts
  src/utils/neynar/frame/convertToNeynarResponseModel.ts
  src/utils/neynar/frame/types.ts
  src/utils/neynar/neynar.integ.ts
  src/utils/neynar/postDataToNeynar.ts
  src/utils/neynar/user/convertToNeynarResponseModel.ts
  src/utils/neynar/user/convertToNeynarUserModel.ts
  src/wallet/components/ConnectAccount.tsx
  src/xmtp/isXmtpFrameRequest.ts
Labels: documentation, pkg: swap, root, pkg: token, pkg: utils, pkg: identity, framegear, pkg: frame, pkg: network, pkg: wallet, pkg: xmtp

#561 feat: Add swappable tokens to SwapAmountInput
  site/docs/pages/swap/types.mdx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/types.ts
Labels: documentation, pkg: swap, pkg: token

#563 feat: Add debounce to SwapAmountInput
  .changeset/strong-queens-notice.md
  biome.json
  src/internal/form/TextInput.tsx
  src/internal/form/useDebounce.ts
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/types.ts
  src/token/components/TextInput.tsx
  src/token/components/TokenSearch.tsx
Labels: pkg: swap, root, pkg: token

#562 chore: Update isWalletASmartWallet to isWalletACoinbaseSmartWallet
  .changeset/ninety-windows-cheer.md
  README.md
  site/docs/pages/index.mdx
  site/docs/pages/wallet/is-wallet-a-coinbase-smart-wallet.mdx
  site/docs/pages/wallet/types.mdx
  site/sidebar.ts
  src/wallet/index.ts
  src/wallet/isWalletACoinbaseSmartWallet.test.ts
  src/wallet/isWalletACoinbaseSmartWallet.ts
  src/wallet/types.ts
Labels: documentation, root, pkg: wallet

#566 fix: Swap for token pair mode
  .changeset/tiny-mugs-roll.md
  src/swap/components/SwapAmountInput.tsx
Labels: pkg: swap

#567 chore: release
  .changeset/ninety-windows-cheer.md
  .changeset/strong-queens-notice.md
  .changeset/tiny-mugs-roll.md
  CHANGELOG.md
  src/version.ts
Labels: root

#568 fix: get quote logic in Swap component
  .changeset/rich-dolls-sort.md
  package.json
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
Labels: pkg: swap, root

#570 chore: release
  .changeset/rich-dolls-sort.md
  CHANGELOG.md
  src/version.ts
Labels: root

#572 feat: SwapToggleButton
  package.json
  src/internal/text/TextHeadline.tsx
  src/internal/text/TextLabel1.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapToggleButton.tsx
  src/swap/index.ts
  src/swap/types.ts
  src/token/components/TokenSelectButton.tsx
Labels: pkg: swap, root, pkg: token

#574 feat: add DM Sans font
  .changeset/bright-tigers-try.md
  package.json
  src/internal/text/TextLabel2.tsx
  src/internal/text/TextTitle3.tsx
  src/styles/index-with-tailwind.css
  src/styles/index.css
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
Labels: pkg: swap, root, pkg: styles

#576 chore: release
  .changeset/bright-tigers-try.md
  CHANGELOG.md
  src/version.ts
Labels: root

#577 fix: TokenSelectButton hit detection
  .changeset/tidy-cherries-repair.md
  biome.json
  src/token/components/TokenSelectButton.test.tsx
  src/token/components/TokenSelectButton.tsx
  src/token/components/TokenSelectDropdown.tsx
Labels: pkg: swap, root, pkg: token

#580 chore: release
  .changeset/tidy-cherries-repair.md
  CHANGELOG.md
  site/.gitignore
  src/version.ts
Labels: documentation, root

#581 fix: SwapAmountInput styling
  .changeset/quick-moles-taste.md
  src/internal/text/TextLabel1.tsx
  src/internal/text/TextLabel2.tsx
  src/swap/components/SwapAmountInput.tsx
Labels: pkg: swap

#584 chore: release
  .changeset/quick-moles-taste.md
  CHANGELOG.md
  src/version.ts
Labels: root

#582 Update swap.mdx
  site/docs/pages/swap/swap.mdx
Labels: documentation

#586 docs: vocs site config update
  .changeset/cool-spies-sneeze.md
  site/vocs.config.tsx
Labels: documentation

#585 docs: latest
  CHANGELOG.md
  site/docs/components/SwapComponents.tsx
  site/docs/pages/swap/swap.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#588 Update swap.mdx
  site/docs/pages/swap/swap.mdx
Labels: documentation

#589 Add product screenshot
  site/docs/public/assets/CDP_API_key_guide.png
Labels: documentation

#591 docs: updated
  package.json
  site/docs/pages/getting-started.mdx
Labels: documentation, root

#590 Update getting-started.mdx
  site/docs/pages/getting-started.mdx
Labels: documentation

#592 docs: copy api key
  site/docs/pages/getting-started.mdx
  site/docs/public/assets/copy-api-key-guide.png
  site/docs/public/assets/copy-api-key.png
Labels: documentation

#594 feat: added `delayMs` optional prop to `SwapAmountInput`
  .changeset/cool-spies-sneeze.md
  site/docs/components/App.tsx
  site/docs/components/SwapComponents.tsx
  site/docs/pages/identity/avatar.mdx
  site/docs/pages/identity/badge.mdx
  site/docs/pages/identity/introduction.mdx
  site/docs/pages/identity/name.mdx
  site/docs/pages/index.mdx
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  site/docs/pages/token/introduction.mdx
  site/docs/pages/token/token-chip.mdx
  site/docs/pages/token/token-image.mdx
  site/docs/pages/token/token-row.mdx
  site/docs/pages/token/token-search.mdx
  site/docs/pages/token/token-select-dropdown.mdx
  site/docs/pages/wallet/connect-account.mdx
  site/docs/pages/wallet/introduction.mdx
  src/internal/text/TextTitle3.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/types.ts
  src/version.ts
Labels: documentation, pkg: swap

#595 docs: latest pkg
  CHANGELOG.md
  README.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#596 feat: init SwapMessage component
  .changeset/tidy-eggs-give.md
  site/docs/components/App.tsx
  site/docs/components/SwapComponents.tsx
  site/docs/pages/swap/swap.mdx
  src/internal/text/TextMessage.tsx
  src/internal/text/index.ts
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/index.ts
  src/swap/types.ts
  src/version.ts
Labels: documentation, pkg: swap

#598 feat: simplified `Transaction` type in `Swap` experience
  .changeset/tidy-eggs-give.md
  site/docs/components/SwapComponents.tsx
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  src/swap/core/buildSwapTransaction.test.ts
  src/swap/core/getSwapTransaction.test.ts
  src/swap/core/getSwapTransaction.ts
  src/swap/index.ts
  src/swap/types.ts
Labels: documentation, pkg: swap

#599 docs: updated Swap
  site/docs/components/SwapComponents.tsx
  site/docs/pages/swap/swap.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#600 fix: error message from unset api key
  .changeset/strong-walls-film.md
  src/OnchainKitConfig.test.ts
  src/network/getRPCUrl.test.ts
  src/network/getRPCUrl.ts
Labels: pkg: network

#605 feat: docs for `buildSwapTransaction` + cleanup
  .changeset/pretty-camels-allow.md
  site/docs/pages/swap/build-swap-transaction.mdx
  site/docs/pages/swap/get-swap-quote.mdx
  site/docs/pages/swap/types.mdx
  site/sidebar.ts
  src/swap/index.ts
  src/swap/types.ts
Labels: documentation, pkg: swap

#604 feat: Add disable swap button functionality
  .changeset/serious-flies-tie.md
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  src/swap/components/SwapButton.tsx
  src/swap/types.ts
Labels: documentation, pkg: swap

#606 chore: release v0.20.15
  .changeset/fast-snails-carry.md
  .changeset/pretty-camels-allow.md
  .changeset/serious-flies-tie.md
  .changeset/strong-walls-film.md
  CHANGELOG.md
  package.json
Labels: root

#608 feat: disable `SwapButton` in docs and remove `onSubmit`
  .changeset/eighty-fireants-swim.md
  site/docs/components/SwapComponents.tsx
  site/docs/pages/swap/swap.mdx
  src/swap/components/SwapAmountInput.tsx
Labels: documentation, pkg: swap

#609 docs: update doc site 0.20.15
  .changeset/hot-numbers-boil.md
  site/docs/components/SwapWrapper.tsx
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  site/package.json
  site/yarn.lock
  src/swap/types.ts
Labels: documentation, pkg: swap

#612 chore: fix minor issues
  .changeset/swift-phones-obey.md
  src/swap/components/SwapButton.tsx
  src/swap/core/getTokenBalances.ts
  src/utils/getRoundedAmount.test.ts
  src/utils/getRoundedAmount.ts
Labels: pkg: swap, pkg: utils

#615 feat: swap title
  .changeset/warm-rats-report.md
  site/docs/pages/swap/types.mdx
  src/internal/text/TextTitle3.tsx
  src/internal/text/index.ts
  src/swap/components/Swap.test.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapToggleButton.tsx
  src/swap/types.ts
  src/token/index.test.ts
Labels: documentation, pkg: swap, pkg: token

#618 chore: release
  .changeset/eighty-fireants-swim.md
  .changeset/hot-numbers-boil.md
  .changeset/swift-phones-obey.md
  .changeset/warm-rats-report.md
  CHANGELOG.md
  README.md
  src/version.ts
Labels: root

#619 docs: latest
  site/package.json
  site/yarn.lock
Labels: documentation

#620 feat: intro Identity component
  .changeset/tough-trees-fail.md
  README.md
  site/docs/pages/identity/types.mdx
  site/docs/public/logo/v0-21.png
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/Identity.tsx
  src/identity/context.test.tsx
  src/identity/context.ts
  src/identity/index.ts
  src/identity/types.ts
  src/swap/components/Swap.test.tsx
  src/swap/types.ts
  src/version.ts
Labels: documentation, pkg: swap, root, pkg: identity

#622 feat: added Name to Identity
  .changeset/few-beers-cry.md
  site/docs/pages/identity/identity.mdx
  site/docs/pages/identity/types.mdx
  site/package.json
  site/sidebar.ts
  site/yarn.lock
  src/identity/components/Identity.test.tsx
  src/identity/components/Identity.tsx
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
  src/identity/types.ts
  src/version.ts
Labels: documentation, pkg: identity

#624 fix: Identity matching Name component
  .changeset/calm-spiders-brush.md
  site/docs/pages/identity/identity.mdx
  site/package.json
  site/yarn.lock
  src/identity/components/Avatar.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/Identity.tsx
  src/identity/components/Name.tsx
Labels: documentation, pkg: identity

#626 chore: latest docs
  CHANGELOG.md
  site/docs/pages/identity/identity.mdx
  site/package.json
  site/yarn.lock
  src/version.ts
Labels: documentation, root

#627 feat: added badge feature to Identity
  .changeset/new-moons-act.md
  site/docs/pages/identity/types.mdx
  src/identity/components/Identity.tsx
  src/identity/components/WithNameBadge.test.tsx
  src/identity/components/WithNameBadge.tsx
  src/identity/hooks/useAttestations.test.ts
  src/identity/hooks/useAttestations.ts
  src/identity/types.ts
  src/version.ts
Labels: documentation, pkg: identity

#629 docs: latest
  site/docs/pages/identity/identity.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#630 feat: Add swap loading state
  .changeset/thick-buses-pretend.md
  src/internal/form/TextInput.tsx
  src/swap/components/Swap.test.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/core/getTokenBalances.test.ts
  src/swap/core/getTokenBalances.ts
  src/swap/types.ts
Labels: pkg: swap

#632 feat: add theming to all Text components
  site/docs/pages/getting-started.mdx
  site/docs/pages/guides/tailwind.mdx
  site/sidebar.ts
  src/internal/text/TextAs.tsx
  src/internal/text/TextBody.tsx
  src/internal/text/TextCaption.tsx
  src/internal/text/TextHeadline.tsx
  src/internal/text/TextLabel1.tsx
  src/internal/text/TextLabel2.tsx
  src/internal/text/TextLegal.tsx
  src/internal/text/TextMessage.tsx
  src/internal/text/TextTitle3.tsx
  src/internal/text/index.ts
  src/internal/text/textColorMap.ts
  src/internal/text/types.ts
  src/styles/index.css
  src/styles/tailwind-base.css
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/components/SwapMessage.tsx
  src/token/components/TokenRow.tsx
  tailwind.config.js
Labels: documentation, pkg: swap, root, pkg: styles, pkg: token

#634 chore: release
  .changeset/thick-buses-pretend.md
  CHANGELOG.md
  src/version.ts
Labels: root

#635 chore: latest docs
  site/docs/styles.css
  site/package.json
  site/tailwind.config.cjs
  site/yarn.lock
Labels: documentation

#614 feat: Enable Geo Blocking for restricted territories
  .changeset/few-buttons-share.md
  site/docs/pages/restricted.mdx
  site/docs/pages/temp-demo.mdx
  site/middleware.ts
  site/package.json
  site/yarn.lock
Labels: documentation

#638 chore: Block onchainkit.xyz/temp-demo
  site/middleware.ts
Labels: documentation

#616 chore: upgrade packemon to v4
  .nvmrc
  package.json
  yarn.lock
Labels: root

#644 chore: release
  .changeset/few-buttons-share.md
  CHANGELOG.md
  src/version.ts
Labels: root

#646 fix: revert "chore: upgrade packemon to v4"
  .nvmrc
  package.json
  yarn.lock
Labels: root

#640 feat: theme system 2.0
  .changeset/unlucky-sloths-explain.md
  src/identity/components/Avatar.tsx
  src/identity/components/Badge.tsx
  src/internal/text/TextAs.tsx
  src/internal/text/TextBody.tsx
  src/internal/text/TextCaption.tsx
  src/internal/text/TextHeadline.tsx
  src/internal/text/TextLabel1.tsx
  src/internal/text/TextLabel2.tsx
  src/internal/text/TextLegal.tsx
  src/internal/text/TextTitle3.tsx
  src/internal/text/index.ts
  src/internal/text/textColorMap.ts
  src/internal/text/types.ts
  src/styles/theme.ts
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.tsx
  src/token/components/TokenChip.tsx
  src/token/components/TokenImage.tsx
  src/token/components/TokenRow.tsx
  src/token/components/TokenSelectButton.tsx
  src/token/components/TokenSelectDropdown.tsx
  src/utils/cn.ts
Labels: pkg: swap, pkg: styles, pkg: token, pkg: utils, pkg: identity

#648 chore: release
  .changeset/unlucky-sloths-explain.md
  CHANGELOG.md
  src/version.ts
Labels: root

#639 feat: Enable Geo blocking across entire website
  site/docs/pages/temp-demo.mdx
  site/middleware.ts
Labels: documentation

#649 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#633 feat: Add swap loading state and spinner to SwapButton
  .changeset/ten-buckets-lick.md
  src/internal/loading/Spinner.tsx
  src/swap/components/Swap.test.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/types.ts
Labels: pkg: swap

#654 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#650 feat: init Wallet
  .changeset/nice-boxes-eat.md
  site/docs/components/AccountConnect.tsx
  site/docs/pages/index.mdx
  site/docs/pages/wallet/connect-account.mdx
  site/docs/pages/wallet/introduction.mdx
  site/docs/pages/wallet/types.mdx
  site/docs/pages/wallet/wallet.mdx
  src/version.ts
  src/wallet/components/ConnectAccount.tsx
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletDropdown.test.tsx
  src/wallet/components/WalletDropdown.tsx
  src/wallet/context.test.tsx
  src/wallet/context.ts
  src/wallet/index.ts
  src/wallet/types.ts
Labels: documentation, pkg: wallet

#653 feat: update lib to esm for exported files
  .changeset/thirty-vans-visit.md
  package.json
Labels: root

#636 fix: update tailwind integration
  .changeset/curvy-ties-repeat.md
  jest.config.js
  site/docs/pages/guides/tailwind.mdx
  site/package.json
  site/tailwind.config.js
  site/yarn.lock
Labels: documentation, root

#642 feat: add new background, pressable and color themes
  .changeset/six-tables-doubt.md
  package.json
  src/styles/tailwind-base.css
  src/styles/theme.ts
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapToggleButton.tsx
  src/token/components/TokenChip.tsx
  src/token/components/TokenImage.tsx
  src/token/components/TokenRow.tsx
  src/token/components/TokenSearch.tsx
  src/token/components/TokenSelectButton.tsx
  src/token/types.ts
  tailwind.config.js
Labels: pkg: swap, root, pkg: styles, pkg: token, pkg: utils, pkg: identity

#659 chore: Cleanup index.mdx file
  site/docs/pages/index.mdx
  site/tailwind.config.js
Labels: documentation

#611 feat: adjust `SwapMessage` component
  .changeset/calm-cameras-check.md
  src/swap/components/Swap.test.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/constants.ts
  src/swap/core/buildSwapTransaction.test.ts
  src/swap/core/buildSwapTransaction.ts
  src/swap/core/getSwapErrorCode.test.ts
  src/swap/core/getSwapErrorCode.ts
  src/swap/core/getSwapMessage.ts
  src/swap/core/getSwapQuote.test.ts
  src/swap/core/getSwapQuote.ts
  src/swap/core/getTokenBalanceErrorState.test.ts
  src/swap/core/getTokenBalanceErrorState.ts
  src/swap/types.ts
Labels: documentation, pkg: swap

#661 fix: ui regression on index.mdx
  .changeset/tender-poets-exercise.md
  site/docs/pages/index.mdx
Labels: documentation

#663 chore: release
  .changeset/calm-cameras-check.md
  .changeset/curvy-ties-repeat.md
  .changeset/six-tables-doubt.md
  .changeset/tender-poets-exercise.md
  CHANGELOG.md
  src/version.ts
Labels: root

#641 feat: Identity components refactor
  .changeset/cyan-pans-hammer.md
  site/docs/pages/identity/address.mdx
  site/docs/pages/identity/identity.mdx
  site/docs/pages/identity/introduction.mdx
  site/docs/pages/identity/types.mdx
  site/sidebar.ts
  src/identity/components/Address.test.tsx
  src/identity/components/Address.tsx
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/Badge.test.tsx
  src/identity/components/Badge.tsx
  src/identity/components/DisplayBadge.test.tsx
  src/identity/components/DisplayBadge.tsx
  src/identity/components/Identity.tsx
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
  src/identity/components/WithAvatarBadge.test.tsx
  src/identity/components/WithAvatarBadge.tsx
  src/identity/components/WithNameBadge.test.tsx
  src/identity/components/WithNameBadge.tsx
  src/identity/components/defaultAvatarSVG.tsx
  src/identity/components/defaultLoadingSVG.tsx
  src/identity/getSlicedAddress.ts
  src/identity/hooks/useName.test.tsx
  src/identity/hooks/useName.ts
  src/identity/index.ts
  src/identity/types.ts
Labels: documentation, pkg: swap, pkg: styles, pkg: token, pkg: identity

#664 fix: site ock version
  site/package.json
  site/yarn.lock
Labels: documentation

#666 chore: release
  .changeset/cyan-pans-hammer.md
  src/version.ts
Labels: root

#671 docs: release 0.22.0 📖
  README.md
  site/docs/pages/identity/address.mdx
  site/docs/pages/identity/avatar.mdx
  site/docs/pages/identity/badge.mdx
  site/docs/pages/identity/identity.mdx
  site/docs/pages/identity/introduction.mdx
  site/docs/pages/identity/name.mdx
  site/docs/pages/identity/types.mdx
  site/docs/pages/index.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#662 chore: Update docs with SwapButton info and remove disabled flag on swap component
  .changeset/mean-apples-walk.md
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
Labels: documentation

#660 chore: Update the landing page view docs button, title description, and href link behavior.
  .changeset/slow-cameras-kneel.md
  site/docs/pages/index.mdx
  site/tailwind.config.js
Labels: documentation

#673 chore: refactor balance hooks
  .changeset/new-mails-drive.md
  src/swap/components/Swap.test.tsx
  src/swap/components/Swap.tsx
  src/wallet/core/useGetETHBalance.test.ts
  src/wallet/core/useGetETHBalance.ts
  src/wallet/core/useGetTokenBalance.test.ts
  src/wallet/core/useGetTokenBalance.ts
  src/wallet/types.ts
Labels: pkg: swap, pkg: wallet

#676 chore: Add tests and comments
  .changeset/khaki-turtles-cross.md
  src/internal/loading/Spinner.test.tsx
  src/internal/loading/Spinner.tsx
  src/swap/components/Swap.tsx
Labels: pkg: swap

#677 chore: Swap message updates
  .changeset/sour-llamas-provide.md
  src/swap/components/Swap.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/core/getSwapMessage.test.ts
  src/swap/core/getSwapMessage.ts
Labels: pkg: swap

#613 docs: force doc site to connect to base chain
  .changeset/happy-avocados-matter.md
  site/docs/components/App.tsx
Labels: documentation

#679 feat: Landing Page - Everything you need to build onchain section
  .changeset/long-games-accept.md
  site/docs/pages/index.mdx
  site/docs/public/assets/onchainkit-frame-1.png
  site/docs/public/assets/onchainkit-identity-2.png
  site/docs/public/assets/onchainkit-swap-1.png
  site/docs/public/assets/onchainkit-tokens-2.png
  site/docs/public/assets/onchainkit-wallet-3.png
Labels: documentation

#675 feat: identity polish
  .changeset/brown-dragons-wash.md
  src/identity/components/Avatar.tsx
  src/identity/components/Badge.test.tsx
  src/identity/components/Badge.tsx
  src/identity/components/DisplayBadge.tsx
  src/identity/components/Identity.tsx
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
  src/identity/core/getName.test.tsx
  src/identity/core/getName.ts
  src/identity/types.ts
  src/styles/theme.ts
  tailwind.config.js
Labels: root, pkg: styles, pkg: identity

#680 docs: add defaultComponent and loadingComponent to avatar page
  site/docs/pages/identity/avatar.mdx
Labels: documentation

#678 docs: update docs for 0.22.1 release 📖
  site/docs/pages/identity/address.mdx
  site/docs/pages/identity/badge.mdx
  site/docs/pages/identity/get-name.mdx
  site/docs/pages/identity/name.mdx
  site/docs/styles.css
  site/package.json
  site/yarn.lock
Labels: documentation

#683 docs: revert "feat: Landing Page - Everything you need to build onchain section"
  site/docs/pages/index.mdx
  site/docs/public/assets/onchainkit-frame-1.png
  site/docs/public/assets/onchainkit-identity-2.png
  site/docs/public/assets/onchainkit-swap-1.png
  site/docs/public/assets/onchainkit-tokens-2.png
  site/docs/public/assets/onchainkit-wallet-3.png
Labels: documentation

#685 docs: update tailwind instructions
  site/docs/pages/guides/tailwind.mdx
Labels: documentation

#688 fix: revert "use client"
  .changeset/red-hornets-shout.md
  src/identity/components/Address.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/DisplayBadge.tsx
  src/identity/components/Identity.tsx
  src/identity/components/Name.tsx
  src/identity/context.ts
  src/identity/hooks/useAttestations.ts
  src/identity/hooks/useAvatar.ts
  src/identity/hooks/useName.ts
  src/internal/form/TextInput.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/components/SwapToggleButton.tsx
  src/token/components/TokenChip.tsx
  src/token/components/TokenRow.tsx
  src/token/components/TokenSearch.tsx
  src/token/components/TokenSelectButton.tsx
  src/token/components/TokenSelectDropdown.tsx
  src/wallet/components/ConnectAccount.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletDropdown.tsx
Labels: pkg: swap, pkg: token, pkg: identity, pkg: wallet

#692 chore: Update Getting Started guide
  .changeset/stupid-shoes-sip.md
  site/docs/pages/getting-started.mdx
Labels: documentation

#694 chore: Update Swap component docs
  .changeset/friendly-ants-peel.md
  site/docs/pages/swap/swap.mdx
Labels: documentation

#517 feat: TokenSelectModal MVP
  src/token/components/TokenSearch.tsx
  src/token/components/TokenSelectModal.test.tsx
  src/token/components/TokenSelectModal.tsx
  src/token/index.test.ts
  src/token/index.ts
  src/token/types.ts
Labels: pkg: token

#697 fix: Avatar component properly handles className override
  .changeset/violet-worms-fold.md
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/defaultAvatarSVG.tsx
  src/identity/components/defaultLoadingSVG.tsx
Labels: pkg: identity

#699 docs: update doc site to v0.22.3 📖
  site/package.json
  site/yarn.lock
Labels: documentation

#701 fix: move viem and wagmi to peer dependencies
  .changeset/nine-goats-battle.md
  package.json
Labels: root

#705 fix: move tanstack to peer dependency
  .changeset/kind-toys-leave.md
  package.json
  yarn.lock
Labels: root

#707 docs: v0.22.5 📖
  README.md
  site/docs/pages/getting-started.mdx
  site/docs/pages/index.mdx
  site/docs/pages/xmtp/introduction.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#711 fix: Revert "fix: move tanstack to peer dependency"
  package.json
  yarn.lock
Labels: root

#712 fix: Revert "fix: move viem and wagmi to peer dependencies"
  package.json
Labels: root

#713 chore: release
  .changeset/wild-beds-melt.md
  CHANGELOG.md
  src/version.ts
  yarn.lock
Labels: root

#715 docs: updated site
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#717 chore: Remove coinbase wallet provider fields
  .changeset/breezy-news-reflect.md
  site/docs/components/App.tsx
  site/docs/pages/wallet/introduction.mdx
Labels: documentation, pkg: identity

#716 docs: Update Token Type docs with new className parameter
  .changeset/happy-feet-do.md
  site/docs/pages/identity/types.mdx
  src/identity/types.ts
Labels: documentation, pkg: identity

#719 feat: Add Swap Kit components className override.
  .changeset/nasty-coins-flash.md
  src/swap/components/Swap.test.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/components/SwapToggleButton.tsx
  src/swap/types.ts
Labels: documentation, pkg: swap

#722 docs: Update Swap docs to include className override changes and examples.
  .changeset/cyan-pots-jump.md
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  site/package.json
  site/yarn.lock
  src/swap/index.ts
Labels: documentation, pkg: swap

#720 feat: ConnectWallet component
  src/identity/components/Address.test.tsx
  src/identity/components/Address.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/DisplayBadge.test.tsx
  src/identity/components/DisplayBadge.tsx
  src/identity/components/Identity.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/components/IdentityProvider.test.tsx
  src/identity/components/IdentityProvider.tsx
  src/identity/components/Name.test.tsx
  src/identity/components/Name.tsx
  src/identity/context.test.tsx
  src/identity/context.ts
  src/identity/index.ts
  src/identity/types.ts
  src/internal/hooks/useValue.ts
  src/internal/loading/Spinner.test.tsx
  src/internal/loading/Spinner.tsx
  src/wallet/components/ConnectAccount.test.tsx
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/GoToWalletDashboard.tsx
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletDisconnect.tsx
  src/wallet/components/WalletDropdown.test.tsx
  src/wallet/components/WalletDropdown.tsx
  src/wallet/components/WalletProvider.test.tsx
  src/wallet/components/WalletProvider.tsx
  src/wallet/components/disconnectSvg.tsx
  src/wallet/components/walletSvg.tsx
  src/wallet/context.test.tsx
  src/wallet/context.ts
  src/wallet/index.ts
  src/wallet/types.ts
Labels: pkg: identity, pkg: wallet

#729 feat: EthBalance component
  src/identity/components/Address.test.tsx
  src/identity/components/Address.tsx
  src/identity/components/Avatar.test.tsx
  src/identity/components/Badge.test.tsx
  src/identity/components/EthBalance.test.tsx
  src/identity/components/EthBalance.tsx
  src/identity/components/Identity.test.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/components/Name.test.tsx
  src/identity/index.ts
  src/identity/types.ts
  src/internal/testing/index.ts
  src/internal/testing/mock.ts
  src/internal/testing/silenceError.ts
  src/internal/utils/findComponent.test.tsx
  src/internal/utils/findComponent.ts
  src/utils/getRoundedAmount.test.ts
  src/utils/getRoundedAmount.ts
Labels: pkg: utils, pkg: identity

#730 feat: wallet address copy
  .changeset/nasty-knives-rush.md
  src/identity/components/EthBalance.tsx
  src/identity/components/Identity.tsx
  src/identity/components/IdentityLayout.test.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/index.ts
  src/identity/types.ts
Labels: pkg: identity

#734 chore: wallet clean up
  src/identity/components/Identity.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/types.ts
  src/utils/getRoundedAmount.ts
Labels: pkg: utils, pkg: identity

#737 feat: add className to ConnectWallet and WalletDropdown
  .changeset/odd-suits-hammer.md
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/WalletDropdown.tsx
  src/wallet/types.ts
Labels: pkg: wallet

#740 docs: Update connect wallet docs
  .changeset/six-crabs-teach.md
  site/docs/components/WalletDemo.tsx
  site/docs/pages/index.mdx
  site/docs/pages/wallet/connect-account.mdx
  site/docs/pages/wallet/introduction.mdx
  site/docs/pages/wallet/wallet.mdx
  site/package.json
  site/sidebar.ts
  site/yarn.lock
Labels: documentation

#741 docs: Increase Wallet Demo margin
  .changeset/real-guests-repeat.md
  site/docs/components/WalletDemo.tsx
Labels: documentation
