Repository coinbase/onchainkit, pull requests merged in 2024-08, with the labels that each got.

#967 chore: Rename toast prop from `delayMs` to `durationMs`
  site/docs/pages/transaction/types.mdx
  src/transaction/components/TransactionToast.tsx
  src/transaction/types.ts
Labels: documentation

#968 chore: Add change text feature to Wallet docs
  site/docs/pages/wallet/wallet.mdx
Labels: documentation

#972 chore: release
  .changeset/gentle-peas-peel.md
  CHANGELOG.md
  README.md
  site/docs/public/logo/v0-27.png
  src/version.ts
Labels: documentation, root

#966 chore: Base Names testnet compatibility
  .changeset/beige-bikes-greet.md
  src/wallet/components/WalletDropdownBaseName.test.tsx
  src/wallet/components/WalletDropdownBaseName.tsx
  src/wallet/components/WalletProvider.tsx
  src/wallet/types.ts
Labels: documentation, pkg: identity, pkg: network, pkg: wallet

#925 feat: close Wallet dropdown when clicking outside the component container
  .changeset/thin-zebras-dream.md
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletDropdown.test.tsx
  src/wallet/components/WalletDropdown.tsx
Labels: documentation, pkg: wallet

#978 chore: release
  .changeset/beige-bikes-greet.md
  .changeset/thin-zebras-dream.md
  CHANGELOG.md
  src/version.ts
Labels: root

#979 docs: Add Transaction component to the landing page
  site/docs/components/landing/NavigationList.tsx
  site/docs/components/svg/frameSvg.tsx
  site/docs/components/svg/identitySvg.tsx
  site/docs/components/svg/swapSvg.tsx
  site/docs/components/svg/tokensSvg.tsx
  site/docs/components/svg/transactionSvg.tsx
  site/docs/components/svg/walletSvg.tsx
  site/docs/pages/index.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#945 Update txn success handler to pass multiple receipts for multiple contracts (EOA)
  site/docs/pages/transaction/types.mdx
  src/swap/components/Swap.test.tsx
  src/swap/components/SwapToggleButton.test.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/hooks/useCallsStatus.ts
  src/transaction/hooks/useWriteContract.test.ts
  src/transaction/hooks/useWriteContract.ts
  src/transaction/types.ts
Labels: documentation, pkg: swap

#981 chore: tests
  CHANGELOG.md
  vitest.config.ts
Labels: root

#983 chore: release
  .changeset/twelve-grapes-remember.md
  README.md
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
  site/docs/public/logo/v0-28.png
  src/transaction/index.ts
  src/transaction/types.ts
  src/version.ts
Labels: documentation, root

#985 docs: latest
  site/package.json
  site/yarn.lock
Labels: documentation

#980 feat: add `Permit2` approval process for `UniversalRouter`
  .changeset/five-berries-warn.md
  src/swap/components/SwapProvider.tsx
  src/swap/constants.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
Labels: pkg: swap

#989 docs: Fix Transaction Wrapper item alignment
  site/docs/components/TransactionWrapper.tsx
Labels: documentation

#987 chore: Add tests for SwapAmountInput
  .changeset/ten-swans-trade.md
  src/swap/components/SwapAmountInput.test.tsx
Labels: pkg: swap

#982 chore: Add useSwapBalances tests
  .changeset/nervous-pugs-boil.md
  src/swap/hooks/useSwapBalances.test.tsx
Labels: pkg: swap

#992 chore: release
  .changeset/five-berries-warn.md
  .changeset/nervous-pugs-boil.md
  .changeset/ten-swans-trade.md
  CHANGELOG.md
  src/version.ts
  vitest.config.ts
Labels: root

#977 feat: dark mode
  src/identity/components/Badge.test.tsx
  src/internal/svg/baseNameSvg.tsx
  src/internal/svg/closeSvg.tsx
  src/internal/svg/defaultAvatarSVG.tsx
  src/internal/svg/disconnectSvg.tsx
  src/internal/svg/walletSvg.tsx
  src/styles/index.css
  src/styles/tailwind-base.css
  src/styles/theme.ts
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapToggleButton.tsx
  src/token/components/SearchIcon.tsx
  src/token/components/TokenRow.tsx
  src/token/components/TokenSearch.tsx
  src/token/components/TokenSelectButton.tsx
  src/token/components/TokenSelectDropdown.css
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionStatusLabel.test.tsx
  tailwind.config.js
Labels: pkg: swap, root, pkg: styles, pkg: token, pkg: identity

#993 chore: release
  .changeset/itchy-swans-think.md
  CHANGELOG.md
  playground/nextjs-app-router/package.json
  src/version.ts
Labels: root

#995 fix: wallet dark mode
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
Labels: pkg: wallet

#996 chore: release
  .changeset/big-ads-sit.md
  CHANGELOG.md
  src/version.ts
Labels: root

#991 docs: dark mode support
  site/docs/pages/index.mdx
  site/docs/styles.css
  site/package.json
  site/vocs.config.tsx
  site/yarn.lock
Labels: documentation, pkg: swap, root, pkg: styles, pkg: token, pkg: identity

#998 fix: landing page background
  site/docs/styles.css
Labels: documentation

#999 fix: landing page token selector styling
  site/docs/components/TokenSelector.tsx
  site/docs/pages/index.mdx
  site/docs/styles.css
Labels: documentation

#990 chore: Refine Wallet UI - Update dropdown, badges, and text.
  .changeset/pretty-fireants-deliver.md
  site/docs/pages/index.mdx
  site/docs/pages/wallet/wallet.mdx
  src/identity/components/IdentityLayout.tsx
  src/internal/svg/disconnectSvg.tsx
  src/internal/svg/walletSvg.tsx
  src/wallet/components/WalletDropdownBaseName.test.tsx
  src/wallet/components/WalletDropdownBaseName.tsx
  src/wallet/components/WalletDropdownDisconnect.tsx
  src/wallet/components/WalletDropdownLink.tsx
Labels: documentation, pkg: identity, pkg: wallet

#986 Feat: Add Base avatar support, Fallback to Mainnet
  .changeset/honest-lies-walk.md
  site/docs/pages/identity/types.mdx
  site/docs/pages/identity/use-avatar.mdx
  src/identity/components/Avatar.stories.tsx
  src/identity/components/Avatar.tsx
  src/identity/hooks/useAvatar.test.tsx
  src/identity/hooks/useAvatar.ts
  src/identity/index.ts
  src/identity/types.ts
  src/identity/utils/getAvatar.test.tsx
  src/identity/utils/getAvatar.ts
Labels: documentation, pkg: identity

#1001 chore: release
  .changeset/honest-lies-walk.md
  .changeset/pretty-fireants-deliver.md
  CHANGELOG.md
  site/docs/pages/identity/types.mdx
  src/identity/index.ts
  src/identity/types.ts
  src/version.ts
  vitest.config.ts
Labels: documentation, root, pkg: identity

#1002 [FEAT]: Use default basename avatar when possible
  .changeset/warm-rice-study.md
  src/identity/components/Avatar.stories.tsx
  src/identity/constants.ts
  src/identity/utils/getAvatar.test.tsx
  src/identity/utils/getAvatar.ts
  src/identity/utils/getBaseDefaultProfilePicture.test.tsx
  src/identity/utils/getBaseDefaultProfilePicture.tsx
  src/identity/utils/getBaseDefaultProfilePictureIndex.test.tsx
  src/identity/utils/getBaseDefaultProfilePictureIndex.tsx
  src/identity/utils/isBasename.test.tsx
  src/identity/utils/isBasename.tsx
Labels: pkg: identity

#1004 chore: release
  .changeset/warm-rice-study.md
  CHANGELOG.md
  site/package.json
  site/yarn.lock
  src/version.ts
  vitest.config.ts
Labels: documentation, root

#1007 chore: export `TransactionResponse` type
  .changeset/cool-moons-bake.md
  site/docs/pages/transaction/types.mdx
  src/transaction/index.ts
Labels: documentation

#1006 Docs: Fix formatting + missing components
  site/docs/pages/getting-started.mdx
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#1010 chore: release
  .changeset/cool-moons-bake.md
  CHANGELOG.md
  site/package.json
  site/yarn.lock
  src/version.ts
Labels: documentation, root

#1011 chore: Fix svg render
  .changeset/silver-poems-flash.md
  src/internal/svg/baseNameSvg.tsx
  src/internal/svg/disconnectSvg.tsx
  src/internal/svg/walletSvg.tsx
  src/wallet/components/WalletDropdownBaseName.tsx
  src/wallet/components/WalletDropdownDisconnect.tsx
  src/wallet/components/WalletDropdownLink.tsx
Labels: pkg: wallet

#1012 docs: template
  README.md
  site/docs/pages/index.mdx
  site/vocs.config.tsx
Labels: documentation, root

#1014 chore: release
  .changeset/silver-poems-flash.md
  CHANGELOG.md
  src/version.ts
Labels: root

#1015 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1017 docs: update docs site tailwind setup
  site/docs/pages/guides/tailwind.mdx
  site/tailwind.config.js
Labels: documentation

#1020 chore: Adjust dark mode styles
  site/docs/components/TransactionWrapper.tsx
  src/transaction/components/TransactionToast.tsx
Labels: documentation

#1022 docs: nav
  site/sidebar.ts
Labels: documentation

#1024 fix: landing page text color
  site/docs/pages/guides/tailwind.mdx
  site/tailwind.config.js
Labels: documentation

#1026 chore: coverage
  vitest.config.ts
Labels: root

#1028 chore: useValue cleanup
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/hooks/useSwapBalances.tsx
  src/swap/types.ts
  vitest.config.ts
Labels: pkg: swap, root

#1027 chore: added test coverage to swap provider
  src/swap/components/SwapProvider.test.tsx
Labels: pkg: swap

#1030 chore: tests
  src/identity/components/Avatar.tsx
  src/identity/components/Name.tsx
  src/internal/utils/findComponent.test.tsx
  src/swap/components/Swap.tsx
  src/wallet/components/Wallet.tsx
  vitest.config.ts
Labels: pkg: swap, root, pkg: identity, pkg: wallet

#1031 chore: tests
  src/identity/utils/getAttestations.test.ts
  src/identity/utils/getAttestations.ts
  src/transaction/components/TransactionProvider.test.tsx
  vitest.config.ts
Labels: root, pkg: identity

#1035 chore: coverage
  vitest.config.ts
Labels: root

#1036 chore: Add Connect Wallet tests
  .changeset/many-ravens-cry.md
  src/wallet/components/ConnectWallet.test.tsx
Labels: pkg: wallet

#1038 docs: latest
  site/sidebar.ts
  vitest.config.ts
Labels: documentation, root

#916 docs: Implement WalletDropdownBaseName Sub-Component
  site/docs/pages/identity/avatar.mdx
  site/docs/pages/identity/get-avatar.mdx
  site/docs/pages/identity/get-name.mdx
  site/docs/pages/identity/name.mdx
  site/docs/pages/index.mdx
  site/docs/pages/wallet/types.mdx
  site/docs/pages/wallet/wallet-dropdown-base-name.mdx
  site/docs/pages/wallet/wallet.mdx
  site/sidebar.ts
  src/internal/svg/baseNameSvg.tsx
Labels: documentation, pkg: wallet

#1041 chore: Increase Wallet dropdown SVG sizes to 18x18
  .changeset/many-ravens-cry.md
  src/wallet/components/WalletDropdownBaseName.tsx
  src/wallet/components/WalletDropdownDisconnect.tsx
  src/wallet/components/WalletDropdownLink.tsx
Labels: pkg: wallet

#1034 feat: onStatus
  .changeset/many-ravens-cry.md
  src/transaction/components/Transaction.test.tsx
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/hooks/useCallsStatus.test.ts
  src/transaction/hooks/useCallsStatus.ts
  src/transaction/hooks/useGetTransactionStatus.test.tsx
  src/transaction/hooks/useWriteContract.test.ts
  src/transaction/hooks/useWriteContract.ts
  src/transaction/hooks/useWriteContracts.test.ts
  src/transaction/hooks/useWriteContracts.ts
  src/transaction/index.ts
  src/transaction/types.ts
  vitest.config.ts
Labels: root

#1047 feat: simplified setErrorMessage within Transaction component
  src/transaction/components/TransactionProvider.tsx
  src/transaction/constants.ts
  src/transaction/hooks/useCallsStatus.test.ts
  src/transaction/hooks/useCallsStatus.ts
  src/transaction/hooks/useWriteContract.test.ts
  src/transaction/hooks/useWriteContract.ts
  src/transaction/hooks/useWriteContracts.test.ts
  src/transaction/hooks/useWriteContracts.ts
  src/transaction/types.ts
  src/transaction/utils/isUserRejectedRequestError.test.ts
  src/transaction/utils/isUserRejectedRequestError.ts
  vitest.config.ts
Labels: root

#1049 feat: increased coverage
  vitest.config.ts
Labels: root

#1052 chore: more error cleanup
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/hooks/useTransactionReceipts.ts
  src/transaction/types.ts
  vitest.config.ts
Labels: root

#1021 feat: `WalletDropdownFundLink`
  .changeset/witty-crabs-change.md
  site/docs/pages/wallet/types.mdx
  src/internal/svg/fundWallet.tsx
  src/wallet/components/WalletDropdownFundLink.test.tsx
  src/wallet/components/WalletDropdownFundLink.tsx
  src/wallet/components/WalletDropdownLink.tsx
  src/wallet/hooks/useIcon.test.tsx
  src/wallet/hooks/useIcon.tsx
  src/wallet/index.ts
  src/wallet/types.ts
  src/wallet/utils/getWindowDimensions.test.ts
  src/wallet/utils/getWindowDimensions.ts
Labels: documentation, pkg: wallet

#1056 chore: increase coverage
  vitest.config.ts
Labels: root

#1045 Add mobile drawer and useBreakpoints hook
  src/useBreakpoints.test.ts
  src/useBreakpoints.ts
  src/wallet/components/WalletBottomSheet.test.tsx
  src/wallet/components/WalletBottomSheet.tsx
  src/wallet/components/WalletDropdown.test.tsx
  src/wallet/components/WalletDropdown.tsx
  src/wallet/types.ts
Labels: pkg: wallet

#1057 chore: coverage
  .changeset/many-ravens-cry.md
  .changeset/witty-crabs-change.md
  src/useBreakpoints.ts
  src/version.ts
  src/wallet/components/WalletBottomSheet.test.tsx
  src/wallet/components/WalletDropdown.test.tsx
  src/wallet/components/WalletDropdown.tsx
  vitest.config.ts
Labels: root, pkg: wallet

#1055 feat: keep polishing onStatus lifecycle
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/hooks/useTransactionReceipts.ts
  src/transaction/hooks/useWriteContract.test.ts
  src/transaction/hooks/useWriteContract.ts
  src/transaction/types.ts
  vitest.config.ts
Labels: root

#1054 fix: playground build
  playground/nextjs-app-router/next.config.mjs
  playground/nextjs-app-router/package.json
  src/swap/components/SwapButton.stories.tsx
  src/swap/components/SwapToggleButton.stories.tsx
  src/swap/utils/fromReadableAmount.ts
  src/swap/utils/toReadableAmount.ts
Labels: pkg: swap

#1064 fix: wallet icon svg size
  src/internal/svg/fundWallet.tsx
  src/wallet/components/WalletDropdownFundLink.tsx
Labels: pkg: wallet

#1061 docs: Fix Swap override styles example
  site/docs/pages/swap/swap.mdx
Labels: documentation

#1058 add min height/width and object fit cover to avatar
  .changeset/afraid-tips-whisper.md
  src/identity/components/Avatar.stories.tsx
  src/identity/components/Avatar.tsx
Labels: pkg: identity

#1066 chore: release
  .changeset/afraid-tips-whisper.md
  .changeset/many-ravens-cry.md
  README.md
  site/docs/public/logo/v0-29.png
  vitest.config.ts
Labels: documentation, root

#1067 docs: latest
  site/package.json
  site/yarn.lock
Labels: documentation

#1071 fix: default accountChain for Identity component
  .changeset/shaggy-pumpkins-rule.md
  playground/nextjs-app-router/next.config.mjs
  src/identity/components/Avatar.test.tsx
  src/identity/components/Avatar.tsx
  src/identity/components/Identity.tsx
  src/version.ts
  vitest.config.ts
Labels: root, pkg: identity

#1070 feat: `WalletDropdownFundLink` QA improvements
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/demo/Wallet.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  site/docs/pages/wallet/types.mdx
  src/internal/svg/fundWallet.tsx
  src/wallet/components/WalletDropdownFundLink.test.tsx
  src/wallet/components/WalletDropdownFundLink.tsx
  src/wallet/types.ts
Labels: documentation, pkg: wallet

#1074 chore: release
  .changeset/shaggy-pumpkins-rule.md
  CHANGELOG.md
  playground/nextjs-app-router/next.config.mjs
  vitest.config.ts
Labels: root

#1075 docs: latest
  CHANGELOG.md
  framegear/package.json
  framegear/yarn.lock
  playground/nextjs-app-router/next.config.mjs
  site/package.json
  site/yarn.lock
Labels: documentation, root, framegear

#1060 docs: `WalletDropdownFundLink`
  site/docs/components/svg/walletDropdownLinkCustomBaseIconSvg.tsx
  site/docs/pages/wallet/wallet-dropdown-fund-link.mdx
  site/sidebar.ts
Labels: documentation

#1079 chore: more tests
  src/network/neynar/getCustodyAddressForFidNeynar.test.ts
  src/network/neynar/getVerifiedAddressesForFidNeynar.test.ts
  vercel/vercel.json
  vitest.config.ts
Labels: root, pkg: network

#1086 chore: init api module
  biome.json
  package.json
  playground/README.md
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/demo/Swap.tsx
  playground/nextjs-app-router/components/demo/Transaction.tsx
  playground/nextjs-app-router/components/demo/Wallet.tsx
  playground/nextjs-app-router/components/form/paymaster.tsx
  playground/nextjs-app-router/components/form/wallet-type.tsx
  playground/nextjs-app-router/components/transaction/Click.tsx
  playground/nextjs-app-router/components/ui/button.tsx
  playground/nextjs-app-router/components/ui/dropdown-menu.tsx
  playground/nextjs-app-router/components/ui/input.tsx
  playground/nextjs-app-router/components/ui/label.tsx
  playground/nextjs-app-router/components/ui/radio-group.tsx
  playground/nextjs-app-router/components/ui/select.tsx
  playground/nextjs-app-router/components/ui/switch.tsx
  playground/nextjs-app-router/components/ui/tabs.tsx
  playground/nextjs-app-router/next.config.mjs
  playground/nextjs-app-router/package.json
  src/api/index.ts
Labels: root

#1088 feat: simplified useWriteContracts
  .changeset/dry-ligers-end.md
  src/transaction/components/TransactionButton.test.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionSponsor.test.tsx
  src/transaction/components/TransactionSponsor.tsx
  src/transaction/hooks/useGetTransactionStatusLabel.test.tsx
  src/transaction/hooks/useGetTransactionStatusLabel.tsx
  src/transaction/hooks/useWriteContract.test.ts
  src/transaction/hooks/useWriteContract.ts
  src/transaction/hooks/useWriteContracts.test.ts
  src/transaction/hooks/useWriteContracts.ts
  src/transaction/types.ts
  src/transaction/utils/isSpinnerDisplayed.test.ts
  src/transaction/utils/isSpinnerDisplayed.ts
  src/version.ts
  vitest.config.ts
Labels: root

#1090 chore: coverage
  package.json
  yarn.lock
Labels: root

#1092 chore: Fix hover state for all components
  .changeset/dry-ligers-end.md
  src/styles/theme.ts
  src/transaction/components/TransactionButton.tsx
  src/wallet/components/WalletDropdown.tsx
Labels: pkg: styles, pkg: wallet

#1093 docs: Fix Landing Page Transaction Component
  site/docs/pages/index.mdx
Labels: documentation

#1094 chore: biome with site
  README.md
  biome.json
  site/docs/components/App.tsx
  site/docs/components/TokenSelector.tsx
  site/docs/components/TransactionWrapper.tsx
  site/docs/components/landing/NavigationList.tsx
  site/docs/components/svg/walletDropdownLinkCustomBaseIconSvg.tsx
  site/sidebar.ts
  site/vocs.config.tsx
  vercel/vercel.json
Labels: documentation, root

#1096 docs: Fix button and link colors in light mode
  site/docs/pages/index.mdx
Labels: documentation

#1097 chore: fix docs and added tests
  site/docs/components/landing/NavigationList.tsx
  site/docs/pages/frame/frame-metadata.mdx
  site/docs/pages/identity/identity.mdx
  site/docs/pages/index.mdx
  site/docs/pages/swap/swap.mdx
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/wallet/wallet.mdx
  site/docs/styles.css
  src/identity/components/IdentityLayout.test.tsx
  src/identity/components/IdentityLayout.tsx
  src/identity/hooks/usePopover.ts
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.tsx
  src/token/components/TokenSelectDropdown.tsx
  src/token/components/TokenSelectModal.tsx
  vitest.config.ts
Labels: documentation, pkg: swap, root, pkg: token, pkg: identity

#1098 fix: Playground Wallet rendering
  playground/nextjs-app-router/components/demo/Wallet.tsx
Labels: documentation

#1099 docs: Improve landing page button hover visibility
  site/docs/pages/index.mdx
Labels: documentation

#1101 docs: Update Warpcast logo to SVG
  site/docs/pages/index.mdx
Labels: documentation

#1102 docs: Fix Landing Page text color in dark and light mode
  site/docs/components/landing/NavigationList.tsx
  site/docs/pages/index.mdx
  site/docs/styles.css
  site/package.json
  site/yarn.lock
Labels: documentation

#1104 docs: Add Twitter and Warpcast to Nav
  site/vocs.config.tsx
Labels: documentation

#1105 docs: Rename Nav Templates
  site/vocs.config.tsx
Labels: documentation

#1106 feat: init setLifeCycleStatus in Swap experience
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapToggleButton.test.tsx
  src/swap/hooks/useFromTo.test.ts
  src/swap/hooks/useSwapBalances.test.tsx
  src/swap/mocks.ts
  src/swap/types.ts
  src/swap/utils/buildSwapTransaction.test.ts
  src/swap/utils/buildSwapTransaction.ts
  src/swap/utils/getAPIParamsForToken.test.ts
  src/swap/utils/getAPIParamsForToken.ts
  src/swap/utils/getSwapMessage.test.ts
  src/swap/utils/getSwapQuote.test.ts
  src/swap/utils/getSwapQuote.ts
  src/swap/utils/getTokenBalanceErrorState.test.ts
  src/swap/utils/getTokenBalances.test.ts
  src/transaction/components/TransactionProvider.tsx
  src/wallet/hooks/useGetETHBalance.test.ts
  src/wallet/hooks/useGetETHBalance.ts
  src/wallet/hooks/useGetTokenBalance.test.ts
  src/wallet/hooks/useGetTokenBalance.ts
  vitest.config.ts
Labels: pkg: swap, root, pkg: wallet

#1110 chore: Update Basename naming
  .changeset/nasty-wolves-remember.md
  src/identity/index.ts
  src/identity/types.ts
  src/identity/utils/getAvatar.ts
  src/identity/utils/getBaseDefaultProfilePicture.tsx
  src/identity/utils/getName.ts
  src/internal/svg/basenameSvg.tsx
  src/wallet/components/WalletDropdownBasename.test.tsx
  src/wallet/components/WalletDropdownBasename.tsx
  src/wallet/index.ts
  src/wallet/types.ts
Labels: documentation, pkg: identity, pkg: wallet

#1111 docs: Update Basename naming
  playground/nextjs-app-router/components/demo/Wallet.tsx
  site/docs/pages/identity/types.mdx
  site/docs/pages/index.mdx
  site/docs/pages/wallet/types.mdx
  site/docs/pages/wallet/wallet-dropdown-basename.mdx
  site/docs/pages/wallet/wallet-dropdown-disconnect.mdx
  site/docs/pages/wallet/wallet-dropdown-link.mdx
  site/docs/pages/wallet/wallet.mdx
  site/package.json
  site/sidebar.ts
  site/yarn.lock
Labels: documentation, pkg: identity, pkg: wallet

#1114 chore: remove address prop and update sponsor txn check
  .changeset/brave-icons-fix.md
  site/docs/pages/transaction/transaction.mdx
  site/docs/pages/transaction/types.mdx
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionButton.test.tsx
  src/transaction/components/TransactionButton.tsx
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionSponsor.test.tsx
  src/transaction/components/TransactionSponsor.tsx
  src/transaction/types.ts
Labels: documentation

#1119 chore: Swap lifeCycleStatus cleanup
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/swap/utils/getErrorMessage.test.ts
  src/swap/utils/getErrorMessage.ts
  src/swap/utils/getSwapError.test.ts
  src/swap/utils/getSwapError.ts
  src/swap/utils/getSwapMessage.test.ts
  src/swap/utils/getSwapMessage.ts
  vitest.config.ts
Labels: pkg: swap, root

#1103 chore: Update Wallet disconnect SVG
  .changeset/many-ways-divide.md
  src/internal/svg/disconnectSvg.stories.ts
  src/internal/svg/disconnectSvg.tsx
  src/wallet/components/WalletDropdownDisconnect.stories.tsx
Labels: pkg: wallet

#1122 docs: Fix Landing Page component navigation buttons / SVGs
  site/docs/components/landing/NavigationList.tsx
  site/docs/components/svg/frameSvg.tsx
  site/docs/components/svg/identitySvg.tsx
  site/docs/components/svg/swapSvg.tsx
  site/docs/components/svg/transactionSvg.tsx
  site/docs/components/svg/walletSvg.tsx
  site/docs/styles.css
Labels: documentation

#1123 feat: moved onSuccess and onError for Swap at top level
  playground/nextjs-app-router/.gitignore
  src/internal/components/TextInput.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/index.ts
  src/swap/types.ts
  vitest.config.ts
Labels: pkg: swap, root

#1124 chore: test
  src/wallet/components/ConnectButton.tsx
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/types.ts
  vitest.config.ts
Labels: root, pkg: wallet

#1127 chore: release
  .changeset/brave-icons-fix.md
  .changeset/many-ways-divide.md
  CHANGELOG.md
  src/version.ts
Labels: root

#1128 fix: Swap input amount bug fix
  .changeset/brave-icons-fix.md
  src/swap/components/SwapProvider.tsx
  src/swap/utils/getAPIParamsForToken.ts
Labels: pkg: swap

#1133 chore: api module
  .changeset/dry-actors-bathe.md
  site/package.json
  site/sidebar.ts
  site/yarn.lock
  src/api/index.ts
  src/version.ts
Labels: documentation

#1134 docs: api
  README.md
  site/docs/pages/api/build-swap-transaction.mdx
  site/docs/pages/api/get-swap-quote.mdx
  site/docs/pages/api/get-tokens.mdx
  site/docs/pages/getting-started.mdx
  site/docs/pages/swap/build-swap-transaction.mdx
  site/docs/pages/token/token-search.mdx
  site/package.json
  site/sidebar.ts
  site/yarn.lock
Labels: documentation, root

#1132 chore: move away from onStart and using only onStatus for advance lifeCycleStatus
  CHANGELOG.md
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/swap/utils/processSwapTransaction.test.ts
  src/swap/utils/processSwapTransaction.ts
  vitest.config.ts
Labels: pkg: swap, root

#1135 chore: fix typo in Identity code snippet
  site/docs/pages/identity/identity.mdx
Labels: documentation

#1138 chore: Add SwapAmountInput unit test
  src/swap/components/SwapAmountInput.test.tsx
Labels: pkg: swap

#1137 chore: removed onSuccess from Swap button
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/transaction/utils/isUserRejectedRequestError.test.ts
  src/transaction/utils/isUserRejectedRequestError.ts
  vitest.config.ts
Labels: pkg: swap, root

#1140 chore: fix Swap docs
  site/docs/pages/swap/swap.mdx
Labels: documentation

#1139 chore: release
  .changeset/sweet-ghosts-act.md
  CHANGELOG.md
  README.md
  playground/nextjs-app-router/components/demo/Swap.tsx
  site/docs/public/logo/v0-30.png
  src/version.ts
Labels: documentation, root

#1143 docs: types
  site/docs/pages/swap/types.mdx
Labels: documentation

#1144 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1117 chore: Fix wallet hydration issue on next.js
  .changeset/green-elephants-matter.md
  src/swap/components/Swap.tsx
  src/transaction/components/Transaction.tsx
  src/useIsMounted.ts
  src/wallet/components/Wallet.tsx
Labels: pkg: swap, pkg: wallet

#1146 feat: moving `getTokens` under the API module
  .changeset/green-elephants-matter.md
  src/api/getTokens.test.ts
  src/api/getTokens.ts
  src/api/index.ts
  src/api/types.ts
  src/token/components/TokenSearch.stories.tsx
  src/token/index.test.ts
  src/token/index.ts
  src/token/types.ts
  src/transaction/components/Transaction.tsx
  src/transaction/components/TransactionProvider.tsx
  src/transaction/components/TransactionSponsor.test.tsx
  src/transaction/components/TransactionSponsor.tsx
  src/transaction/types.ts
  src/transaction/utils/getPaymasterUrl.test.ts
  src/transaction/utils/getPaymasterUrl.ts
  src/version.ts
  vitest.config.ts
Labels: root, pkg: token

#1145 chore: remove address prop from Swap component
  .changeset/modern-ladybugs-deliver.md
  playground/nextjs-app-router/components/demo/Swap.tsx
  site/docs/pages/index.mdx
  site/docs/pages/swap/swap.mdx
  site/docs/pages/swap/types.mdx
  src/swap/components/Swap.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/hooks/useFromTo.ts
  src/swap/hooks/useSwapBalances.tsx
  src/swap/types.ts
  src/wallet/hooks/useGetETHBalance.ts
  src/wallet/hooks/useGetTokenBalance.test.ts
  src/wallet/hooks/useGetTokenBalance.ts
Labels: documentation, pkg: swap, pkg: wallet

#1149 fix: token tests
  site/docs/pages/guides/contribution.mdx
  src/token/components/TokenSelectDropdown.tsx
  src/token/components/TokenSelectModal.tsx
Labels: documentation, pkg: token

#1150 chore: release
  .changeset/green-elephants-matter.md
  src/version.ts
  vitest.config.ts
Labels: root

#1151 feat: api module
  .changeset/green-elephants-matter.md
  .changeset/modern-ladybugs-deliver.md
  site/docs/pages/api/build-swap-transaction.mdx
  site/docs/pages/api/get-swap-quote.mdx
  site/docs/pages/api/get-tokens.mdx
  site/docs/pages/api/types.mdx
  src/api/buildSwapTransaction.test.ts
  src/api/buildSwapTransaction.ts
  src/api/getSwapQuote.test.ts
  src/api/getSwapQuote.ts
  src/api/index.ts
  src/api/types.ts
  src/api/utils/getAPIParamsForToken.test.ts
  src/api/utils/getAPIParamsForToken.ts
  src/api/utils/getSwapTransaction.test.ts
  src/api/utils/getSwapTransaction.ts
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/index.ts
  src/swap/types.ts
Labels: documentation, pkg: swap

#1152 chore: release
  .changeset/green-elephants-matter.md
  README.md
  site/docs/public/logo/v0-31.png
Labels: documentation, root

#1153 fix: re-add `error` so `SwapMessage` renders
  src/swap/components/SwapProvider.tsx
Labels: pkg: swap

#1155 fix: clear error on success
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
Labels: pkg: swap

#1154 fix: error message
  .changeset/green-elephants-matter.md
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  vitest.config.ts
Labels: pkg: swap, root

#1159 docs: latest
  CHANGELOG.md
  README.md
  site/docs/pages/swap/swap.mdx
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1156 chore: Fix WalletDropdown hover bug
  .changeset/chatty-coins-sort.md
  src/wallet/components/WalletDropdown.tsx
  src/wallet/components/WalletDropdownDisconnect.tsx
Labels: pkg: wallet

#1161 docs: code coverage
  README.md
  site/docs/pages/index.mdx
  site/docs/styles.css
  site/sidebar.ts
  src/internal/utils/formatTokenAmount.test.ts
  src/swap/components/SwapProvider.tsx
  vitest.config.ts
Labels: documentation, pkg: swap, root

#1163 docs: update remove redundant <TransactionStatusAction /> from docs
  site/docs/pages/transaction/transaction.mdx
Labels: documentation

#1169 feat: add `onchainkit-version` header to API requests
  .changeset/cyan-jokes-bathe.md
  src/network/constants.ts
  src/network/request.test.ts
  src/network/request.ts
Labels: pkg: network

#1170 feat: added useAddress and getAddress
  .changeset/beige-eagles-tap.md
  playground/nextjs-app-router/README.md
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/demo/Identity.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  src/identity/hooks/useAddress.test.tsx
  src/identity/hooks/useAddress.ts
  src/identity/hooks/useAvatar.ts
  src/identity/hooks/useName.ts
  src/identity/index.ts
  src/identity/types.ts
  src/identity/utils/getAddress.test.tsx
  src/identity/utils/getAddress.ts
  src/identity/utils/getName.ts
  src/identity/utils/isBasename.tsx
Labels: pkg: identity

#1172 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1175 chore: Add light and dark mode in Playground
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/tailwind.config.ts
  tailwind.config.js
Labels: root

#1174 docs: use basename
  playground/nextjs-app-router/components/demo/Identity.tsx
  site/docs/pages/guides/contribution.mdx
  site/docs/pages/guides/reporting-bug.mdx
  site/docs/pages/guides/tailwind.mdx
  site/docs/pages/guides/use-basename-in-onchain-app.mdx
  site/docs/pages/identity/get-address.mdx
  site/docs/pages/identity/get-name.mdx
  site/docs/pages/identity/name.mdx
  site/docs/pages/identity/types.mdx
  site/docs/pages/identity/use-address.mdx
  site/docs/pages/identity/use-avatar.mdx
  site/docs/pages/identity/use-name.mdx
  site/sidebar.ts
  src/identity/types.ts
Labels: documentation, pkg: identity

#1173 feat: add connect wallet functionality to Swap component
  .changeset/olive-monkeys-unite.md
  playground/nextjs-app-router/components/demo/Swap.tsx
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.test.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapMessage.test.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/types.ts
  src/swap/utils/getSwapMessage.test.ts
  src/swap/utils/getSwapMessage.ts
  src/wallet/components/Wallet.tsx
  src/wallet/types.ts
Labels: pkg: swap, pkg: wallet

#1178 docs: Lyfecycle Status
  site/docs/pages/guides/contribution.mdx
  site/docs/pages/guides/lifecycle-status.mdx
  site/docs/public/assets/onchainkit-lifecycle-status-vibes.png
  site/sidebar.ts
Labels: documentation

#1089 feat: Swap success state - refetch balances and clear inputs
  .changeset/unlucky-walls-tie.md
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/hooks/useFromTo.test.ts
  src/swap/hooks/useFromTo.ts
  src/swap/hooks/useResetInputs.test.ts
  src/swap/hooks/useResetInputs.ts
  src/swap/hooks/useSwapBalances.tsx
  src/swap/types.ts
Labels: pkg: swap

#1184 chore: Adjust style so Swap component doesn't shift
  .changeset/tame-islands-unite.md
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapMessage.tsx
Labels: pkg: swap

#1185 chore: Reset lifecycle state after Swap success
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
Labels: pkg: swap

#1186 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1187 chore: Add Swap Settings SVG
  .changeset/sixty-clocks-shop.md
  src/internal/svg/swapSettings.tsx
  src/wallet/hooks/useIcon.test.tsx
  src/wallet/hooks/useIcon.tsx
Labels: pkg: swap, pkg: wallet

#1192 chore: Add Swap Settings Slippage Description
  .changeset/sixty-clocks-shop.md
  src/swap/components/SwapSettingsSlippageDescription.test.tsx
  src/swap/components/SwapSettingsSlippageDescription.tsx
  src/swap/index.ts
  src/swap/types.ts
Labels: pkg: swap

#1191 chore: Add Swap Settings Slippage Title
  .changeset/sixty-clocks-shop.md
  src/swap/components/SwapSettingsSlippageTitle.test.tsx
  src/swap/components/SwapSettingsSlippageTitle.tsx
  src/swap/index.ts
  src/swap/types.ts
Labels: pkg: swap

#1189 chore: Add Swap Settings v1 api support
  .changeset/sixty-clocks-shop.md
  src/api/buildSwapTransaction.test.ts
  src/api/buildSwapTransaction.ts
  src/swap/index.ts
  src/swap/types.ts
Labels: pkg: swap

#1197 docs: Fix lifecycle spelling
  site/docs/pages/guides/lifecycle-status.mdx
Labels: documentation

#1198 chore: sitemap
  site/createSitemap.js
  site/docs/public/sitemap.xml
  site/package.json
  site/yarn.lock
Labels: documentation

#1201 docs: added robots.txt
  site/docs/public/robots.txt
Labels: documentation
