Repository coinbase/onchainkit, pull requests merged in 2025-04, with the labels that each got.

#2197 chore: Enable eslint prop-types rule
  eslint.config.mjs
  packages/onchainkit/src/internal/components/TextInput.test.tsx
  packages/onchainkit/src/internal/svg/addSvg.tsx
  packages/onchainkit/src/internal/svg/errorSvg.tsx
  packages/onchainkit/src/internal/svg/fullWidthErrorSvg.tsx
  packages/onchainkit/src/internal/svg/fullWidthSuccessSvg.tsx
  packages/onchainkit/src/internal/svg/successSvg.tsx
Labels: root

#2186 chore: update ConnectWallet and add default children
  packages/onchainkit/src/buy/components/Buy.test.tsx
  packages/onchainkit/src/signature/components/SignatureButton.test.tsx
  packages/onchainkit/src/signature/components/SignatureButton.tsx
  packages/onchainkit/src/wallet/components/ConnectWallet.test.tsx
  packages/onchainkit/src/wallet/components/ConnectWallet.tsx
  packages/onchainkit/src/wallet/components/ConnectWalletText.tsx
  packages/onchainkit/src/wallet/components/Wallet.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedDefault.tsx
  packages/onchainkit/src/wallet/components/WalletIsland.tsx
  packages/onchainkit/src/wallet/types.ts
  packages/playground/components/demo/Wallet.tsx
Labels: pkg: wallet

#2201 feat: Alpha releases for OnchainKit
  .github/workflows/release-alpha.yml
  package.json
  packages/onchainkit/package.json
  packages/onchainkit/scripts/publish-alpha.js
  packages/onchainkit/scripts/publish-alpha.test.ts
Labels: root

#2212 fix: Add all dependencies to useCallback
  packages/onchainkit/src/wallet/components/ConnectWallet.tsx
Labels: pkg: wallet

#2218 chore: Export Fund SuccessEventData type
  packages/onchainkit/src/fund/index.ts
  packages/onchainkit/src/fund/types.ts
Labels: pkg: fund

#2207 chore: Enable eslint complexity checks
  eslint.config.mjs
  packages/onchainkit/.storybook/main.ts
  packages/onchainkit/react-shim.js
  packages/onchainkit/src/OnchainKitProvider.tsx
  packages/onchainkit/src/appchain/bridge/hooks/useDeposit.ts
  packages/onchainkit/src/appchain/bridge/hooks/useWithdraw.ts
  packages/onchainkit/src/buy/components/BuyDropdown.tsx
  packages/onchainkit/src/buy/components/BuyProvider.test.tsx
  packages/onchainkit/src/buy/components/BuyProvider.tsx
  packages/onchainkit/src/buy/utils/validateQuote.ts
  packages/onchainkit/src/checkout/components/CheckoutProvider.tsx
  packages/onchainkit/src/core/network/attestations.ts
  packages/onchainkit/src/earn/hooks/useMorphoVault.ts
  packages/onchainkit/src/fund/components/FundCardPresetAmountInputList.tsx
  packages/onchainkit/src/fund/components/FundCardProvider.tsx
  packages/onchainkit/src/fund/hooks/useFundCardSetupOnrampEventListeners.ts
  packages/onchainkit/src/fund/hooks/usePaymentMethods.ts
  packages/onchainkit/src/fund/utils/subscribeToWindowMessage.test.ts
  packages/onchainkit/src/identity/components/Avatar.tsx
  packages/onchainkit/src/identity/utils/getAvatars.ts
  packages/onchainkit/src/identity/utils/getNames.ts
  packages/onchainkit/src/internal/components/DismissableLayer.tsx
  packages/onchainkit/src/internal/components/amount-input/AmountInput.tsx
  packages/onchainkit/src/internal/types.ts
  packages/onchainkit/src/internal/utils/formatFiatAmount.test.ts
  packages/onchainkit/src/nft/components/view/NFTImage.test.tsx
  packages/onchainkit/src/swap/components/SwapProvider.test.tsx
  packages/onchainkit/src/swap/components/SwapProvider.tsx
  packages/onchainkit/src/swap/types.ts
  packages/onchainkit/src/transaction/types.ts
  packages/onchainkit/src/wallet/components/WalletModal.tsx
  packages/onchainkit/vitest.config.ts
  packages/playground/components/form/swap-config.tsx
Labels: pkg: swap, root, pkg: identity, pkg: network, pkg: wallet, pkg: core, pkg: fund

#2183 feat: minikit cli
  .changeset/config.json
  .github/workflows/cli-test.yml
  package.json
  packages/account-manifest/.gitignore
  packages/account-manifest/README.md
  packages/account-manifest/index.html
  packages/account-manifest/package.json
  packages/account-manifest/src/App.tsx
  packages/account-manifest/src/components/Page.tsx
  packages/account-manifest/src/components/Step.tsx
  packages/account-manifest/src/components/Success.tsx
  packages/account-manifest/src/components/Timer.tsx
  packages/account-manifest/src/constants.ts
  packages/account-manifest/src/hooks/useFid.ts
  packages/account-manifest/src/hooks/useSignManifest.ts
  packages/account-manifest/src/index.css
  packages/account-manifest/src/main.tsx
  packages/account-manifest/src/utils.ts
  packages/account-manifest/src/vite-env.d.ts
  packages/account-manifest/tailwind.config.js
  packages/account-manifest/tsconfig.app.json
  packages/account-manifest/tsconfig.json
  packages/account-manifest/tsconfig.node.json
  packages/account-manifest/vite.config.ts
  packages/create-onchain/.gitignore
  packages/create-onchain/package.json
  packages/create-onchain/src/cli.test.ts
  packages/create-onchain/src/cli.ts
  packages/create-onchain/src/utils.test.ts
  packages/create-onchain/templates/minikit/.eslintrc.json
  packages/create-onchain/templates/minikit/.prettierrc
  packages/create-onchain/templates/minikit/.yarnrc.yml
  packages/create-onchain/templates/minikit/README.md
  packages/create-onchain/templates/minikit/_gitignore
  packages/create-onchain/templates/minikit/app/.well-known/farcaster.json/route.ts
  packages/create-onchain/templates/minikit/app/api/notify/route.ts
  packages/create-onchain/templates/minikit/app/api/webhook/route.ts
  packages/create-onchain/templates/minikit/app/components/snake.tsx
  packages/create-onchain/templates/minikit/app/globals.css
  packages/create-onchain/templates/minikit/app/layout.tsx
  packages/create-onchain/templates/minikit/app/page.tsx
  packages/create-onchain/templates/minikit/app/providers.tsx
  packages/create-onchain/templates/minikit/app/svg/ArrowSvg.tsx
  packages/create-onchain/templates/minikit/app/svg/Check.tsx
  packages/create-onchain/templates/minikit/app/svg/SnakeLogo.tsx
  packages/create-onchain/templates/minikit/app/theme.css
  packages/create-onchain/templates/minikit/lib/notification-client.ts
  packages/create-onchain/templates/minikit/lib/notification.ts
  packages/create-onchain/templates/minikit/lib/redis.ts
  packages/create-onchain/templates/minikit/next.config.mjs
  packages/create-onchain/templates/minikit/package.json
  packages/create-onchain/templates/minikit/postcss.config.mjs
  packages/create-onchain/templates/minikit/public/snake.png
  packages/create-onchain/templates/minikit/tailwind.config.ts
  packages/create-onchain/templates/minikit/tsconfig.json
  packages/create-onchain/vitest.config.ts
  packages/onchainkit/package.json
  packages/onchainkit/vitest.config.ts
  packages/playground/package.json
  pnpm-lock.yaml
Labels: root

#2223 refactor: rename account-manifest
  .changeset/config.json
  package.json
  packages/create-onchain/package.json
  packages/miniapp-manifest-generator/.gitignore
  packages/miniapp-manifest-generator/README.md
  packages/miniapp-manifest-generator/index.html
  packages/miniapp-manifest-generator/package.json
  packages/miniapp-manifest-generator/src/App.tsx
  packages/miniapp-manifest-generator/src/components/Page.tsx
  packages/miniapp-manifest-generator/src/components/Step.tsx
  packages/miniapp-manifest-generator/src/components/Success.tsx
  packages/miniapp-manifest-generator/src/components/Timer.tsx
  packages/miniapp-manifest-generator/src/constants.ts
  packages/miniapp-manifest-generator/src/hooks/useFid.ts
  packages/miniapp-manifest-generator/src/hooks/useSignManifest.ts
  packages/miniapp-manifest-generator/src/index.css
  packages/miniapp-manifest-generator/src/main.tsx
  packages/miniapp-manifest-generator/src/utils.ts
  packages/miniapp-manifest-generator/src/vite-env.d.ts
  packages/miniapp-manifest-generator/tailwind.config.js
  packages/miniapp-manifest-generator/tsconfig.app.json
  packages/miniapp-manifest-generator/tsconfig.json
  packages/miniapp-manifest-generator/tsconfig.node.json
  packages/miniapp-manifest-generator/vite.config.ts
  pnpm-lock.yaml
Labels: root

#2225 refactor: add tests to manifest
  .github/workflows/miniapp-manifest-build.yml
  .github/workflows/miniapp-manifest-lint.yml
  .github/workflows/miniapp-manifest-test.yml
  packages/miniapp-manifest-generator/.gitignore
  packages/miniapp-manifest-generator/package.json
  packages/miniapp-manifest-generator/src/components/Page.test.tsx
  packages/miniapp-manifest-generator/src/components/Page.tsx
  packages/miniapp-manifest-generator/src/components/Step.test.tsx
  packages/miniapp-manifest-generator/src/components/Step.tsx
  packages/miniapp-manifest-generator/src/components/Success.test.tsx
  packages/miniapp-manifest-generator/src/components/Success.tsx
  packages/miniapp-manifest-generator/src/components/Timer.test.tsx
  packages/miniapp-manifest-generator/src/components/Timer.tsx
  packages/miniapp-manifest-generator/src/components/steps/Connect.test.tsx
  packages/miniapp-manifest-generator/src/components/steps/Connect.tsx
  packages/miniapp-manifest-generator/src/components/steps/Domain.test.tsx
  packages/miniapp-manifest-generator/src/components/steps/Domain.tsx
  packages/miniapp-manifest-generator/src/components/steps/Sign.test.tsx
  packages/miniapp-manifest-generator/src/components/steps/Sign.tsx
  packages/miniapp-manifest-generator/src/hooks/useFid.test.tsx
  packages/miniapp-manifest-generator/src/hooks/useFid.ts
  packages/miniapp-manifest-generator/src/hooks/useSignManifest.test.tsx
  packages/miniapp-manifest-generator/src/hooks/useSignManifest.ts
  packages/miniapp-manifest-generator/src/utilities/toBase64.test.ts
  packages/miniapp-manifest-generator/src/utilities/toBase64.ts
  packages/miniapp-manifest-generator/src/utilities/validateUrl.test.ts
  packages/miniapp-manifest-generator/src/utilities/validateUrl.ts
  packages/miniapp-manifest-generator/vitest.config.ts
  packages/miniapp-manifest-generator/vitest.setup.ts
  pnpm-lock.yaml
Labels: root

#2231 fix: update manifest readme
  README.md
  packages/miniapp-manifest-generator/README.md
  packages/onchainkit/README.md
Labels: root

#2219 chore: Enable eslint rule no-explicit-any
  eslint.config.mjs
  packages/onchainkit/src/core/network/attestations.ts
  packages/onchainkit/src/fund/utils/subscribeToWindowMessage.test.ts
  packages/onchainkit/src/identity/hooks/useAttestations.test.ts
  packages/onchainkit/src/internal/hooks/useDebounce.ts
  packages/onchainkit/src/internal/types.ts
  packages/onchainkit/src/internal/utils/formatFiatAmount.test.ts
  packages/onchainkit/src/swap/types.ts
  packages/onchainkit/src/transaction/hooks/useWriteContracts.test.ts
  packages/onchainkit/src/transaction/types.ts
  packages/onchainkit/src/wallet/components/ConnectWallet.test.tsx
Labels: pkg: swap, root, pkg: identity, pkg: network, pkg: wallet, pkg: core, pkg: fund

#2246 chore: reorder css imports to allow overrides
  packages/onchainkit/src/styles/index-with-tailwind.css
Labels: pkg: styles

#2248 fix: OnchainKit tsup resolve path aliases as part of build step
  packages/onchainkit/package.json
  packages/onchainkit/tsconfig.dev.json
  packages/onchainkit/tsconfig.esm.json
  packages/onchainkit/tsconfig.json
  packages/onchainkit/tsconfig.lib.json
  packages/onchainkit/tsup.config.ts
  pnpm-lock.yaml
Labels: root

#2255 chore: Add bidirectional resolution validation to Basenames and ENS names
  .changeset/mighty-rockets-teach.md
  packages/onchainkit/src/identity/hooks/useName.test.tsx
  packages/onchainkit/src/identity/utils/getName.test.ts
  packages/onchainkit/src/identity/utils/getName.ts
Labels: pkg: identity

#2258 fix: only call useportfolio when subcomponents need it
  .changeset/tame-pugs-create.md
  packages/onchainkit/src/wallet/components/WalletAdvancedAddressDetails.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedAddressDetails.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedTokenHoldings.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedTokenHoldings.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedTransactionActions.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedTransactionActions.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedWalletActions.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedWalletActions.tsx
  packages/onchainkit/src/wallet/components/WalletDropdownContent.test.tsx
  packages/onchainkit/src/wallet/components/WalletDropdownContent.tsx
  packages/onchainkit/src/wallet/components/WalletProvider.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendProvider.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendProvider.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendTokenSelector.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendTokenSelector.tsx
  packages/onchainkit/src/wallet/hooks/usePortfolio.test.tsx
  packages/onchainkit/src/wallet/hooks/usePortfolio.ts
  packages/onchainkit/src/wallet/types.ts
Labels: pkg: wallet

#2261 chore: add context exports
  packages/onchainkit/src/buy/index.ts
  packages/onchainkit/src/checkout/index.ts
  packages/onchainkit/src/earn/index.ts
  packages/onchainkit/src/swap/index.ts
  packages/onchainkit/src/transaction/index.ts
  packages/onchainkit/src/wallet/index.ts
Labels: pkg: swap, pkg: wallet

#2277 feat: Add batch ENS / Basename resolution with useAddresses hook and getAddresses utility
  .changeset/early-schools-lie.md
  packages/onchainkit/src/identity/hooks/useAddresses.test.tsx
  packages/onchainkit/src/identity/hooks/useAddresses.ts
  packages/onchainkit/src/identity/index.ts
  packages/onchainkit/src/identity/types.ts
  packages/onchainkit/src/identity/utils/getAddresses.test.ts
  packages/onchainkit/src/identity/utils/getAddresses.ts
Labels: pkg: identity

#2278 chore: add provider exports back
  packages/onchainkit/src/earn/index.ts
  packages/onchainkit/src/wallet/index.ts
Labels: pkg: wallet

#2227 refactor: Replace Packemon with Vite
  .github/workflows/check.yml
  .github/workflows/lint.yml
  packages/onchainkit/.storybook/main.ts
  packages/onchainkit/.storybook/preview.ts
  packages/onchainkit/package.json
  packages/onchainkit/packemon.config.ts
  packages/onchainkit/react-shim.js
  packages/onchainkit/src/earn/components/DepositBalance.test.tsx
  packages/onchainkit/src/earn/components/DepositButton.test.tsx
  packages/onchainkit/src/earn/components/EarnBalance.test.tsx
  packages/onchainkit/src/earn/components/EarnDeposit.test.tsx
  packages/onchainkit/src/earn/components/EarnDetails.test.tsx
  packages/onchainkit/src/earn/components/EarnWithdraw.test.tsx
  packages/onchainkit/src/earn/components/VaultDetails.test.tsx
  packages/onchainkit/src/earn/components/WithdrawBalance.test.tsx
  packages/onchainkit/src/earn/components/WithdrawButton.test.tsx
  packages/onchainkit/src/earn/components/YieldDetails.test.tsx
  packages/onchainkit/src/earn/mocks/mocks.test.ts
  packages/onchainkit/src/identity/components/Address.stories.ts
  packages/onchainkit/src/identity/components/Avatar.stories.tsx
  packages/onchainkit/src/identity/components/Badge.stories.ts
  packages/onchainkit/src/identity/components/EthBalance.stories.tsx
  packages/onchainkit/src/identity/components/Name.stories.tsx
  packages/onchainkit/src/internal/svg/disconnectSvg.stories.ts
  packages/onchainkit/src/swap/components/SwapButton.stories.tsx
  packages/onchainkit/src/swap/components/SwapToggleButton.stories.tsx
  packages/onchainkit/src/token/components/TokenChip.stories.ts
  packages/onchainkit/src/token/components/TokenImage.stories.ts
  packages/onchainkit/src/token/components/TokenRow.stories.ts
  packages/onchainkit/src/token/components/TokenSearch.stories.tsx
  packages/onchainkit/src/token/components/TokenSelectButton.stories.ts
  packages/onchainkit/src/token/components/TokenSelectDropdown.stories.tsx
  packages/onchainkit/src/transaction/components/TransactionButton.stories.tsx
  packages/onchainkit/src/vite-env.d.ts
  packages/onchainkit/src/wallet/components/WalletDropdownDisconnect.stories.tsx
  packages/onchainkit/src/wallet/types.ts
  packages/onchainkit/src/wallet/utils/isWalletACoinbaseSmartWallet.test.ts
  packages/onchainkit/tsconfig.dev.json
  packages/onchainkit/tsconfig.esm.json
  packages/onchainkit/tsconfig.json
  packages/onchainkit/tsup.config.ts
  packages/onchainkit/vite.config.ts
  pnpm-lock.yaml
Labels: pkg: swap, root, pkg: token, pkg: identity, pkg: wallet

#2282 fix wallet modal
  packages/onchainkit/src/wallet/components/WalletModal.tsx
Labels: pkg: wallet

#2288 Fix: Flaky AppchainBridgeProvider network toggle test
  packages/onchainkit/src/appchain/bridge/components/AppchainBridgeProvider.test.tsx
Labels: pkg: identity

#2283 refactor: send display name
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/Send.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/Send.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendAddressInput.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendAddressInput.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendAddressSelection.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendAddressSelection.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendAddressSelector.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendAddressSelector.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendButton.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendButton.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendHeader.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendHeader.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendProvider.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendProvider.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/hooks/useRecipientState.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/hooks/useRecipientState.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/types.ts
  packages/onchainkit/src/wallet/components/wallet-advanced-send/utils/resolveAddressInput.test.ts
  packages/onchainkit/src/wallet/components/wallet-advanced-send/utils/resolveAddressInput.ts
  packages/playground/package.json
  pnpm-lock.yaml
Labels: root, pkg: wallet

#2281 chore: Refactor getNames utility to leverage batch processing with getAddresses
  .changeset/fancy-pets-add.md
  packages/onchainkit/src/identity/utils/getNames.test.ts
  packages/onchainkit/src/identity/utils/getNames.ts
Labels: pkg: identity

#2290 chore: Dynamically set version in version.ts
  packages/onchainkit/src/core/network/constants.ts
  packages/onchainkit/src/core/network/request.test.ts
  packages/onchainkit/src/fund/utils/getCoinbaseSmartWalletFundUrl.ts
  packages/onchainkit/src/fund/utils/getOnrampBuyUrl.test.ts
  packages/onchainkit/src/fund/utils/getOnrampBuyUrl.ts
  packages/onchainkit/src/version.test.ts
  packages/onchainkit/src/version.ts
  packages/onchainkit/src/vite-env.d.ts
  packages/onchainkit/vite.config.ts
  packages/onchainkit/vitest.setup.ts
Labels: pkg: network, pkg: core, pkg: fund

#2291 fix: viem version
  packages/miniapp-manifest-generator/package.json
  packages/onchainkit/package.json
  packages/onchainkit/src/checkout/components/CheckoutProvider.tsx
  packages/onchainkit/src/swap/hooks/useAwaitCalls.test.ts
  packages/onchainkit/src/swap/hooks/useAwaitCalls.ts
  packages/onchainkit/src/swap/utils/sendSwapTransactions.test.ts
  packages/onchainkit/src/swap/utils/sendSwapTransactions.ts
  packages/onchainkit/src/transaction/hooks/useCallsStatus.test.ts
  packages/onchainkit/src/transaction/hooks/useCallsStatus.ts
  packages/onchainkit/src/transaction/hooks/useSendCalls.test.ts
  packages/onchainkit/src/transaction/hooks/useSendCalls.ts
  packages/onchainkit/src/transaction/hooks/useWriteContracts.test.ts
  packages/onchainkit/src/transaction/hooks/useWriteContracts.ts
  packages/playground/package.json
  pnpm-lock.yaml
Labels: pkg: swap, root

#2295 fix: viem
  packages/onchainkit/src/checkout/components/CheckoutProvider.tsx
  packages/onchainkit/src/internal/utils/normalizeWagmi.test.ts
  packages/onchainkit/src/internal/utils/normalizeWagmi.ts
  packages/onchainkit/src/swap/hooks/useAwaitCalls.ts
  packages/onchainkit/src/swap/utils/sendSwapTransactions.ts
  packages/onchainkit/src/transaction/hooks/useCallsStatus.ts
  packages/onchainkit/src/transaction/hooks/useSendCalls.ts
  packages/onchainkit/src/transaction/hooks/useWriteContracts.ts
Labels: pkg: swap

#2104 chore: add redirect for `getOnrampBuyUrl`
  vercel/onchainkit-docs-redirects/vercel.json
Labels: documentation

#2319 fix: rpcUrl
  packages/onchainkit/src/DefaultOnchainKitProviders.tsx
  packages/onchainkit/src/core/network/getChainPublicClient.test.ts
  packages/onchainkit/src/core/network/getChainPublicClient.ts
  packages/playground/app/page.tsx
  packages/playground/components/OnchainProviders.tsx
Labels: pkg: network, pkg: core
