Repository coinbase/onchainkit, pull requests merged in 2025-02, with the labels that each got.

#1911 feat: Add onramp component level tracking param
  src/fund/components/FundButton.tsx
  src/fund/hooks/useFundCardFundingUrl.ts
  src/fund/hooks/useGetFundingUrl.test.ts
  src/fund/hooks/useGetFundingUrl.ts
  src/fund/types.ts
  src/fund/utils/getOnrampBuyUrl.ts
  src/wallet/components/WalletDropdownFundLink.tsx
Labels: pkg: wallet, pkg: fund

#1899 feat: add onchainkit-context
  src/api/buildMintTransaction.test.ts
  src/api/buildMintTransaction.ts
  src/api/buildPayTransaction.test.ts
  src/api/buildPayTransaction.ts
  src/api/buildSwapTransaction.test.ts
  src/api/buildSwapTransaction.ts
  src/api/getMintDetails.test.ts
  src/api/getMintDetails.ts
  src/api/getPortfolios.test.ts
  src/api/getPortfolios.ts
  src/api/getSwapQuote.test.ts
  src/api/getSwapQuote.ts
  src/api/getTokenDetails.test.ts
  src/api/getTokenDetails.ts
  src/api/getTokens.test.ts
  src/api/getTokens.ts
  src/buy/components/BuyProvider.tsx
  src/buy/utils/getBuyQuote.test.ts
  src/buy/utils/getBuyQuote.ts
  src/checkout/utils/handlePayRequest.test.ts
  src/checkout/utils/handlePayRequest.ts
  src/core/network/constants.ts
  src/core/network/request.test.ts
  src/core/network/request.ts
  src/internal/hooks/useExchangeRate.tsx
  src/nft/hooks/useMintData.ts
  src/nft/hooks/useMintDetails.ts
  src/nft/hooks/useNFTData.ts
  src/nft/hooks/useTokenDetails.ts
  src/nft/utils/buildMintTransactionData.ts
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/wallet/components/WalletAdvancedProvider.test.tsx
  src/wallet/components/WalletAdvancedProvider.tsx
  src/wallet/hooks/usePortfolio.test.tsx
  src/wallet/hooks/usePortfolio.ts
Labels: pkg: swap, root, pkg: wallet, pkg: core

#1901 feat: Add DropdownMenu UI Primitive
  .changeset/healthy-cups-admire.md
  src/internal/components/primitives/Dialog.test.tsx
  src/internal/components/primitives/Dialog.tsx
  src/internal/components/primitives/DropdownMenu.test.tsx
  src/internal/components/primitives/DropdownMenu.tsx
  src/internal/components/primitives/Popover.tsx
  src/internal/utils/getHorizontalPosition.test.ts
  src/internal/utils/getHorizontalPosition.ts
  src/styles/constants.ts
Labels: pkg: styles, pkg: token

#1909 feat: Fund Card - Dynamic amount input size
  src/fund/components/FundCardAmountInput.test.tsx
  src/internal/components/amount-input/AmountInput.tsx
  src/internal/hooks/useInputResize.test.ts
  src/internal/hooks/useInputResize.ts
Labels: pkg: fund

#1912 feat: Add WalletAdvanced classnames overrides
  playground/nextjs-app-router/onchainkit/package.json
  src/wallet/components/WalletAdvanced.tsx
  src/wallet/components/WalletAdvancedAddressDetails.test.tsx
  src/wallet/components/WalletAdvancedAddressDetails.tsx
  src/wallet/components/WalletAdvancedContent.test.tsx
  src/wallet/components/WalletAdvancedContent.tsx
  src/wallet/components/WalletAdvancedQrReceive.test.tsx
  src/wallet/components/WalletAdvancedQrReceive.tsx
  src/wallet/components/WalletAdvancedSwap.test.tsx
  src/wallet/components/WalletAdvancedSwap.tsx
  src/wallet/components/WalletAdvancedTokenHoldings.test.tsx
  src/wallet/components/WalletAdvancedTokenHoldings.tsx
  src/wallet/components/WalletAdvancedTransactionActions.test.tsx
  src/wallet/components/WalletAdvancedTransactionActions.tsx
  src/wallet/components/WalletAdvancedWalletActions.test.tsx
  src/wallet/components/WalletAdvancedWalletActions.tsx
  src/wallet/types.ts
Labels: pkg: wallet

#1921 docs: fix type typo, add sidebar
  site/docs/pages/api/types.mdx
  site/sidebar.ts
Labels: documentation

#1904 docs: Update WalletModal
  .changeset/chilled-donkeys-rest.md
  site/docs/pages/wallet/wallet-island.mdx
  site/docs/pages/wallet/wallet-modal.mdx
  site/docs/pages/wallet/wallet.mdx
  site/sidebar.ts
Labels: documentation

#1903 feat: Implement DropdownMenu Primitive in TokenSelectDropdown
  .changeset/tiny-geckos-visit.md
  src/token/components/TokenSelectDropdown.test.tsx
  src/token/components/TokenSelectDropdown.tsx
Labels: pkg: token

#1827 Feat: WalletIsland mobile design
  src/internal/components/BottomSheet.test.tsx
  src/internal/components/BottomSheet.tsx
  src/internal/components/CopyButton.tsx
  src/internal/components/Draggable/Draggable.tsx
  src/internal/components/Draggable/useRepositionOnResize.test.ts
  src/internal/components/Draggable/useRepositionOnResize.ts
  src/wallet/components/Wallet.test.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletAdvanced.test.tsx
  src/wallet/components/WalletAdvancedAddressDetails.test.tsx
  src/wallet/components/WalletAdvancedAddressDetails.tsx
  src/wallet/components/WalletAdvancedContent.test.tsx
  src/wallet/components/WalletAdvancedContent.tsx
  src/wallet/components/WalletAdvancedDefault.test.tsx
  src/wallet/components/WalletAdvancedQrReceive.test.tsx
  src/wallet/components/WalletAdvancedQrReceive.tsx
  src/wallet/components/WalletAdvancedTransactionActions.tsx
  src/wallet/components/WalletAdvancedWalletActions.tsx
  src/wallet/components/WalletDefault.test.tsx
  src/wallet/components/WalletDropdown.test.tsx
  src/wallet/components/WalletDropdown.tsx
  src/wallet/components/WalletIsland.test.tsx
  src/wallet/components/WalletProvider.test.tsx
  src/wallet/components/WalletProvider.tsx
  src/wallet/types.ts
Labels: pkg: styles, pkg: wallet

#1913 chore: Documentation for the onramp utils
  site/docs/pages/fund/fetch-onramp-config.mdx
  site/docs/pages/fund/fetch-onramp-options.mdx
  site/docs/pages/fund/fetch-onramp-transaction-status.mdx
  site/docs/pages/fund/get-onramp-buy-url.mdx
  site/docs/pages/fund/setup-onramp-event-listeners.mdx
  site/docs/pages/fund/types.mdx
  site/sidebar.ts
  src/fund/utils/fetchOnrampTransactionStatus.test.ts
  src/fund/utils/fetchOnrampTransactionStatus.ts
Labels: documentation, pkg: fund

#1922 fix: ensure token addresses are checksummed
  src/token/constants.ts
Labels: pkg: token

#1923 chore: Update Vitest to latest
  package.json
  yarn.lock
Labels: root

#1898 feat: add Morpho hooks to Earn component
  playground/nextjs-app-router/onchainkit/package.json
  src/earn/components/DepositBalance.test.tsx
  src/earn/components/DepositBalance.tsx
  src/earn/components/DepositButton.test.tsx
  src/earn/components/DepositButton.tsx
  src/earn/components/DepositDetails.test.tsx
  src/earn/components/DepositDetails.tsx
  src/earn/components/Earn.test.tsx
  src/earn/components/Earn.tsx
  src/earn/components/EarnDeposit.test.tsx
  src/earn/components/EarnDeposit.tsx
  src/earn/components/EarnProvider.test.tsx
  src/earn/components/EarnProvider.tsx
  src/earn/components/EarnWithdraw.test.tsx
  src/earn/components/EarnWithdraw.tsx
  src/earn/components/WithdrawBalance.test.tsx
  src/earn/components/WithdrawBalance.tsx
  src/earn/components/WithdrawButton.test.tsx
  src/earn/components/WithdrawButton.tsx
  src/earn/components/WithdrawDetails.test.tsx
  src/earn/hooks/useBuildMorphoDepositTx.ts
  src/earn/hooks/useBuildMorphoWithdrawTx.ts
  src/earn/hooks/useMorphoVault.ts
  src/earn/index.ts
  src/earn/types.ts
  src/earn/utils/buildDepositToMorphoTx.test.ts
  src/earn/utils/buildDepositToMorphoTx.ts
  src/earn/utils/buildWithdrawFromMorphoTx.test.ts
  src/earn/utils/buildWithdrawFromMorphoTx.ts
  src/earn/utils/getTruncatedAmount.test.ts
  src/earn/utils/getTruncatedAmount.ts
  yarn.lock
Labels: root

#1927 chore: move primitives to /internal/components
  src/internal/components/BottomSheet.tsx
  src/internal/components/Dialog.test.tsx
  src/internal/components/Dialog.tsx
  src/internal/components/DismissableLayer.test.tsx
  src/internal/components/DismissableLayer.tsx
  src/internal/components/DropdownMenu.test.tsx
  src/internal/components/DropdownMenu.tsx
  src/internal/components/FocusTrap.test.tsx
  src/internal/components/FocusTrap.tsx
  src/internal/components/Popover.test.tsx
  src/internal/components/Popover.tsx
  src/swap/components/SwapSettings.test.tsx
  src/swap/components/SwapSettings.tsx
  src/token/components/TokenSelectDropdown.tsx
  src/wallet/components/WalletModal.test.tsx
  src/wallet/components/WalletModal.tsx
Labels: pkg: swap, pkg: token, pkg: wallet

#1924 feat: make Earn component work with arbitrary vaults
  playground/nextjs-app-router/onchainkit/package.json
  src/earn/components/DepositBalance.test.tsx
  src/earn/components/DepositBalance.tsx
  src/earn/components/DepositButton.test.tsx
  src/earn/components/DepositDetails.test.tsx
  src/earn/components/DepositDetails.tsx
  src/earn/components/EarnBalance.test.tsx
  src/earn/components/EarnBalance.tsx
  src/earn/components/EarnDeposit.test.tsx
  src/earn/components/EarnDetails.test.tsx
  src/earn/components/EarnDetails.tsx
  src/earn/components/EarnProvider.test.tsx
  src/earn/components/EarnProvider.tsx
  src/earn/components/EarnWithdraw.test.tsx
  src/earn/components/WithdrawBalance.test.tsx
  src/earn/components/WithdrawBalance.tsx
  src/earn/components/WithdrawButton.test.tsx
  src/earn/components/WithdrawDetails.test.tsx
  src/earn/components/WithdrawDetails.tsx
  src/earn/constants.ts
  src/earn/hooks/useBuildMorphoDepositTx.test.ts
  src/earn/hooks/useBuildMorphoWithdrawTx.test.ts
  src/earn/hooks/useMorphoVault.test.ts
  src/earn/hooks/useMorphoVault.ts
  src/earn/types.ts
  src/earn/utils/buildDepositToMorphoTx.test.ts
  src/earn/utils/buildWithdrawFromMorphoTx.test.ts
  src/earn/utils/fetchMorphoApy.test.ts
  src/earn/utils/fetchMorphoApy.ts
  src/earn/utils/getToken.test.ts
  src/earn/utils/getToken.ts
  src/internal/utils/formatPercent.test.ts
  src/internal/utils/formatPercent.ts
  src/token/constants.ts
Labels: documentation, root, pkg: token, pkg: wallet, pkg: fund

#1933 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1935 docs: Add Telemetry guide
  .changeset/cold-coins-call.md
  site/docs/pages/guides/telemetry.mdx
  site/sidebar.ts
Labels: documentation

#1928 feat: add Lifecycle Statuses to Earn
  site/docs/pages/guides/lifecycle-status.mdx
  src/earn/components/DepositBalance.test.tsx
  src/earn/components/DepositButton.test.tsx
  src/earn/components/DepositButton.tsx
  src/earn/components/DepositDetails.test.tsx
  src/earn/components/EarnBalance.test.tsx
  src/earn/components/EarnDeposit.test.tsx
  src/earn/components/EarnProvider.test.tsx
  src/earn/components/EarnProvider.tsx
  src/earn/components/EarnWithdraw.test.tsx
  src/earn/components/WithdrawBalance.test.tsx
  src/earn/components/WithdrawButton.test.tsx
  src/earn/components/WithdrawButton.tsx
  src/earn/components/WithdrawDetails.test.tsx
  src/earn/types.ts
  src/internal/types.ts
Labels: documentation

#1934 feat: Add telemetry opt-out
  .changeset/selfish-cougars-travel.md
  src/OnchainKitProvider.test.tsx
  src/OnchainKitProvider.tsx
  src/core/OnchainKitConfig.ts
  src/core/network/sendAnalytics.test.ts
  src/core/network/sendAnalytics.ts
  src/core/types.ts
  src/types.ts
Labels: pkg: core

#1939 docs: Update fund card gif
  site/docs/public/assets/fund-card.gif
Labels: documentation

#1936 fix: address Earn QA feedback
  src/earn/components/DepositBalance.test.tsx
  src/earn/components/DepositBalance.tsx
  src/earn/components/DepositButton.test.tsx
  src/earn/components/DepositButton.tsx
  src/earn/components/DepositDetails.test.tsx
  src/earn/components/EarnBalance.test.tsx
  src/earn/components/EarnBalance.tsx
  src/earn/components/EarnCard.test.tsx
  src/earn/components/EarnCard.tsx
  src/earn/components/EarnDeposit.test.tsx
  src/earn/components/EarnDeposit.tsx
  src/earn/components/EarnDetails.tsx
  src/earn/components/EarnProvider.tsx
  src/earn/components/EarnWithdraw.test.tsx
  src/earn/components/EarnWithdraw.tsx
  src/earn/components/WithdrawBalance.test.tsx
  src/earn/components/WithdrawBalance.tsx
  src/earn/components/WithdrawButton.test.tsx
  src/earn/components/WithdrawButton.tsx
  src/earn/components/WithdrawDetails.test.tsx
  src/earn/components/WithdrawDetails.tsx
  src/earn/hooks/useBuildMorphoDepositTx.test.ts
  src/earn/hooks/useBuildMorphoWithdrawTx.test.ts
  src/earn/hooks/useMorphoVault.test.ts
  src/earn/hooks/useMorphoVault.ts
  src/earn/types.ts
  src/internal/components/tabs/Tab.tsx
  src/internal/types.ts
  src/wallet/hooks/useGetTokenBalance.ts
  src/wallet/types.ts
Labels: documentation, root, pkg: wallet

#1940 fix: Fix onramp util "fetchOnrampQuote"
  src/fund/index.ts
  src/fund/types.ts
  src/fund/utils/fetchOnrampConfig.test.ts
  src/fund/utils/fetchOnrampConfig.ts
  src/fund/utils/fetchOnrampQuote.ts
Labels: pkg: fund

#1938 fix: reset amount inputs after successful deposit/withdrawal
  src/earn/components/DepositBalance.test.tsx
  src/earn/components/DepositButton.test.tsx
  src/earn/components/DepositButton.tsx
  src/earn/components/DepositDetails.test.tsx
  src/earn/components/Earn.tsx
  src/earn/components/EarnBalance.test.tsx
  src/earn/components/EarnDeposit.test.tsx
  src/earn/components/EarnProvider.tsx
  src/earn/components/EarnWithdraw.test.tsx
  src/earn/components/WithdrawBalance.test.tsx
  src/earn/components/WithdrawBalance.tsx
  src/earn/components/WithdrawButton.test.tsx
  src/earn/components/WithdrawButton.tsx
  src/earn/components/WithdrawDetails.test.tsx
  src/earn/hooks/useBuildMorphoDepositTx.test.ts
  src/earn/hooks/useBuildMorphoDepositTx.ts
  src/earn/hooks/useBuildMorphoWithdrawTx.test.ts
  src/earn/hooks/useBuildMorphoWithdrawTx.ts
  src/earn/hooks/useMorphoVault.test.ts
  src/earn/hooks/useMorphoVault.ts
  src/earn/types.ts
  src/earn/utils/buildWithdrawFromMorphoTx.test.ts
  src/earn/utils/buildWithdrawFromMorphoTx.ts
  src/internal/components/tabs/Tab.test.tsx
  src/internal/components/tabs/Tab.tsx
  src/wallet/hooks/useGetTokenBalance.ts
  src/wallet/types.ts
Labels: root, pkg: wallet

#1942 feat: Add Telemetry foundation for Buy, Checkout, Fund, Mint, Swap, Transaction, and Wallet.
  .changeset/dull-steaks-jog.md
  src/OnchainKitProvider.test.tsx
  src/OnchainKitProvider.tsx
  src/core/OnchainKitConfig.ts
  src/core/analytics/constants.ts
  src/core/analytics/hooks/useAnalytics.test.ts
  src/core/analytics/hooks/useAnalytics.ts
  src/core/analytics/types.ts
  src/core/analytics/utils/sendAnalytics.test.ts
  src/core/analytics/utils/sendAnalytics.ts
  src/core/network/constants.ts
  src/core/network/sendAnalytics.test.ts
  src/core/network/sendAnalytics.ts
  src/core/types.ts
  src/internal/hooks/useAnalytics.test.ts
  src/internal/hooks/useAnalytics.ts
  src/internal/types.ts
  src/types.ts
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
Labels: pkg: wallet, pkg: core

#1943 feat: show vault data in Earn popover
  src/earn/components/DepositBalance.test.tsx
  src/earn/components/DepositButton.test.tsx
  src/earn/components/DepositDetails.test.tsx
  src/earn/components/DepositDetails.tsx
  src/earn/components/EarnBalance.test.tsx
  src/earn/components/EarnDeposit.test.tsx
  src/earn/components/EarnProvider.tsx
  src/earn/components/EarnWithdraw.test.tsx
  src/earn/components/WithdrawBalance.test.tsx
  src/earn/components/WithdrawButton.test.tsx
  src/earn/components/WithdrawDetails.test.tsx
  src/earn/hooks/useMorphoVault.test.ts
  src/earn/hooks/useMorphoVault.ts
  src/earn/index.ts
  src/earn/types.ts
  src/internal/svg/infoSvg.tsx
Labels: root, pkg: wallet

#1947 fix: revert change resulting in slow identity resolution
  src/identity/utils/getName.ts
Labels: pkg: identity

#1955 feat: add Earn to exports and playground
  package.json
  playground/nextjs-app-router/components/AppProvider.tsx
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/DemoOptions.tsx
  playground/nextjs-app-router/components/demo/Earn.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  playground/nextjs-app-router/components/form/earn-options.tsx
  playground/nextjs-app-router/onchainkit/package.json
  playground/nextjs-app-router/types/onchainkit.ts
  src/earn/components/EarnDetails.tsx
  src/earn/index.ts
  src/earn/types.ts
Labels: root

#1962 docs: latest
  site/package.json
  site/yarn.lock
Labels: documentation

#1970 fix: fix circular dependency in `TokenBalance`
  src/token/components/TokenBalance.tsx
Labels: pkg: token

#1971 feat: appchain bridge hooks
  src/appchain/bridge/abi.ts
  src/appchain/bridge/constants.ts
  src/appchain/bridge/hooks/useAppchainConfig.test.ts
  src/appchain/bridge/hooks/useAppchainConfig.ts
  src/appchain/bridge/hooks/useDeposit.test.ts
  src/appchain/bridge/hooks/useDeposit.ts
  src/appchain/bridge/hooks/useDepositButton.test.tsx
  src/appchain/bridge/hooks/useDepositButton.tsx
  src/appchain/bridge/hooks/useWithdraw.test.ts
  src/appchain/bridge/hooks/useWithdraw.ts
  src/appchain/bridge/hooks/useWithdrawButton.test.tsx
  src/appchain/bridge/hooks/useWithdrawButton.tsx
  src/appchain/bridge/types.ts
  src/appchain/bridge/utils/getETHPrice.test.ts
  src/appchain/bridge/utils/getETHPrice.ts
  src/appchain/bridge/utils/getOutput.test.ts
  src/appchain/bridge/utils/getOutput.ts
  src/appchain/bridge/utils/isUserRejectedRequestError.test.ts
  src/appchain/bridge/utils/isUserRejectedRequestError.ts
  src/appchain/bridge/utils/maybeAddProofNode.ts
  src/token/constants.ts
Labels: pkg: token

#1976 feat: appchain bridge UI
  .changeset/tall-moose-type.md
  src/appchain/bridge/components/AppchainBridge.test.tsx
  src/appchain/bridge/components/AppchainBridge.tsx
  src/appchain/bridge/components/AppchainBridgeAddressInput.test.tsx
  src/appchain/bridge/components/AppchainBridgeAddressInput.tsx
  src/appchain/bridge/components/AppchainBridgeInput.test.tsx
  src/appchain/bridge/components/AppchainBridgeInput.tsx
  src/appchain/bridge/components/AppchainBridgeNetwork.tsx
  src/appchain/bridge/components/AppchainBridgeProvider.test.tsx
  src/appchain/bridge/components/AppchainBridgeProvider.tsx
  src/appchain/bridge/components/AppchainBridgeTransactionButton.test.tsx
  src/appchain/bridge/components/AppchainBridgeTransactionButton.tsx
  src/appchain/bridge/components/AppchainBridgeWithdraw.test.tsx
  src/appchain/bridge/components/AppchainBridgeWithdraw.tsx
  src/appchain/bridge/components/AppchainNetworkToggleButton.tsx
  src/appchain/bridge/constants.ts
  src/appchain/bridge/types.ts
  src/appchain/bridge/utils/defaultPriceFetcher.test.ts
  src/appchain/bridge/utils/defaultPriceFetcher.ts
  src/internal/svg/fullWidthSuccessSvg.tsx
Labels: root, pkg: token

#1981 docs: add docs for `Earn` component, hooks, and utilities
  site/docs/components/EarnComponents.tsx
  site/docs/pages/api/build-deposit-to-morpho-tx.mdx
  site/docs/pages/api/build-withdraw-from-morpho-tx.mdx
  site/docs/pages/earn/earn.mdx
  site/docs/pages/earn/types.mdx
  site/docs/pages/hooks/use-build-deposit-to-morpho-tx.mdx
  site/docs/pages/hooks/use-build-withdraw-from-morpho-tx.mdx
  site/docs/pages/hooks/use-earn-context.mdx
  site/docs/pages/hooks/use-morpho-vault.mdx
  site/docs/pages/mint/types.mdx
  site/package.json
  site/sidebar.ts
  site/yarn.lock
  src/earn/hooks/useMorphoVault.ts
  src/earn/index.ts
  src/transaction/types.ts
  yarn.lock
Labels: documentation, root

#1982 chore: add telemetry to `Earn`
  src/core/analytics/constants.ts
  src/core/analytics/types.ts
  src/earn/components/DepositButton.tsx
  src/earn/components/WithdrawButton.tsx
  src/earn/hooks/useDepositAnalytics.test.ts
  src/earn/hooks/useDepositAnalytics.ts
  src/earn/hooks/useWithdrawAnalytics.test.ts
  src/earn/hooks/useWithdrawAnalytics.ts
Labels: documentation, root, pkg: core

#1984 feat: export appchain bridge components, hooks, and types
  package.json
  src/appchain/bridge/hooks/useDeposit.ts
  src/appchain/bridge/hooks/useDepositButton.tsx
  src/appchain/bridge/hooks/useWithdraw.ts
  src/appchain/bridge/hooks/useWithdrawButton.tsx
  src/appchain/bridge/types.ts
  src/appchain/index.ts
Labels: root

#1990 docs: latest
  site/package.json
  site/yarn.lock
Labels: documentation

#1991 fix: add test coverage for `getName` fallback function
  src/identity/utils/getName.test.ts
Labels: pkg: identity

#1957 feat: Add ConnectWallet Telemetry
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
Labels: pkg: wallet

#1993 fix: improve readability of `getName`
  src/identity/utils/getName.ts
Labels: pkg: identity

#1999 fix: fix types for `sendAnalytics`
  src/core/analytics/hooks/useAnalytics.ts
Labels: pkg: core

#1994 fix: add fallback for docs site during deployment
  site/docs/layout.tsx
Labels: documentation

#1963 feat: Add WalletAdvanced Telemetry
  src/wallet/components/WalletAdvancedTransactionActions.test.tsx
  src/wallet/components/WalletAdvancedTransactionActions.tsx
  src/wallet/components/WalletAdvancedWalletActions.test.tsx
  src/wallet/components/WalletAdvancedWalletActions.tsx
Labels: pkg: swap, pkg: wallet, pkg: core, pkg: fund

#1967 feat: Add Fund Telemetry
  src/fund/components/FundButton.test.tsx
  src/fund/components/FundButton.tsx
  src/fund/components/FundCard.test.tsx
  src/fund/components/FundCardAmountInput.test.tsx
  src/fund/components/FundCardAmountInput.tsx
  src/fund/components/FundCardPaymentMethodDropdown.test.tsx
  src/fund/components/FundCardPaymentMethodDropdown.tsx
  src/fund/components/FundCardPaymentMethodSelectRow.test.tsx
  src/fund/components/FundCardPaymentMethodSelectRow.tsx
  src/fund/components/FundCardPresetAmountInputItem.test.tsx
  src/fund/components/FundCardPresetAmountInputItem.tsx
  src/fund/components/FundCardProvider.test.tsx
  src/fund/components/FundCardProvider.tsx
  src/fund/components/FundCardSubmitButton.test.tsx
Labels: pkg: fund

#1966 feat: Add Mint Telemetry
  src/core/analytics/types.ts
  src/nft/components/NFTLifecycleProvider.test.tsx
  src/nft/components/NFTLifecycleProvider.tsx
  src/nft/components/mint/NFTMintButton.test.tsx
  src/nft/components/mint/NFTMintButton.tsx
  src/nft/components/mint/NFTQuantitySelector.test.tsx
  src/nft/components/mint/NFTQuantitySelector.tsx
Labels: pkg: core

#2005 fix: Fund component telemetry
  src/core/analytics/types.ts
  src/fund/components/FundButton.test.tsx
  src/fund/components/FundButton.tsx
  src/fund/components/FundCardAmountInput.test.tsx
  src/fund/components/FundCardAmountInput.tsx
  src/fund/components/FundCardProvider.test.tsx
  src/fund/components/FundCardProvider.tsx
Labels: pkg: core, pkg: fund

#2006 fix: Hanging Fund unit tests
  src/fund/components/FundCardAmountInput.test.tsx
Labels: pkg: fund

#2009 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#2013 docs: add `isSponsored` prop to `Earn` docs
  site/docs/pages/earn/earn.mdx
  site/docs/pages/earn/types.mdx
Labels: documentation

#2003 docs: add `<Earn />` demo to docs homepage
  site/docs/components/landing/ComponentPreview.tsx
  site/docs/components/landing/EarnDemo.tsx
Labels: documentation

#2022 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#2023 chore: add redirects to new docs site
  site/vercel.json
  vercel/vercel.json
Labels: documentation

#2024 fix: remove broken redirect
  site/vercel.json
Labels: documentation

#2025 fix: fix other broken playground redirects
  site/vercel.json
  vercel/vercel.json
Labels: documentation

#2026 fix: restore playground rewrites
  site/vercel.json
  vercel/vercel.json
Labels: documentation

#2028 fix: add / update redirects
  site/vercel.json
  vercel/vercel.json
Labels: documentation

#2030 Revert "feat: Add Mint Telemetry"
  src/core/analytics/types.ts
  src/nft/components/NFTLifecycleProvider.test.tsx
  src/nft/components/NFTLifecycleProvider.tsx
  src/nft/components/mint/NFTMintButton.test.tsx
  src/nft/components/mint/NFTMintButton.tsx
  src/nft/components/mint/NFTQuantitySelector.test.tsx
  src/nft/components/mint/NFTQuantitySelector.tsx
Labels: pkg: core

#2015 chore: Add origin to analytics
  src/core/analytics/hooks/useAnalytics.test.ts
  src/core/analytics/hooks/useAnalytics.ts
  src/core/analytics/utils/sendAnalytics.test.ts
  src/core/analytics/utils/sendAnalytics.ts
Labels: pkg: core

#2027 fix: NFTMintButton analytics
  src/core/analytics/types.ts
  src/nft/components/mint/NFTMintButton.tsx
  src/nft/components/mint/NFTQuantitySelector.test.tsx
  src/nft/components/mint/NFTQuantitySelector.tsx
  src/nft/hooks/useMintAnalytics.test.ts
  src/nft/hooks/useMintAnalytics.ts
Labels: pkg: core

#2019 fix: add onchainkit boundary
  src/OnchainKitProvider.tsx
  src/OnchainKitProviderBoundary.test.tsx
  src/OnchainKitProviderBoundary.tsx
  src/core/analytics/hooks/useAnalytics.test.ts
  src/core/analytics/hooks/useAnalytics.ts
Labels: pkg: core

#1965 feat: Add Transaction Telemetry
  src/core/analytics/types.ts
  src/transaction/components/TransactionProvider.test.tsx
  src/transaction/components/TransactionProvider.tsx
Labels: pkg: core

#2014 docs: Update README.md
  README.md
Labels: root

#1964 feat: Add Swap Telemetry
  src/core/analytics/constants.ts
  src/core/analytics/types.ts
  src/swap/components/SwapAmountInput.test.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapProvider.test.tsx
  src/swap/components/SwapProvider.tsx
  src/swap/components/SwapSettingsSlippageInput.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
Labels: pkg: swap, pkg: wallet, pkg: core, pkg: fund

#2039 chore: Update analytics type definitions to union with undefined
  src/core/analytics/types.ts
Labels: pkg: core

#2044 fix: show proper theme in `EarnAmountInput`
  src/earn/components/EarnAmountInput.tsx
  src/styles/theme.ts
Labels: pkg: styles

#2050 chore: Add canceled event type
  src/core/analytics/constants.ts
  src/core/analytics/types.ts
Labels: pkg: core

#1969 feat: Add Buy Telemetry
  src/buy/components/BuyDropdown.test.tsx
  src/buy/components/BuyDropdown.tsx
  src/buy/components/BuyProvider.test.tsx
  src/buy/components/BuyProvider.tsx
  src/core/analytics/types.ts
Labels: pkg: core

#2054 chore: update Discord invite link
  README.md
  site/docs/pages/guides/troubleshooting.mdx
Labels: documentation, root
