Repository coinbase/onchainkit, pull requests merged in 2025-01, with the labels that each got.

#1795 chore: release
  .changeset/green-coins-add.md
  CHANGELOG.md
  src/version.ts
Labels: root

#1796 chore: docs
  playground/nextjs-app-router/bun.lockb
  playground/nextjs-app-router/package.json
  site/package.json
  site/yarn.lock
Labels: documentation

#1771 fix: improve support for OnchainKit in Next.js 14+ apps
  .gitignore
  packemon.config.ts
  src/ui/react/identity/components/Address.tsx
  src/ui/react/identity/components/Avatar.tsx
  src/ui/react/identity/components/Badge.tsx
  src/ui/react/identity/components/EthBalance.tsx
  src/ui/react/identity/components/Identity.tsx
  src/ui/react/identity/components/IdentityCard.tsx
  src/ui/react/identity/components/Name.tsx
  src/ui/react/identity/components/Socials.tsx
Labels: root

#1808 fix: pass though logo and name to cb wallet
  .changeset/eight-buttons-walk.md
  src/wallet/components/WalletModal.tsx
Labels: pkg: wallet

#1799 fix: set client boundary in `Buy`, `Checkout`, `Fund`, and `OnchainkitProvider`
  packemon.config.ts
  src/buy/components/Buy.tsx
  src/checkout/components/Checkout.tsx
  src/checkout/components/CheckoutButton.tsx
  src/checkout/components/CheckoutStatus.tsx
  src/core-react/OnchainKitProvider.tsx
  src/fund/components/FundButton.tsx
  src/fund/index.ts
Labels: root, pkg: fund

#1805 docs: Update Identity landing page preview
  site/docs/components/landing/ComponentPreview.tsx
Labels: documentation

#1800 fix: set client boundary for `Swap` and `Token` components
  packemon.config.ts
  src/core-react/internal/utils/findComponent.test.tsx
  src/core-react/internal/utils/findComponent.ts
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapDefault.tsx
  src/swap/components/SwapMessage.tsx
  src/swap/components/SwapSettingsSlippageDescription.test.tsx
  src/swap/components/SwapSettingsSlippageInput.tsx
  src/swap/components/SwapSettingsSlippageTitle.tsx
  src/swap/components/SwapToast.tsx
  src/swap/components/SwapToggleButton.tsx
  src/swap/index.ts
  src/token/components/TokenChip.tsx
  src/token/components/TokenImage.tsx
  src/token/components/TokenRow.tsx
  src/token/components/TokenSearch.tsx
  src/token/components/TokenSelectDropdown.tsx
  src/token/components/TokenSelectModal.tsx
  src/token/index.ts
Labels: pkg: swap, root, pkg: token, pkg: fund

#1811 chore: Remove Jest config
  .changeset/light-beers-smile.md
  jest.config.js
  jest.setup.ts
Labels: root

#1813 chore: docs
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1814 fix: modal state local to connect wallet
  playground/nextjs-app-router/onchainkit/package.json
  src/wallet/components/ConnectWallet.tsx
Labels: pkg: wallet

#1817 chore: docs
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1819 feat: WalletAdvanced docs
  .prettierrc
  site/docs/components/WalletComponents.tsx
  site/docs/pages/wallet/types.mdx
  site/docs/pages/wallet/wallet-island.mdx
  site/docs/public/assets/wallet-island.gif
  site/sidebar.ts
Labels: documentation, root

#1809 fix: set client boundaries in `Wallet` components
  src/wallet/components/ConnectButton.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/Wallet.tsx
  src/wallet/components/WalletBottomSheet.tsx
  src/wallet/components/WalletDefault.tsx
  src/wallet/components/WalletDropdown.tsx
  src/wallet/components/WalletDropdownBasename.tsx
  src/wallet/components/WalletDropdownDisconnect.tsx
  src/wallet/components/WalletDropdownFundLink.tsx
  src/wallet/components/WalletDropdownLink.tsx
  src/wallet/index.ts
Labels: pkg: swap, root, pkg: token, pkg: wallet, pkg: fund

#1821 fix: add client boundaries for `WalletAdvanced*` components
  src/wallet/components/WalletAdvanced.tsx
  src/wallet/components/WalletAdvancedAddressDetails.tsx
  src/wallet/components/WalletAdvancedDefault.tsx
  src/wallet/components/WalletAdvancedQrReceive.tsx
  src/wallet/components/WalletAdvancedSwap.tsx
  src/wallet/components/WalletAdvancedTokenHoldings.tsx
Labels: pkg: wallet

#1826 Fix flaky test
  src/fund/hooks/useFundCardSetupOnrampEventListeners.test.tsx
Labels: pkg: fund

#1822 feat: Add UI Primitives - FocusTrap, DismissableLayer, and Dialog.
  .changeset/dull-shirts-confess.md
  src/internal/primitives/Dialog.test.tsx
  src/internal/primitives/Dialog.tsx
  src/internal/primitives/DismissableLayer.test.tsx
  src/internal/primitives/DismissableLayer.tsx
  src/internal/primitives/FocusTrap.test.tsx
  src/internal/primitives/FocusTrap.tsx
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
  src/wallet/components/WalletModal.test.tsx
  src/wallet/components/WalletModal.tsx
Labels: pkg: wallet

#1832 chore: remove vscode settings from gitignore
  .gitignore
Labels: root

#1823 refactor: extract useLifecycleStatus
  src/buy/components/BuyProvider.tsx
  src/buy/types.ts
  src/buy/utils/validateQuote.ts
  src/checkout/components/CheckoutProvider.tsx
  src/checkout/hooks/useLifecycleStatus.test.tsx
  src/checkout/hooks/useLifecycleStatus.tsx
  src/checkout/types.ts
  src/core-react/internal/hooks/useLifecycleStatus.test.ts
  src/core-react/internal/hooks/useLifecycleStatus.ts
  src/core-react/internal/types.ts
  src/core-react/nft/hooks/useLifecycleStatus.ts
  src/core-react/nft/providers/NFTLifecycleProvider.tsx
  src/core-react/nft/types.ts
  src/fund/components/FundCardProvider.tsx
  src/fund/hooks/useEmitLifecycleStatus.ts
  src/fund/hooks/useLifecycleStatus.test.ts
  src/fund/hooks/useLifecycleStatus.ts
  src/fund/types.ts
  src/swap/components/SwapProvider.tsx
  src/swap/hooks/useLifecycleStatus.test.ts
  src/swap/types.ts
Labels: pkg: swap, pkg: fund

#1836 docs: Move Troubleshooting section to the Introduction
  site/sidebar.ts
Labels: documentation

#1837 chore: release v0.36.7 docs and changelog
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1806 Amount Preset inputs
  playground/nextjs-app-router/components/demo/FundCard.tsx
  playground/nextjs-app-router/onchainkit/package.json
  src/fund/components/FundCard.test.tsx
  src/fund/components/FundCard.tsx
  src/fund/components/FundCardAmountInput.test.tsx
  src/fund/components/FundCardAmountInput.tsx
  src/fund/components/FundCardPaymentMethodDropdown.tsx
  src/fund/components/FundCardPaymentMethodSelectRow.test.tsx
  src/fund/components/FundCardPresetAmountInputItem.test.tsx
  src/fund/components/FundCardPresetAmountInputItem.tsx
  src/fund/components/FundCardPresetAmountInputList.test.tsx
  src/fund/components/FundCardPresetAmountInputList.tsx
  src/fund/components/FundCardProvider.tsx
  src/fund/constants.ts
  src/fund/hooks/useAmountInput.ts
  src/fund/hooks/useFundCardSetupOnrampEventListeners.test.tsx
  src/fund/index.ts
  src/fund/types.ts
Labels: pkg: fund

#1838 feat: export nft hooks
  .changeset/perfect-knives-draw.md
  src/core-react/nft/hooks/useMintDetails.ts
  src/core-react/nft/hooks/useTokenDetails.ts
  src/core-react/nft/types.ts
  src/ui/react/nft/index.ts
Labels: pkg: core

#1839 Bugbash fixes/updates
  playground/nextjs-app-router/components/demo/FundCard.tsx
  src/fund/components/FundCardAmountInputTypeSwitch.test.tsx
  src/fund/components/FundCardAmountInputTypeSwitch.tsx
  src/fund/components/FundCardCurrencyLabel.tsx
  src/fund/components/FundCardPaymentMethodDropdown.tsx
  src/fund/components/FundCardPaymentMethodSelectRow.test.tsx
  src/fund/components/FundCardPaymentMethodSelectRow.tsx
  src/fund/components/FundCardPaymentMethodSelectorToggle.tsx
Labels: pkg: fund

#1855 fix: remove unnecessary `actionKey`s in `useQuery`
  src/identity/hooks/useAddress.ts
  src/identity/hooks/useAvatar.ts
  src/identity/hooks/useName.ts
  src/identity/hooks/useSocials.tsx
Labels: pkg: identity

#1845 Fund card docs
  playground/nextjs-app-router/onchainkit/package.json
  site/docs/pages/fund/fund-card.mdx
  site/sidebar.ts
  src/fund/components/FundCardAmountInput.tsx
  src/fund/index.ts
Labels: documentation, pkg: fund

#1863 docs: latest
  CHANGELOG.md
  site/package.json
  site/yarn.lock
Labels: documentation, root

#1851 fix: deprecate v1 swap amountReference to
  src/api/buildSwapTransaction.test.ts
  src/api/buildSwapTransaction.ts
  src/api/getSwapQuote.test.ts
  src/api/getSwapQuote.ts
  src/api/types.ts
  src/buy/components/BuyAmountInput.tsx
  src/buy/components/BuyProvider.test.tsx
  src/buy/components/BuyProvider.tsx
  src/buy/utils/getBuyQuote.test.ts
  src/buy/utils/getBuyQuote.ts
  src/swap/constants.ts
Labels: pkg: swap, pkg: core

#1856 feat: Implement Popover, DismissableLayer, and FocusTrap primitives in SwapSettings
  .changeset/many-glasses-visit.md
  src/internal/primitives/DismissableLayer.test.tsx
  src/internal/primitives/DismissableLayer.tsx
  src/internal/primitives/FocusTrap.tsx
  src/internal/primitives/Popover.test.tsx
  src/internal/primitives/Popover.tsx
  src/swap/components/SwapSettings.test.tsx
  src/swap/components/SwapSettings.tsx
Labels: pkg: swap

#1868 chore: Standardize comment format to JSDoc-style syntax
  .changeset/smart-yaks-greet.md
  site/docs/pages/buy/types.mdx
  site/docs/pages/swap/types.mdx
  src/api/types.ts
  src/buy/hooks/useResetBuyInputs.ts
  src/buy/types.ts
  src/buy/utils/getBuyQuote.ts
  src/checkout/types.ts
  src/core-react/internal/hooks/useProviderDependencies.tsx
  src/core-react/internal/utils/findComponent.ts
  src/core/OnchainKitConfig.ts
  src/core/createWagmiConfig.ts
  src/core/network/attestations.ts
  src/core/network/definitions/base.ts
  src/core/network/definitions/baseSepolia.ts
  src/core/network/definitions/optimism.ts
  src/core/types.ts
  src/fund/constants.ts
  src/fund/utils/fetchOnrampConfig.ts
  src/fund/utils/fetchOnrampTransactionStatus.ts
  src/identity/types.ts
  src/identity/utils/getBaseDefaultProfilePictureIndex.ts
  src/internal/components/TextInput.tsx
  src/internal/primitives/DismissableLayer.tsx
  src/internal/primitives/FocusTrap.tsx
  src/nft/types.ts
  src/swap/hooks/useResetInputs.ts
  src/swap/types.ts
  src/token/types.ts
  src/transaction/hooks/useSendWalletTransactions.tsx
  src/transaction/types.ts
  src/wallet/constants.ts
  src/wallet/types.ts
Labels: documentation, pkg: swap, pkg: token, pkg: identity, pkg: wallet, pkg: core, pkg: fund

#1869 feat: Client Analytics
  .changeset/friendly-cougars-fly.md
  src/OnchainKitProvider.test.tsx
  src/OnchainKitProvider.tsx
  src/core-react/internal/hooks/useAnalytics.test.ts
  src/core-react/internal/hooks/useAnalytics.ts
  src/core/OnchainKitConfig.ts
  src/core/network/constants.ts
  src/core/network/sendAnalytics.test.ts
  src/core/network/sendAnalytics.ts
  src/core/types.ts
  src/internal/types.ts
  src/types.ts
Labels: pkg: core

#1875 feat: send utils
  src/identity/utils/getAddress.test.ts
  src/identity/utils/getAddress.ts
  src/identity/utils/getName.ts
  src/identity/utils/isEns.test.ts
  src/identity/utils/isEns.ts
  src/internal/hooks/useAmountInput.test.tsx
  src/internal/hooks/useAmountInput.tsx
  src/internal/hooks/useExchangeRate.test.tsx
  src/internal/hooks/useExchangeRate.tsx
  src/internal/utils/getValidatedAddress.test.tsx
  src/internal/utils/getValidatedAddress.ts
  src/internal/utils/truncateDecimalPlaces.test.ts
  src/internal/utils/truncateDecimalPlaces.ts
Labels: pkg: identity, pkg: core

#1876 chore: Move Primitives to internal/components directory
  src/internal/components/primitives/Dialog.test.tsx
  src/internal/components/primitives/Dialog.tsx
  src/internal/components/primitives/DismissableLayer.test.tsx
  src/internal/components/primitives/DismissableLayer.tsx
  src/internal/components/primitives/FocusTrap.test.tsx
  src/internal/components/primitives/FocusTrap.tsx
  src/internal/components/primitives/Popover.test.tsx
  src/internal/components/primitives/Popover.tsx
  src/swap/components/SwapSettings.test.tsx
  src/swap/components/SwapSettings.tsx
  src/wallet/components/WalletModal.test.tsx
  src/wallet/components/WalletModal.tsx
Labels: pkg: swap, pkg: wallet

#1877 chore: export `getPortfolios`
  src/api/getPortfolios.test.ts
  src/api/getPortfolios.ts
  src/api/index.ts
  src/api/types.ts
  src/wallet/components/WalletAdvancedProvider.test.tsx
  src/wallet/components/WalletAdvancedProvider.tsx
  src/wallet/hooks/usePortfolio.test.tsx
  src/wallet/hooks/usePortfolio.ts
  src/wallet/types.ts
Labels: pkg: wallet

#1884 chore: remove unused aliases
  .storybook/main.ts
  packemon.config.ts
  tsconfig.json
  vitest.config.ts
Labels: root

#1878 chore: dedupe utils
  src/fund/components/FundCardAmountInput.tsx
  src/fund/components/FundCardAmountInputTypeSwitch.tsx
  src/fund/components/FundCardPresetAmountInputList.tsx
  src/fund/components/FundCardProvider.tsx
  src/fund/hooks/useAmountInput.ts
  src/fund/utils/truncateDecimalPlaces.test.ts
  src/fund/utils/truncateDecimalPlaces.ts
  src/internal/hooks/useAmountInput.test.tsx
  src/internal/utils/truncateDecimalPlaces.test.ts
  src/internal/utils/truncateDecimalPlaces.ts
Labels: pkg: fund

#1895 docs: latest
  site/docs/pages/mint/nft-mint-card.mdx
  site/package.json
  site/yarn.lock
Labels: documentation

#1892 feat: more send utilities
  src/api/buildSendTransaction.test.ts
  src/api/buildSendTransaction.ts
  src/api/types.ts
  src/internal/hooks/useSendTransaction.test.tsx
  src/internal/hooks/useSendTransaction.tsx
  src/wallet/utils/validateAddressInput.test.ts
  src/wallet/utils/validateAddressInput.ts
Labels: pkg: wallet

#1889 chore: fix aliases type resolution
  .changeset/tough-points-love.md
  package.json
  tsup.config.ts
  yarn.lock
Labels: root

#1865 docs: nft hooks docs
  site/docs/pages/hooks/use-mint-details.mdx
  site/docs/pages/hooks/use-token-details.mdx
  site/sidebar.ts
Labels: documentation

#1893 chore: move amount input
  src/fund/components/FundCard.test.tsx
  src/fund/components/FundCardAmountInput.test.tsx
  src/fund/components/FundCardAmountInput.tsx
  src/fund/components/FundCardAmountInputTypeSwitch.tsx
  src/fund/components/FundCardCurrencyLabel.tsx
  src/fund/components/FundCardProvider.tsx
  src/internal/components/TextInput.tsx
  src/internal/components/amount-input/AmountInput.test.tsx
  src/internal/components/amount-input/AmountInput.tsx
  src/internal/components/amount-input/AmountInputTypeSwitch.test.tsx
  src/internal/components/amount-input/AmountInputTypeSwitch.tsx
  src/internal/components/amount-input/CurrencyLabel.test.tsx
  src/internal/components/amount-input/CurrencyLabel.tsx
  src/internal/hooks/useInputResize.test.ts
  src/internal/hooks/useInputResize.ts
Labels: pkg: fund

#1897 chore: document wallet island network support
  site/docs/pages/wallet/wallet-island.mdx
Labels: documentation

#1829 chore: add docs for getPortfolioTokenBalances
  site/docs/pages/api/get-portfolios.mdx
  site/docs/pages/api/types.mdx
Labels: documentation

#1910 docs: Remove deprecated withWalletAggregator prop
  site/docs/pages/wallet/types.mdx
Labels: documentation

#1900 feat: Fund Card - Refresh exchange rate regularly
  .changeset/plenty-bananas-invite.md
  playground/nextjs-app-router/onchainkit/package.json
  src/fund/components/FundCardAmountInput.tsx
  src/fund/components/FundCardProvider.tsx
  src/fund/hooks/useOnrampExchangeRate.test.ts
  src/fund/hooks/useOnrampExchangeRate.ts
  src/fund/types.ts
  src/internal/hooks/useThrottle.test.ts
  src/internal/hooks/useThrottle.ts
Labels: pkg: fund
