Repository coinbase/onchainkit, pull requests merged in 2025-05, with the labels that each got.

#2329 fix: Basenames bidirectional validation
  .changeset/twenty-news-hide.md
  packages/onchainkit/src/identity/hooks/useAddress.test.tsx
  packages/onchainkit/src/identity/hooks/useAddresses.test.tsx
  packages/onchainkit/src/identity/hooks/useAddresses.ts
  packages/onchainkit/src/identity/types.ts
  packages/onchainkit/src/identity/utils/getAddress.test.ts
  packages/onchainkit/src/identity/utils/getAddress.ts
  packages/onchainkit/src/identity/utils/getAddresses.test.ts
  packages/onchainkit/src/identity/utils/getAddresses.ts
  packages/onchainkit/src/identity/utils/getName.test.ts
  packages/onchainkit/src/identity/utils/getName.ts
  packages/onchainkit/src/identity/utils/getNames.ts
Labels: pkg: identity

#2333 fix: getSocials
  packages/onchainkit/src/identity/utils/getSocials.test.ts
  packages/onchainkit/src/identity/utils/getSocials.ts
Labels: pkg: identity

#2311 chore: refactor fund components
  packages/onchainkit/src/fund/components/FundButton.test.tsx
  packages/onchainkit/src/fund/components/FundButton.tsx
  packages/onchainkit/src/fund/components/FundCard.tsx
  packages/onchainkit/src/fund/components/FundCardAmountInput.test.tsx
  packages/onchainkit/src/fund/components/FundCardAmountInput.tsx
  packages/onchainkit/src/fund/components/FundCardAmountInputTypeSwitch.test.tsx
  packages/onchainkit/src/fund/components/FundCardAmountInputTypeSwitch.tsx
  packages/onchainkit/src/fund/components/FundCardHeader.tsx
  packages/onchainkit/src/fund/components/FundCardPaymentMethodDropdown.tsx
  packages/onchainkit/src/fund/components/FundCardPaymentMethodImage.tsx
  packages/onchainkit/src/fund/components/FundCardPaymentMethodSelectRow.tsx
  packages/onchainkit/src/fund/components/FundCardPaymentMethodSelectorToggle.tsx
  packages/onchainkit/src/fund/components/FundCardPresetAmountInputItem.tsx
  packages/onchainkit/src/fund/components/FundCardProvider.tsx
  packages/onchainkit/src/fund/components/FundCardSubmitButton.test.tsx
  packages/onchainkit/src/fund/components/FundCardSubmitButton.tsx
  packages/onchainkit/src/fund/index.ts
  packages/onchainkit/src/fund/types.ts
  packages/playground/components/Demo.tsx
  packages/playground/components/demo/FundButtonWithRenderProp.tsx
  packages/playground/components/form/active-component.tsx
  packages/playground/types/onchainkit.ts
Labels: pkg: fund

#2328 chore: remove deprecated default components
  packages/onchainkit/src/nft/components/NFTCardDefault.test.tsx
  packages/onchainkit/src/nft/components/NFTCardDefault.tsx
  packages/onchainkit/src/nft/components/NFTMintCardDefault.test.tsx
  packages/onchainkit/src/nft/components/NFTMintCardDefault.tsx
  packages/onchainkit/src/nft/index.ts
  packages/onchainkit/src/swap/components/SwapDefault.test.tsx
  packages/onchainkit/src/swap/components/SwapDefault.tsx
  packages/onchainkit/src/swap/index.ts
  packages/onchainkit/src/transaction/components/TransactionDefault.test.tsx
  packages/onchainkit/src/transaction/components/TransactionDefault.tsx
  packages/onchainkit/src/transaction/index.ts
  packages/onchainkit/src/wallet/components/WalletDefault.test.tsx
  packages/onchainkit/src/wallet/components/WalletDefault.tsx
  packages/onchainkit/src/wallet/index.ts
  packages/playground/components/demo/SwapDefault.tsx
  packages/playground/components/demo/WalletDefault.tsx
Labels: pkg: swap, pkg: wallet, pkg: core

#2332 feat: Make sign up button optional
  packages/onchainkit/src/DefaultOnchainKitProviders.test.tsx
  packages/onchainkit/src/DefaultOnchainKitProviders.tsx
  packages/onchainkit/src/OnchainKitProvider.test.tsx
  packages/onchainkit/src/OnchainKitProvider.tsx
  packages/onchainkit/src/core/types.ts
  packages/onchainkit/src/useOnchainKit.tsx
  packages/onchainkit/src/wallet/components/WalletModal.test.tsx
  packages/onchainkit/src/wallet/components/WalletModal.tsx
  packages/playground/components/AppProvider.tsx
  packages/playground/components/DemoOptions.tsx
  packages/playground/components/form/wallet-sign-up.tsx
Labels: pkg: identity, pkg: wallet, pkg: core

#2335 chore: enable paymaster for wallet advanced Send
  packages/onchainkit/src/wallet/components/Wallet.tsx
  packages/onchainkit/src/wallet/components/WalletIsland.tsx
  packages/onchainkit/src/wallet/components/WalletProvider.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendButton.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendButton.tsx
  packages/onchainkit/src/wallet/types.ts
  packages/playground/components/DemoOptions.tsx
  packages/playground/components/demo/WalletIsland.tsx
Labels: pkg: wallet

#2366 chore: Add Storybook MVP
  packages/onchainkit/.gitignore
  packages/onchainkit/.storybook/main.ts
  packages/onchainkit/.storybook/preview.tsx
  packages/onchainkit/package.json
  packages/onchainkit/src/index.ts
  packages/onchainkit/src/styles/index-with-tailwind.css
  packages/onchainkit/src/styles/index.css
  packages/onchainkit/src/styles/ock.css
  packages/onchainkit/src/token/components/TokenChip.stories.ts
  packages/onchainkit/src/wallet/components/Wallet.stories.ts
  packages/onchainkit/vite.config.ts
  pnpm-lock.yaml
Labels: root, pkg: styles, pkg: token, pkg: wallet

#2357 chore: token audit
  packages/onchainkit/src/token/components/TokenChip.tsx
  packages/onchainkit/src/token/components/TokenImage.tsx
  packages/onchainkit/src/token/components/TokenRow.tsx
  packages/onchainkit/src/token/components/TokenSearch.test.tsx
  packages/onchainkit/src/token/components/TokenSearch.tsx
  packages/onchainkit/src/token/components/TokenSelectButton.tsx
  packages/onchainkit/src/token/components/TokenSelectDropdown.tsx
  packages/onchainkit/src/token/components/TokenSelectModal.test.tsx
  packages/onchainkit/src/token/components/TokenSelectModal.tsx
  packages/onchainkit/src/token/index.ts
  packages/onchainkit/src/token/types.ts
  packages/onchainkit/src/token/utils/formatAmount.ts
Labels: pkg: token, pkg: wallet, pkg: core
