Repository coinbase/onchainkit, pull requests merged in 2025-03, with the labels that each got.

#2065 Feat/getPriceQuote
  src/api/getPriceQuote.test.ts
  src/api/getPriceQuote.ts
  src/api/index.ts
  src/api/types.ts
  src/core/network/definitions/wallet.ts
  src/internal/hooks/useExchangeRate.test.tsx
  src/internal/hooks/useExchangeRate.tsx
Labels: pkg: core

#2066 refactor: improve WalletAdvanced sub-component handling
  src/wallet/components/WalletAdvancedContent.test.tsx
  src/wallet/components/WalletAdvancedContent.tsx
  src/wallet/components/WalletAdvancedProvider.test.tsx
  src/wallet/components/WalletAdvancedProvider.tsx
  src/wallet/components/WalletAdvancedQrReceive.test.tsx
  src/wallet/components/WalletAdvancedQrReceive.tsx
  src/wallet/components/WalletAdvancedSwap.test.tsx
  src/wallet/components/WalletAdvancedSwap.tsx
  src/wallet/components/WalletAdvancedTokenHoldings.test.tsx
  src/wallet/components/WalletAdvancedTokenHoldings.tsx
  src/wallet/components/WalletAdvancedTransactionActions.test.tsx
  src/wallet/components/WalletAdvancedTransactionActions.tsx
  src/wallet/components/WalletAdvancedWalletActions.test.tsx
  src/wallet/components/WalletAdvancedWalletActions.tsx
  src/wallet/types.ts
Labels: pkg: wallet

#2064 chore: Refactor WalletProvider event to use connector from useAccount
  src/core/analytics/types.ts
  src/wallet/components/ConnectWallet.test.tsx
  src/wallet/components/ConnectWallet.tsx
Labels: pkg: wallet, pkg: core

#2053 fix: Checkout component success event
  src/checkout/components/CheckoutButton.test.tsx
  src/checkout/components/CheckoutButton.tsx
  src/checkout/components/CheckoutProvider.test.tsx
  src/checkout/components/CheckoutProvider.tsx
  src/core/analytics/types.ts
Labels: pkg: core

#2085 fix: Update caching for Identity hooks
  src/identity/hooks/useAvatar.test.tsx
  src/identity/hooks/useAvatar.ts
  src/identity/hooks/useName.test.tsx
  src/identity/hooks/useName.ts
  src/identity/hooks/useSocials.test.tsx
  src/identity/hooks/useSocials.tsx
  src/identity/types.ts
  src/internal/constants.ts
  src/wallet/hooks/useGetETHBalance.test.ts
  src/wallet/hooks/useGetETHBalance.ts
Labels: pkg: identity, pkg: wallet

#2082 feat: add minikit provider
  package.json
  src/DefaultOnchainKitProviders.test.tsx
  src/DefaultOnchainKitProviders.tsx
  src/OnchainKitProvider.tsx
  src/core/createWagmiConfig.ts
  src/core/types.ts
  src/minikit/MiniKitProvider.test.tsx
  src/minikit/MiniKitProvider.tsx
  src/minikit/index.ts
  src/minikit/types.ts
  yarn.lock
Labels: root, pkg: core

#2077 refactor: remove swap findChildren
  playground/nextjs-app-router/onchainkit/package.json
  src/swap/components/Swap.test.tsx
  src/swap/components/Swap.tsx
  src/swap/components/SwapAmountInput.tsx
  src/swap/components/SwapButton.tsx
  src/swap/components/SwapDefault.tsx
  src/swap/components/SwapSettings.tsx
  src/swap/components/SwapToggleButton.tsx
  src/swap/types.ts
Labels: pkg: swap

#2102 feat: Batch support for Basenames and ENS names
  .changeset/sixty-tables-build.md
  src/identity/hooks/useNames.test.tsx
  src/identity/hooks/useNames.ts
  src/identity/index.ts
  src/identity/types.ts
  src/identity/utils/getNames.test.ts
  src/identity/utils/getNames.ts
Labels: pkg: identity

#2107 feat: Batch support for Base and Ethereum Avatars
  .changeset/famous-bees-hunt.md
  src/identity/hooks/useAvatars.test.tsx
  src/identity/hooks/useAvatars.ts
  src/identity/index.ts
  src/identity/types.ts
  src/identity/utils/getAvatars.test.tsx
  src/identity/utils/getAvatars.ts
Labels: pkg: identity

#2112 feat: export minikit
  .changeset/purple-rivers-remember.md
  CHANGELOG.md
  package.json
Labels: root

#1920 chore: Update IsBaseOptions and IsEthereumOptions naming convention
  .changeset/tame-rice-dress.md
  site/docs/pages/config/is-base.mdx
  site/docs/pages/config/is-ethereum.mdx
  site/docs/pages/config/types.mdx
  src/core/types.ts
  src/core/utils/isBase.ts
  src/core/utils/isEthereum.ts
  src/index.ts
Labels: documentation, pkg: core

#2128 feat: `AppchainBridge` deposit and withdrawal analytics
  .changeset/tall-shirts-live.md
  src/appchain/bridge/hooks/useDeposit.ts
  src/appchain/bridge/hooks/useWithdraw.ts
  src/core/analytics/constants.ts
  src/core/analytics/types.ts
Labels: pkg: core

#2105 feat: signature
  package.json
  playground/nextjs-app-router/components/Demo.tsx
  playground/nextjs-app-router/components/DemoOptions.tsx
  playground/nextjs-app-router/components/demo/Signature.tsx
  playground/nextjs-app-router/components/form/active-component.tsx
  playground/nextjs-app-router/onchainkit/package.json
  playground/nextjs-app-router/types/onchainkit.ts
  src/internal/components/Toast.tsx
  src/signature/components/Signature.test.tsx
  src/signature/components/Signature.tsx
  src/signature/components/SignatureButton.test.tsx
  src/signature/components/SignatureButton.tsx
  src/signature/components/SignatureIcon.test.tsx
  src/signature/components/SignatureIcon.tsx
  src/signature/components/SignatureLabel.test.tsx
  src/signature/components/SignatureLabel.tsx
  src/signature/components/SignatureProvider.test.tsx
  src/signature/components/SignatureProvider.tsx
  src/signature/components/SignatureStatus.test.tsx
  src/signature/components/SignatureStatus.tsx
  src/signature/components/SignatureToast.test.tsx
  src/signature/components/SignatureToast.tsx
  src/signature/index.ts
  src/signature/types.ts
  src/signature/utils/validateMessage.test.ts
  src/signature/utils/validateMessage.ts
Labels: root

#2068 chore: better TokenBalance
  .changeset/soft-melons-lie.md
  src/token/components/TokenBalance.test.tsx
  src/token/components/TokenBalance.tsx
  src/token/types.ts
  src/wallet/components/wallet-advanced-send/components/SendTokenSelector.test.tsx
Labels: pkg: token, pkg: wallet

#2132 chore: add supported networks documentation for getPortfolios
  site/docs/pages/api/get-portfolios.mdx
  src/api/getPortfolios.ts
Labels: documentation

#2135 chore(ONRAMP-5024):Make OnchainKit onramp utils usable without the OCK Provider (in non-React environments)
  src/fund/utils/fetchOnrampConfig.test.ts
  src/fund/utils/fetchOnrampConfig.ts
  src/fund/utils/fetchOnrampOptions.test.ts
  src/fund/utils/fetchOnrampOptions.ts
  src/fund/utils/fetchOnrampQuote.test.ts
  src/fund/utils/fetchOnrampQuote.ts
  src/fund/utils/fetchOnrampTransactionStatus.test.ts
  src/fund/utils/fetchOnrampTransactionStatus.ts
Labels: pkg: fund

#2137 chore: Update release PR workflow
  .github/workflows/release.yml
Labels: root

#2143 feat: Add Base light and dark theme
  .changeset/fluffy-icons-rhyme.md
  src/core/types.ts
  src/internal/hooks/useTheme.test.ts
  src/internal/hooks/useTheme.ts
  src/styles/tailwind-base.css
Labels: pkg: styles, pkg: core

#2140 feat: Add Badge tooltip display
  .changeset/eight-crabs-tan.md
  src/identity/components/Badge.test.tsx
  src/identity/components/Badge.tsx
  src/identity/components/IdentityCard.test.tsx
  src/identity/components/IdentityCard.tsx
  src/identity/types.ts
Labels: pkg: identity

#2151 chore: release
  .changeset/eight-crabs-tan.md
  .changeset/fluffy-icons-rhyme.md
  .changeset/soft-melons-lie.md
  .changeset/tall-shirts-live.md
  .changeset/tame-rice-dress.md
  src/version.ts
  yarn.lock
Labels: root

#2134 feat: WalletAdvanced Send
  playground/nextjs-app-router/onchainkit/package.json
  src/internal/hooks/useExchangeRate.test.tsx
  src/internal/hooks/useExchangeRate.tsx
  src/wallet/components/WalletAdvancedContent.test.tsx
  src/wallet/components/WalletAdvancedContent.tsx
  src/wallet/components/WalletAdvancedTransactionActions.test.tsx
  src/wallet/components/WalletAdvancedTransactionActions.tsx
  src/wallet/components/wallet-advanced-send/components/Send.test.tsx
  src/wallet/components/wallet-advanced-send/components/Send.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressInput.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressInput.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelection.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelection.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelector.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendAddressSelector.tsx
  src/wallet/components/wallet-advanced-send/components/SendButton.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendButton.tsx
  src/wallet/components/wallet-advanced-send/components/SendHeader.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendHeader.tsx
  src/wallet/components/wallet-advanced-send/components/SendProvider.test.tsx
  src/wallet/components/wallet-advanced-send/components/SendProvider.tsx
  src/wallet/components/wallet-advanced-send/constants.ts
  src/wallet/components/wallet-advanced-send/types.ts
  src/wallet/components/wallet-advanced-send/utils/getSendCalldata.test.ts
  src/wallet/components/wallet-advanced-send/utils/getSendCalldata.ts
  src/wallet/components/wallet-advanced-send/utils/resolveAddressInput.test.ts
  src/wallet/components/wallet-advanced-send/utils/resolveAddressInput.ts
  src/wallet/types.ts
Labels: pkg: wallet

#2160 chore: release
  .changeset/tall-shirts-live.md
  src/version.ts
Labels: root

#2157 Add redirects to verify which vercel.json file is being used
  site/vercel.json
  vercel/vercel.json
Labels: documentation

#2177 chore: Move README to root
  README.md
  assets/read-me-banner.png
  packages/onchainkit/README.md
Labels: root

#2181 fix: Update changesets for new workspace setup
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  packages/onchainkit/package.json
  packages/onchainkit/scripts/get-next-version.js
  packages/onchainkit/scripts/get-next-version.test.ts
  packages/playground/package.json
  pnpm-lock.yaml
Labels: root

#2185 chore: Eslint enable rule: ban-ts-comment
  eslint.config.mjs
  packages/onchainkit/src/identity/components/Avatar.test.tsx
  packages/onchainkit/src/identity/components/EthBalance.test.tsx
  packages/onchainkit/src/identity/components/Name.test.tsx
  packages/onchainkit/src/internal/hooks/useBreakpoints.test.ts
  packages/onchainkit/src/internal/hooks/useOutsideClick.test.ts
  packages/onchainkit/src/internal/hooks/usePreferredColorScheme.test.ts
  packages/onchainkit/src/signature/components/SignatureProvider.test.tsx
  packages/onchainkit/src/swap/components/SwapToast.test.tsx
  packages/onchainkit/src/swap/hooks/useAwaitCalls.test.ts
  packages/onchainkit/src/transaction/components/TransactionDefault.test.tsx
  packages/onchainkit/src/transaction/components/TransactionProvider.test.tsx
  packages/onchainkit/src/transaction/hooks/useWriteContracts.test.ts
  packages/onchainkit/src/wallet/components/ConnectWallet.test.tsx
  packages/onchainkit/src/wallet/components/WalletBottomSheet.tsx
  packages/onchainkit/src/wallet/components/WalletDropdown.tsx
  packages/onchainkit/src/wallet/components/WalletProvider.test.tsx
Labels: pkg: swap, root, pkg: identity, pkg: wallet

#2180 chore: Add Attestation caching
  .changeset/petite-guests-itch.md
  packages/onchainkit/src/identity/hooks/useAttestations.test.ts
  packages/onchainkit/src/identity/hooks/useAttestations.ts
  packages/onchainkit/src/identity/utils/getAttestations.test.ts
  packages/onchainkit/src/identity/utils/getAttestations.ts
Labels: pkg: identity

#2194 chore: Enable eslint no-unused-vars
  eslint.config.mjs
  packages/onchainkit/src/api/buildMintTransaction.ts
  packages/onchainkit/src/api/buildPayTransaction.ts
  packages/onchainkit/src/api/buildSwapTransaction.ts
  packages/onchainkit/src/api/getMintDetails.ts
  packages/onchainkit/src/api/getSwapQuote.ts
  packages/onchainkit/src/api/getTokenDetails.ts
  packages/onchainkit/src/identity/hooks/useAddress.test.tsx
  packages/onchainkit/src/identity/hooks/useAttestations.test.ts
  packages/onchainkit/src/identity/hooks/useAvatar.test.tsx
  packages/onchainkit/src/identity/hooks/useAvatars.test.tsx
  packages/onchainkit/src/identity/hooks/useName.test.tsx
  packages/onchainkit/src/identity/hooks/useNames.test.tsx
  packages/onchainkit/src/identity/hooks/useSocials.test.tsx
  packages/onchainkit/src/identity/utils/getAvatar.ts
  packages/onchainkit/src/identity/utils/getName.ts
  packages/onchainkit/src/internal/components/QrCode/gradientConstants.test.ts
  packages/onchainkit/src/internal/hooks/useLifecycleStatus.ts
  packages/onchainkit/src/token/components/TokenSearch.stories.tsx
Labels: root, pkg: token, pkg: identity

#2179 chore: refactor Wallet
  packages/onchainkit/src/identity/components/Identity.test.tsx
  packages/onchainkit/src/identity/components/Identity.tsx
  packages/onchainkit/src/identity/components/IdentityCard.test.tsx
  packages/onchainkit/src/wallet/components/Wallet.test.tsx
  packages/onchainkit/src/wallet/components/Wallet.tsx
  packages/onchainkit/src/wallet/components/WalletAdvanced.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvanced.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedAddressDetails.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedAddressDetails.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedDefault.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedDefault.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedProvider.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedProvider.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedQrReceive.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedQrReceive.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedSwap.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedSwap.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedTokenHoldings.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedTokenHoldings.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedTransactionActions.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedTransactionActions.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedWalletActions.test.tsx
  packages/onchainkit/src/wallet/components/WalletAdvancedWalletActions.tsx
  packages/onchainkit/src/wallet/components/WalletDefault.tsx
  packages/onchainkit/src/wallet/components/WalletDropdown.test.tsx
  packages/onchainkit/src/wallet/components/WalletDropdown.tsx
  packages/onchainkit/src/wallet/components/WalletDropdownContent.test.tsx
  packages/onchainkit/src/wallet/components/WalletDropdownContent.tsx
  packages/onchainkit/src/wallet/components/WalletIsland.test.tsx
  packages/onchainkit/src/wallet/components/WalletIsland.tsx
  packages/onchainkit/src/wallet/components/WalletProvider.test.tsx
  packages/onchainkit/src/wallet/components/WalletProvider.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/Send.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/Send.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendButton.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendButton.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendHeader.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendHeader.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendProvider.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendProvider.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendTokenSelector.test.tsx
  packages/onchainkit/src/wallet/components/wallet-advanced-send/components/SendTokenSelector.tsx
  packages/onchainkit/src/wallet/index.ts
  packages/onchainkit/src/wallet/types.ts
  packages/onchainkit/src/wallet/utils/getAnimations.test.ts
  packages/onchainkit/src/wallet/utils/getAnimations.ts
Labels: pkg: identity, pkg: wallet

#2195 chore: Enable eslint display-name rule
  eslint.config.mjs
  packages/onchainkit/src/appchain/bridge/components/AppchainBridgeWithdraw.test.tsx
  packages/onchainkit/src/appchain/bridge/components/AppchainBridgeWithdraw.tsx
  packages/onchainkit/src/fund/components/FundCardPaymentMethodSelectRow.tsx
  packages/onchainkit/src/fund/components/FundCardPaymentMethodSelectorToggle.tsx
  packages/onchainkit/src/internal/components/TextInput.tsx
  packages/onchainkit/src/internal/components/amount-input/CurrencyLabel.tsx
  packages/onchainkit/src/wallet/hooks/usePortfolio.test.tsx
Labels: root, pkg: wallet, pkg: fund
